{% set filterOptionsHtml %}
{{ govukCheckboxes({
  idPrefix: "special-educational-needs",
  name: "filter[send]",
  fieldset: {
    legend: {
      html: 'Special educational needs<span class="govuk-visually-hidden"> filter</span>',
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  items: sendItems,
  classes: "govuk-checkboxes--small"
}) }}

{{ govukCheckboxes({
  idPrefix: "provider-type",
  name: "filter[providerType]",
  fieldset: {
    legend: {
      html: 'Provider type<span class="govuk-visually-hidden"> filter</span>',
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  items: providerTypeItems,
  classes: "govuk-checkboxes--small"
}) }}

{{ govukCheckboxes({
  idPrefix: "age-group",
  name: "filter[ageGroup]",
  fieldset: {
    legend: {
      html: 'Age group<span class="govuk-visually-hidden"> filter</span>',
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  items: ageGroupItems,
  classes: "govuk-checkboxes--small"
}) }}

{{ govukCheckboxes({
  idPrefix: "visa-sponsorship",
  name: "filter[visaSponsorship]",
  fieldset: {
    legend: {
      html: 'Visa sponsorship<span class="govuk-visually-hidden"> filter</span>',
      classes: "govuk-fieldset__legend--s"
    }
  },
  formGroup: {
    classes: "app-filter__group"
  },
  items: visaSponsorshipItems,
  classes: "govuk-checkboxes--small"
}) }}
{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {# <div class="app-filter__selected">
      <div class="app-filter__selected-heading">
        <div class="app-filter__heading-title">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.filters.remove }}">Clear filters</a>
          </p>
        </div>
      </div>
      {% for category in selectedFilters.categories %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
        <ul class="app-filter-tags">
          {% for item in category.items %}
            <li>
              <a class="app-filter__tag" href="{{ item.href }}">
                <span class="govuk-visually-hidden">Remove this filter</span> {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div> #}
    <div class="app-filter__options">
      <form method="get" action="{{ actions.filters.apply }}" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{ filterOptionsHtml | safe }}
      </form>
    </div>
  </div>
</div>
