{% extends "_layouts/default.njk" %}

{% set title %}
  {% if resultsCount > 0 %}
    {{ resultsCount | numeral('0,0') }} provider {{- "s" if resultsCount > 1 }} found
  {% else %}
    No providers found
  {% endif %}
{% endset %}

{% block pageTitle %}
{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">

      {% include "./_filter-panel.njk" %}

    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "./_promoted-link.njk" %}

      {% include "./_search_panel.njk" %}

      {% include "./_sort-options.njk" %}

      {% if results.length %}

        <ul class="app-search-results">
          {% for provider in results %}
            <li class="app-search-results__item">
              {% include "./_provider-details.njk" %}
            </li>
          {% endfor %}
        </ul>

        {% if pagination.pages > 1 %}
          {{ appPagination( pagination ) }}
        {% endif %}

      {% else %}

        {% include "./_no-results.njk" %}

      {% endif %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="module">
  import { FilterToggleButton } from '/public/javascripts/components/filter-toggle-button.js'

  const filterToggleButton = new FilterToggleButton({
    bigModeMediaQuery: '(min-width: 48.063em)',
    startHidden: false,
    toggleButton: {
      container: $('.app-action-bar__filter'),
      showText: 'Show filter',
      hideText: 'Hide filter',
      classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
    },
    closeButton: {
      container: $('.app-filter__header-action'),
      text: 'Close'
    },
    filter: {
      container: $('.app-filter-layout__filter')
    }
  })

  filterToggleButton.init()
</script>
{% endblock %}
