{% extends "layout.html" %}
{% set title = 'Results on a map – Text on labels' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>A further iteration on the maps design following user research on <a href="/history/map-2">18 October</a>.</p>
      <p>In this design we:</p>

      <ul class="list list-bullet">
        <li>made the map full height and moved the footer to the bottom of the left column</li>
        <li>increased the map size on mobile</li>
        <li>removed the map marker and replaced it with text showing the provider name</li>
        <li>removed the key as it was no longer needed</li>
        <li>when there are more than 50 results, at a certain zoom level this shortens to the provider code to keep the map clean</li>
        <li>added all locations – provider addresses and training location addresses</li>
        <li>grouped multiple providers at the same location into a single pin</li>
        <li>grouped multiple courses at the same location into a single pin</li>
        <li>only show locations within the 20 mile radius</li>
        <li>adjusted the zoom level to always include the 5 closest pins (and always remain centred on the searched for location)</li>
        <li>updated the left list so that clicking a result opens the pin on the map</li>
        <li>masked over bad data by de-duping locations for a provider by postcode (eg Main site and contact address having the same postcode but slightly different addresses, meaning slightly different geocode points, usually about 100m from each other)</li>
      </ul>

      <h2 class="govuk-heading-l">Labels as markers</h2>

      <p>We observed users struggling to move around a set of pins – ‘which one did I open?’, ‘how do I find that result again?’. By adding text labels there’s a hint at what the pin means and it’s easier to find a pin or a specific provider.</p>

      <p>When there are many pins showing these labels can get cluttered and the map is hard to use. When this happens we shorten the label to only the provider code. It’s not as usable or as obvious, but pins are still distinct and identifiable. We need to see how well these codes test with users.</p>

      <h2 class="govuk-heading-l">Bad data</h2>

      <p>The address data we have is bad and produces some strange results on a map.</p>

      <p>Addresses are entered by hand in UCAS and we geocode them as best we can. There is a contact address and a set of training locations – with names and addresses.</p>

      <p>Our geocoded points might be more accurate if we take into account the name of a training location as well as its address. Though providers do different things with this field.</p>

      <h3 class="govuk-heading-m">Main sites</h3>

      <p>UCAS mandates that the first address is called ‘Main site’, sometimes this has an address, sometimes it doesn’t – it’s often the same as the contact address. But because they are entered by hand, the addresses often vary slightly – leading to slightly different geocoded points, meaning separate pin markers. We’ve deduplicated this by merging locations with the same postcode. But where one or more addresses have no postcode the problem remains.</p>

      <p>An alternative solution would be to merge points for a provider that are within a certain distance of each other, say 100m. We avoided this in the prototype because of the complexity of comparing the distance of every point with every other point.</p>

      <p>Ideally the geocoded points would be the same, because the addresses are the same.</p>

      <h3 class="govuk-heading-m">Location types</h3>

      <p>For school direct courses the training locations are usually the schools you can apply to train in, eg your host school. In this case the variety of locations for a school direct provider is illustrated well.</p>

      <p>For SCITTs this is sometimes true. But there are also large SCITTs that work over wide areas with hundreds of schools, some nationally. These providers let you apply to a hub, eg London or Manchester. The training locations listed are city names, and we geocode them to the centre of cities (mostly). This location represents an area. A pin in the middle of a city is a poor representation.</p>

      <p>We discussed this with Educate group: <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/652967938/Call+with+Educate+Group+-+Claire">findings are in Confluence</a>, and <a href="https://lookback.io/watch/ivTWHyrMDfXG3ij2W">the session is in Lookback</a>.</p>

      <p>We could begin to represent this better by asking providers to categorise their training locations, eg school, university, administrative address, other types of training centre.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Primary in London as loaded', id: 'primary-in-london-on-load' },
    { text: 'Result open', id: 'result-open' },
    { text: 'Zoomed out once', id: 'zoomed-out-once' },
    { text: 'Zoomed right out', id: 'zoomed-right-out' },
    { text: 'Results in Cornwall', id: 'results-in-cornwall' },
    { text: 'Multiple providers result open', id: 'multiple-providers-result-open' },
    { text: 'Zoomed right out', id: 'zoomed-right-out-2' },
    { text: 'Mobile view', id: 'mobile-view' },
    { text: 'Result open on mobile', id: 'result-open-on-mobile' },
    { text: 'Results in Brighton on mobile', id: 'results-in-brighton-on-mobile' }
  ] %}
  {{ macros.screenshotContents(contents) }}

{{ macros.screenshot('Primary in London as loaded', 'primary-in-london-on-load', '/public/images/history/map-3/thumbnails/01-primary-in-london-on-load.png', '/public/images/history/map-3/01-primary-in-london-on-load.png', '') }}

{{ macros.screenshot('Result open', 'result-open', '/public/images/history/map-3/thumbnails/02-result-open.png', '/public/images/history/map-3/02-result-open.png', '') }}

{{ macros.screenshot('Zoomed out once', 'zoomed-out-once', '/public/images/history/map-3/thumbnails/03-zoomed-out-once.png', '/public/images/history/map-3/03-zoomed-out-once.png', '') }}

{{ macros.screenshot('Zoomed right out', 'zoomed-right-out', '/public/images/history/map-3/thumbnails/04-zoomed-right-out.png', '/public/images/history/map-3/04-zoomed-right-out.png', '') }}

{{ macros.screenshot('Results in Cornwall', 'results-in-cornwall', '/public/images/history/map-3/thumbnails/05-results-in-cornwall.png', '/public/images/history/map-3/05-results-in-cornwall.png', '') }}

{{ macros.screenshot('Multiple providers result open', 'multiple-providers-result-open', '/public/images/history/map-3/thumbnails/06-multiple-providers-result-open.png', '/public/images/history/map-3/06-multiple-providers-result-open.png', '') }}

{{ macros.screenshot('Zoomed right out', 'zoomed-right-out-2', '/public/images/history/map-3/thumbnails/07-zoomed-right-out.png', '/public/images/history/map-3/07-zoomed-right-out.png', '') }}

{{ macros.screenshot('Mobile view', 'mobile-view', '/public/images/history/map-3/thumbnails/08-mobile-view.png', '/public/images/history/map-3/08-mobile-view.png', '') }}

{{ macros.screenshot('Result open on mobile', 'result-open-on-mobile', '/public/images/history/map-3/thumbnails/09-result-open-on-mobile.png', '/public/images/history/map-3/09-result-open-on-mobile.png', '') }}

{{ macros.screenshot('Results in Brighton on mobile', 'results-in-brighton-on-mobile', '/public/images/history/map-3/thumbnails/10-results-in-brighton-on-mobile.png', '/public/images/history/map-3/10-results-in-brighton-on-mobile.png', '') }}

</main>
{% endblock %}
