
{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <div class="sticky-header font-xsmall">
    <div class="compare-text">
      Your comparison table contains <span class="bold-text">3 courses</span>.
    </div>
    <div class="compare-button">
      <a href="compare.html" class="button">View comparison table</a>
    </div>
  </div>
  <div class="column-three-thirds ">
    {{macros.h1("73 teacher training courses found")}}
    <p>
      Courses around <span class="bold-text">London</span> offering training in <span class="bold-text">English</span>.
      <br>{{macros.link("sign-in","Save this search")}}
    </p>

  </div>
  <div>
    <div class="grid-row">

      <div class="column-one-third">
        {{ macros.filterResultsV3()}}
      </div>

      <div class="column-two-thirds">
        {{ macros.providerResultV3([

            {
              'url':'courses/lmu/ucl.html',
              'name':'London Metropolitan University',
              'type':'University',
              'subjects':'English',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'17',
              'typeOfPartnerSchools':'Primary, Secondary, Boys only schools, Girls only schools',
              'starts':'September 2017',
              'address':'Holloway Road, London N7 8DB'
            },
            {
              'url':'courses/tls/ucl.html',
              'name':'Teaching London SCITT',
              'type':'SCITT',
              'subjects':'English',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'28',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'September 2017',
              'address':'Gower Street, London WC1E 6BT'
            },
            {
              'url':'courses/gul/ucl.html',
              'name':'Goldsmiths University of London',
              'type':'University',
              'subjects':'English',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Qualified Teacher Status',
              'noOfPartnerSchools':'8',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'September 2017',
              'address':'New Cross, London SE14 6NW'
            },
            {
              'url':'courses/kcl/ucl.html',
              'name':'King\'s College London',
              'type':'University',
              'subjects':'English',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'13',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'September 2017',
              'address':'Lampton Avenue, Hounslow TW3 4EP'
            }
          ])}}
      </div>

    </div>
  </div>

</main>
  {% endblock %}
