{% extends "layout-withNav.html" %}


{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <!--
      <h1 class="heading-xlarge">
        Welcome John !
      </h1>
      <div>
        <h2 class="heading-medium">
          Find a teacher training course
        </h2>
        <p>
          <a href="search.html">Search for a teacher training course in England</a>
        </p>
      </div>
    -->
    
      <div>
        <h2 class="heading-medium">
          Submitted applications
        </h2>
        <div>
          You do not have any submitted applications
        </div>
      </div>


      <div>
        <h2 class="heading-medium">
          Saved applications
        </h2>
        <p>
          <a href="#">University College London</a>
        </p>
      </div>

      </div>

      <div class="column-one-third">
        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Teaching</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">How to become a teacher?</a></li>
              <li><a href="#">Bursaries and finance</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>

  </main>

  {% endblock %}
