{% extends "layout.html" %}

{% block page_title %}
Apply to become a teacher
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      <p>Use this service to <a href="q1.html">search and compare</a> postgraduate teacher training courses in England.</p>

      <p>If you have an account you can also:</p>
      <ul class="list list-bullet">
        <li>save your searches</li>
        <li>apply for a teacher training course</li>
        <li>track your applications</li>
      </uL>
      <h2 class="heading-medium">Your account</h2>
      <p><a href="sign-in.html">Sign in</a> to your account</p>
      <p>You can<a href="sign-up.html"> create an account</a> if you don't have one.</p>
      <h2 class="heading-medium">Qualifications and experience</h2>
      <div>
        <p>
        To get onto a training course you’ll need the following qualifications, or the international equivalent:
      </p>
        <ul class="list list-bullet">
          <li>grade C or above GCSEs in maths and English, plus a science subject if you want to teach in a primary school</li>
          <li>a British degree</li>
        </ul>
        <p>
          In most cases you’ll also need <a href="https://getintoteaching.education.gov.uk/school-experience"> school experience</a>.
        </p>

        <p>
          If English isn't your first language you'll need to pass the IELTS exam with a score of 6.5 or higher, or an equivalent qualification.
        </p>

        <h3 class="heading-small">If you don’t have a degree</h3>
        <p>Find out about <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/university-led-training/university-led-undergraduate-training">teaching if you don’t have a degree</a> on the Get into Teaching website.</p>

      </div>




    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Teaching</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Teacher training funding</a></li>
            <li><a href="#">Get into teaching</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

</main>

{% endblock %}
