{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("q1.html")}}
      {{macros.h1("What's your highest degree?")}}
      <p>Your qualification can affect the amount of bursary you're entitled to. A bursary is a tax-free sum of money. Not all courses offer bursaries.</p>
      {{macros.formStart("get","q3")}}
      <div class="form-group">
      {{macros.radio("phdInput","PhD","degree","degree","PhD")}}
      {{macros.radio("mastersInput","Master’s","degree","degree","Masters")}}
      {{macros.radio("firstInput","First","degree","degree","first")}}
      {{macros.radio("twooneInput","2:1","degree","degree","twoone")}}
      {{macros.radio("twotwoInput","2:2","degree","degree","twotwo")}}
    </div>
    </br>
      {{ macros.submit("Next")}}
      {{macros.formEnd()}}
    </div>
  </div>
</main>

{% endblock %}
