{% extends "layout.html" %}

{% block page_title %}
Choose your subjects
{% endblock %}

{% block content %}
<main id="content" role="main" onload="makeMeAlert()">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("q2.html")}}
      {{macros.h1("What subjects would you like to teach?")}}
      {% if degree != 'other' %}
          <p>
            You can get a bursary for certain subjects.
          </p>
      {% endif %}
      {{macros.text("Choose the subjects you'd like to teach.")}}
      {{macros.formStart("post","q4")}}
      <div>
        <details>
          <summary><span class="summary">Primary</span></summary>
          <div class="panel panel-border-narrow">
            {{macros.checkboxWithBursary("subject",["Primary","Primary maths","Primary (general with maths)","Primary (physical education)"], degree) }}
          </div>
        </details>
        <details>
          <summary><span class="summary">Secondary</span></summary>
          <div class="panel panel-border-narrow">
            {{macros.checkboxWithBursary("subject",[
            "Art and design",
            "Biology",
            "Business studies",
            "Chemistry",
            "Citizenship",
            "Classics",
            "Computing",
            "Dance",
            "Design and technology",
            "Drama",
            "Economics",
            "Engineering",
            "English",
            "Geography",
            "Health and social care",
            "History",
            "Leisure and tourism",
            "Maths",
            "Media studies",
            "Modern foreign languages",
            "Music",
            "Physical education",
            "Physics",
            "Physics with mathematics",
            "Psychology",
            "Religious education",
            "Social sciences"], degree) }}
          </div>
        </details>
      </div>
    </br>

    {{macros.submit("Next")}}
    {{macros.formEnd()}}
  </div>
</div>
</main>

{% endblock %}
