{% extends "layout.html" %}

{% block page_title %}
  Apply to become a teacher
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Create an account
      </h1>
      {{macros.formStart()}}
        {{macros.textbox("email","Email")}}
        {{macros.password("password","Create a password")}}
        <fieldset>
          <div class="multiple-choice">
           <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
           <label for="waste-type-1">I accept the <a href="#">terms and conditions</a></label>
          </div>
        </fieldset>
        </br>
        {{macros.submitLink("Create an account","home.html")}}
      {{macros.formEnd()}}

      <h2 class="heading-medium">
        Already have an account ?
      </h2>
        <a href="sign-in.html" > Sign in to your account</a>

    </div>



  </div>

</main>

{% endblock %}
