{% extends "layout.html" %}

{% block page_title %}
Apply to become a teacher
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Sign in to your account
      </h1>
      {{macros.formStart()}}
      {{macros.textbox("email","Email")}}
      {{macros.password("password","Password")}}
      {{macros.submitLink("Sign in","home.html")}}
      {{macros.formEnd()}}
      {{macros.link("#","Forgot your password?")}}

      <br><br>
      <p>You can <a href="sign-up.html" > create an account</a> if you don't have one already.</p>

    </div>


  </div>

</main>

{% endblock %}
