{% set trainWithUs %}
Bath Spa University has a long and successful tradition of Initial Teacher Education dating back over 70 years. Newton Park campus was opened as Bath Teacher Training College in the 1940s, and the University, in partnership with local schools, is now the largest provider of teacher education in the area, extending across all counties in the South West and beyond.

The Bath Spa University Partnership provides a challenging and highly effective training programme that takes place in university and school. You will learn our ambitious ITE Partnership Curriculum both in University and School and be supported by subject and phase experts throughout the programme. Successfully engaging with our ambitious ITE Partnership Curriculum will ensure you are highly employable with a secure foundation for your role as an Early Career Teacher.

Our belief that all children deserve the very best teachers was important to our Partnership in those early days, and is still central to our practice today. We believe that education plays a key role in promoting social justice and reducing social inequalities, and that well qualified and highly skilled teachers make a difference to the lives and futures of the learners they teach.

Bath Spa University has been awarded a Grade 1 ‘outstanding’ for its Primary and Secondary ITE programmes by the quality regulator Ofsted, which is the highest grade that can be given.

Training with us will ensure you become the very best teacher that all children and young people deserve.
{% endset %}

<div class="govuk-!-margin-bottom-8">
  <h2 id="about-accredited-body" class="govuk-heading-l">About this accredited provider</h2>
  {{ trainWithUs | markdown | safe }}
</div>
