<div class="govuk-!-margin-bottom-8">
  <h2 id="contact-accredited-body" class="govuk-heading-l">Contact this accredited provider</h2>
  <dl class="app-description-list">
    <dt class="app-list--description__label">Email</dt>
    <dd><a href="mailto:teaching@bathspa.ac.uk">teaching@bathspa.ac.uk</a></dd>
    <dt class="app-list--description__label">Telephone</dt>
    <dd>01225 876180</dd>
    <dt class="app-list--description__label">Website</dt>
    <dd><a href="https://www.bathspa.ac.uk/how-to-apply/teacher-training/">https://www.bathspa.ac.uk/how-to-apply/teacher-training/</a></dd>
    <dt class="app-list--description__label">Address</dt>
    <dd>
      Newton Park Campus<br>
      Newton St Loe<br>
      Bath<br>
      Bath and North East Somerset<br>
      BA2 9BN
    </dd>
  </dl>
</div>
