<div class="govuk-!-margin-bottom-8">
  <h2 id="course-summary" class="govuk-heading-l">Course summary</h2>
  <p class="govuk-body">Our four key principles of collaboration, critical thinking, creativity, and care form the foundation of our practice and partnership. They are interwoven through all aspects of our curriculum and across university and school training. They form the basis of our commitment to social justice.</p>
  <p class="govuk-body">The Bath Spa ITE Partnership Curriculum is an ambitious curriculum which has been developed with our Partnership Schools. It is a carefully sequenced and integrated curriculum which comprises 8 components:</p>
  <p class="govuk-body">*Professional behaviours and responsibilities
  *Subject, pedagogical and curricular knowledge
  *How pupils learn
  *Planning for Learning
  *Adaptive teaching and inclusion
  *Assessment of pupils
  *Managing behaviour and the environment for learning
  *Pupil health and wellbeing</p>
  <p class="govuk-body">Throughout the programme you will gain, apply and refine your knowledge of teaching, pedagogy and classroom skills. A blended approach to learning has been adopted which provides face to face teaching as well as time to access key materials online. Opportunities exist for you to meet and learn from current classroom practitioners ahead of school placements.</p>
  <p class="govuk-body">As part of your academic award you will undertake two assignments which will contribute 60 credits towards a Masters award. These assignments are informed by the relevant research literature and theories that will complement and enrich your professional practice whilst enabling you to develop your subject expertise.</p>
  <p class="govuk-body">Spark curiosity and inspire the next generation of innovators. Teaching science is hugely rewarding – from day one. The Science PGCE at Bath Spa University is all about active learning. So, you’ll be involved in the life of the science faculty you are placed in and you’ll be expected to demonstrate your professional attributes from the outset. While you’ll focus on your chosen subject, you’ll also be given the opportunity to contribute to the wider curriculum and, in particular, STEM (science, technology, engineering and mathematics)
  activities.</p>
  <p class="govuk-body">You’ll learn how to engage children in science, challenge misconceptions
  and help them develop vital critical thinking skills. Through workshops,
  you’ll be invited to explore a range of teaching resources and techniques,
  and to undertake experimental work, including information technology. We also explore how to use the outdoors as a teaching resource, as well as looking at how classroom management strategies can help you
  teach effective science lessons. To support your studies, there are
  extensive materials available on the internet. You’ll be encouraged to
  develop your ICT skills in preparing presentations, as well as using ICT for
  monitoring and recording your pupils’ progress.</p>
</div>
