{% set entryRequirements %}
### Qualifications needed

An undergraduate degree at class 2:2 or above, or equivalent.

Your degree subject should be in biology or a similar subject. Otherwise you’ll need to prove your subject knowledge in some other way.

Grade 4 (C) or above in English and maths, or equivalent qualification.

We’ll consider candidates with pending GCSEs.

We’ll consider candidates who need to take a GCSE equivalency test in English or maths.

### Personal qualities

You’ll need to be well suited to the teaching profession both personally and academically. We look for people with a committed professional approach and an exceptional work ethic. You’ll need to be organised, flexible and unflappable, as well as being able to communicate, interact and relate well to everyone. When entering the teaching profession, having strong emotional resilience and a sense of humour will give you the edge.

### Other requirements

During your training with us, we will implement, support and assure your competency in Fundamental English and mathematics, as required for the award of Qualified Teacher Status (QTS)

Fitness to train to teach check to ensure you are medically fit to take a teacher training course.

Disclosure and Barring Service (DBS) checks – this is the Government scheme, to enable the identification of people who are barred from working with children and vulnerable adults. For more information visit: [GOV.UK/DBS](https://www.gov.uk/disclosure-barring-service-check)
{% endset %}

<div class="govuk-!-margin-bottom-8">
  <h2 id="entry-requirements" class="govuk-heading-l">Entry requirements</h2>
  {{ entryRequirements | markdown | safe }}
</div>
