<div class="govuk-!-margin-bottom-8">
  <h2 id="fees-and-financial-support" class="govuk-heading-l">Fees and financial support</h2>

  <table class="govuk-table app-table--vertical-align-middle">
    <caption class="govuk-table__caption govuk-!-font-weight-regular govuk-!-margin-bottom-4">The course fees
      for 2023 to 2024 are as follows:
    </caption>
    <thead class="govuk-table__head">
    <tr class="govuk-visually-hidden govuk-table__row">
      <th class="govuk-table__header">Student type</th>
      <th class="govuk-table__header">Fees to pay</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">UK students</td>
      <td class="govuk-table__cell" data-qa="course__uk_fees">£9,250</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">International students</td>
      <td class="govuk-table__cell" data-qa="course__international_fees">£14,400</td>
    </tr>
    </tbody>
  </table>

  <p class="govuk-body">Please note, these are the fees for 2022/23. Fees for 2023/24 will be published in January.</p>

  <aside class="app-advice" role="complementary">
    <h3 class="app-advice__title">
      <span class="app-advice__caption">Advice from Get Into Teaching</span>
      Financial support from the government
    </h3>

    <div class="app-advice__body">
      <p class="govuk-body">You could be eligible for a bursary of £20,000.</p>

      <p class="govuk-body">
        To be eligible for a bursary you’ll need a 2:2 degree in any subject. You do not need to apply
        for a bursary. If you’re eligible, you’ll automatically start receiving it when you start the
        course.
      </p>

      <p class="govuk-body">
        You may also be eligible for a student loan. These are normally for undergraduate courses but
        you can also apply if you do postgraduate teacher training.
        <a href="https://www.gov.uk/student-finance-calculator">
          Find out how much loan you could get using the student finance calculator
        </a>
        .
      </p>

      <p class="govuk-body">
        Depending on your immigration status, financial support may not be available. Find out about

        <a href="https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen">
          training to teach if you’re a non-UK citizen
        </a>
      </p>

      <p class="govuk-body">
        <a href="https://getintoteaching.education.gov.uk/funding-and-support">
          Learn more about ways to fund your training
        </a>
        .
      </p>
    </div>
  </aside>

  <h3 class="govuk-heading-m">Financial support from the accredited provider</h3>

  <p class="govuk-body">Bath Spa University offer bursaries to PGCE students who are eligible for Home student funding. Please visit <a href="https://www.bathspa.ac.uk/students/student-finance/scholarships-and-bursaries/bath-spa-university-pgce-bursary/" class="govuk-link">Bath Spa University PGCE Bursary</a> for further information.</p>

</div>
