<div class="govuk-!-margin-bottom-8">
  <h2 id="fees-and-financial-support" class="govuk-heading-l">Fees and financial support</h2>

  <p class="govuk-body">The course fees for UK students in 2023 to 2024 are £9,250.</p>

  <aside class="app-advice" role="complementary">
    <h3 class="app-advice__title">
      <span class="app-advice__caption">Advice from Get Into Teaching</span>
      Financial support from the government
    </h3>

    <div class="app-advice__body">
      <p class="govuk-body">You could be eligible for a bursary of £20,000.</p>

      <p class="govuk-body">
        To be eligible for a bursary you’ll need a 2:2 degree in any subject. You do not need to apply
        for a bursary. If you’re eligible, you’ll automatically start receiving it when you start the
        course.
      </p>

      <p class="govuk-body">
        You may also be eligible for a student loan. These are normally for undergraduate courses but
        you can also apply if you do postgraduate teacher training.
        <a href="https://www.gov.uk/student-finance-calculator">
          Find out how much loan you could get using the student finance calculator
        </a>
        .
      </p>

      <p class="govuk-body">
        Depending on your immigration status, financial support may not be available. Find out about

        <a href="https://www.gov.uk/government/publications/train-to-teach-in-england-non-uk-applicants/train-to-teach-in-england-if-youre-a-non-uk-citizen">
          training to teach if you’re a non-UK citizen
        </a>
      </p>

      <p class="govuk-body">
        <a href="https://getintoteaching.education.gov.uk/funding-and-support">
          Learn more about ways to fund your training
        </a>
        .
      </p>
    </div>
  </aside>

</div>
