<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <dl class="app-description-list govuk-!-margin-bottom-8">


    <dt class="app-description-list__label">Financial support</dt>
    <dd>Bursaries and student finance are available if you’re eligible</dd>


    <dt class="app-list--description__label">Qualification</dt>
    <dd>


      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      PGCE with QTS
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.</p>
<p class="govuk-body">It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.</p>
<p class="govuk-body">Many PGCE courses include credits that count toward a Master’s degree.</p>

  </div>
</details>

    </dd>


    <dt class="app-list--description__label">Age range</dt>
    <dd>11 to 16 - secondary</dd>


    <dt class="app-list--description__label">Course length</dt>
    <dd>1 year  - full time</dd>


    <dt class="app-list--description__label">Date you can apply from</dt>
    <dd>11 October 2022</dd>


    <dt class="app-list--description__label">Date course starts</dt>
    <dd>September 2023</dd>
    <dt class="app-list--description__label">Academic year</dt>
    <dd>2023 to 2024</dd>


    <dt class="app-list--description__label">Website</dt>
    <dd><a class="govuk-link" href="https://www.bathspa.ac.uk/how-to-apply/teacher-training/">https://www.bathspa.ac.uk/how-to-apply/teacher-training/</a></dd>

</dl>

    </div>
  </div>
