{% set trainingWithDisabilities %}
### Student Wellbeing Services
Questions about mental health, money or wellbeing? We provide professional advice and guidance, to help you make the most of your studies and university life.

### Disability and Accessibility
All students should have an equal opportunity to experience university. We provide confidential information, guidance, and practical support to students with a disability or specific learning difference.

### Mental health and wellbeing
Mental Health Practitioners are available to speak with applicants and current students about your situation and explore options. You can get help liaising with external services and access short term counselling at Bath Spa.

### Money Advice
We give students practical advice on managing money, financial entitlement and sourcing additional income. Our aim is to enable you to take control of your finances.

Further information can be found  on our website, [Bath Spa University Student Wellbeing Services](https://www.bathspa.ac.uk/students/student-wellbeing-services/)
{% endset %}

<div class="govuk-!-margin-bottom-8">
  <h2 id="training-with-disabilities" class="govuk-heading-l">Training with disabilities and other needs</h2>
  {{ trainingWithDisabilities | markdown | safe }}
</div>
