<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="advice">Support and advice</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">For support and advice, you can speak to a <a class="govuk-link" href="https://beta-adviser-getintoteaching.education.gov.uk/">Get Into Teaching</a> adviser for free. They’re all experienced teachers who can help you to prepare your application, book school experience, and access exclusive teaching events.</p>
      <p class="govuk-body">You can also call Get Into Teaching free of charge on 0800 389 2500, or speak to an adviser using their <a class="govuk-link" href="https://beta-getintoteaching.education.gov.uk/#talk-to-us">online chat service</a> Monday to Friday, 8.30am to 5pm (except public holidays).</p>
      <p class="govuk-body">Find out about the different <a href="https://getintoteaching.education.gov.uk/ways-to-train">ways to train</a> if you do not have a degree, or are already an experienced teacher.</p>

      <h3 class="govuk-heading-m">Is there something wrong with this page?</h3>
      <p class="govuk-body">If there is something wrong with this course listing, <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Edit {{ course.name }} ({{ provider.code }}/{{ course.code }})">contact us by email</a>.</p>
    </div>
  </div>
</section>
