<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="access-needs">Training with disabilities and other&nbsp;needs</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ course.provider.train_with_disability | markdown | safe }}
    </div>
  </div>
</section>
