<div class="govuk-toggle" data-module="toggle">
  <button class="govuk-toggle__link js-toggle" aria-expanded="false" aria-controls="searchFilters">
    Filter the results
  </button>

  <div class="govuk-toggle__target" id="searchFilters" data-qa="filters">
    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Location</h4>
      <ul class="filter-form__value--list">
        <li>
          {% if data['location'] == 'Across England' %}
            Across England
          {% else %}
            {{ data['formattedAddress'] or data['postcode-town-or-city'] or 'Across England' }}
          {% endif %}
        </li>
      </ul>
      <a class="govuk-link" href="/results/filters/location">Change location</a>
    </div>

    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Subjects</h4>
      <ul class="filter-form__value--list">
        {% if data['sen'] %}<li>Only SEN courses</li>{% endif %}
        {% for subject in data.selectedSubjects %}
          <li>{{ subject }}</li>
        {% endfor %}
      </ul>
      <a class="govuk-link" href="/results/filters/subjects">Change subjects</a>
    </div>

    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Study type</h4>
      <ul class="filter-form__value--list">
        {% for option in data.studyTypes %}
          {% if selectedStudyTypes.includes(option.value) %}
            <li>{{ option.text }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <a class="govuk-link" href="/results/filters/study-type">Change study type</a>
    </div>

    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Qualifications</h4>
      <ul class="filter-form__value--list">
        {% if selectedQualificationOption.length == 3 %}
          <li>All qualifications</li>
        {% else %}
          {% for option in data.qualificationOptions %}
            {% if selectedQualificationOption.includes(option.value) %}
              <li>{{ option.text }}</li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
      <a class="govuk-link" href="/results/filters/qualification">Change qualifications</a>
    </div>

    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Salary</h4>
      <ul class="filter-form__value--list">
        {% for option in data.salaryOptions %}
          {% if selectedSalaryOption == option.value %}
            <li>{{ option.text }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <a class="govuk-link" href="/results/filters/salary">Change salary option</a>
    </div>

    <div class="filter-form">
      <h4 class="govuk-heading-s filter-form__title">Vacancies</h4>
      <ul class="filter-form__value--list">
        {% for option in data.vacancyOptions %}
          {% if selectedVacancyOption == option.value %}
            <li>{{ option.text }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <a class="govuk-link" href="/results/filters/vacancy">Change vacancies</a>
    </div>
  </div>
</div>
