{% extends "_layouts/default.njk" %}

{% set title = "651 biology courses in England" %}

{% block pageTitle %}
{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukButton({
            text: "View your courses",
            href: "/hackday"
          }) }}

          {{ govukButton({
            text: "Add more preferences",
            href: actions.next,
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Top 3 courses that match your search</h2>

      <ul class="app-search-results">
        <li class="app-search-results__item">
          <h3 class="app-search-result__item-title">
            <a
              class="govuk-link"
              href="/hackday/course/1">
              {# /providers/B20/courses/CX11 #}
              <span class="app-search-result__provider-name">Bath Spa University</span>

              <br/>

              <span class="app-search-result__course-name">Biology (CX11)</span>
            </a>
          </h3>

          <dl class="app-result-detail">
            <div class="app-result-detail__row">
              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Full time or part time</dt>

                <dd class="app-result-detail__value">Full time</dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Qualification</dt>

                <dd class="app-result-detail__value">
                  <abbr title="Postgraduate certificate in education">PGCE</abbr>

                  with

                  <abbr title="Qualified teacher status">QTS</abbr>
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Financial support</dt>

                <dd class="app-result-detail__value">
                  Bursaries and student finance are available if you’re eligible
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Degree required</dt>

                <dd class="app-result-detail__value">
                  An undergraduate degree at class 2:2 or above, or equivalent
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Visa sponsorship</dt>

                <dd class="app-result-detail__value">Student visas can be sponsored</dd>
              </div>
            </div>
          </dl>
        </li>

        <li class="app-search-results__item">
          <h3 class="app-search-result__item-title">
            <a
              class="govuk-link"
              href="#">
              {# /providers/B28/courses/2KN2 #}
              <span class="app-search-result__provider-name">BEC Teacher Training</span>

              <br/>

              <span class="app-search-result__course-name">Biology (2KN2)</span>
            </a>
          </h3>

          <dl class="app-result-detail">
            <div class="app-result-detail__row">
              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Full time or part time</dt>

                <dd class="app-result-detail__value">Full time</dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Qualification</dt>

                <dd class="app-result-detail__value">
                  <abbr title="Postgraduate certificate in education">PGCE</abbr>

                  with

                  <abbr title="Qualified teacher status">QTS</abbr>
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Financial support</dt>

                <dd class="app-result-detail__value">
                  Bursaries and student finance are available if you’re eligible
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Degree required</dt>

                <dd class="app-result-detail__value">
                  An undergraduate degree at class 2:2 or above, or equivalent
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Visa sponsorship</dt>

                <dd class="app-result-detail__value">Visas cannot be sponsored</dd>
              </div>
            </div>
          </dl>
        </li>

        <li class="app-search-results__item">
          <h3 class="app-search-result__item-title">
            <a
              class="govuk-link"
              href="#">
              {# /providers/B28/courses/37VJ #}
              <span class="app-search-result__provider-name">BEC Teacher Training</span>

              <br/>

              <span class="app-search-result__course-name">Biology (37VJ)</span>
            </a>
          </h3>

          <dl class="app-result-detail">
            <div class="app-result-detail__row">
              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Full time or part time</dt>

                <dd class="app-result-detail__value">Full time</dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Qualification</dt>

                <dd class="app-result-detail__value">
                  <abbr title="Qualified teacher status">QTS</abbr>

                  only
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Financial support</dt>

                <dd class="app-result-detail__value">
                  Bursaries and student finance are available if you’re eligible
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Degree required</dt>

                <dd class="app-result-detail__value">
                  An undergraduate degree at class 2:2 or above, or equivalent
                </dd>
              </div>

              <div class="app-result-detail__row">
                <dt class="app-result-detail__key">Visa sponsorship</dt>

                <dd class="app-result-detail__value">Visas cannot be sponsored</dd>
              </div>
            </div>
          </dl>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
