{% macro screenshotContents(contents) %}
<div class="govuk-!-margin-top-4 govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">Screenshots</h2>
  <ul class="govuk-list">
    {% for c in contents %}
      <li><a href="#{{ c.id }}">{{ c.text }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro designHistoryBreadcrumbs() %}
  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  <div class="dont-print">
    {{
      govukBreadcrumbs({
        items: [
          {
            href: "/history",
            text: "Design history"
          }
        ]
      })
    }}
  </div>
{% endmacro %}

{% macro screenshot(title, id, thumbnail, full, text = '', headingClass = 'govuk-heading-l', headingLevel = 'h2') %}
<div class="design-history-item govuk-!-margin-bottom-9">
  <{{headingLevel}} class="{{headingClass}}" id="{{ id }}">{{ title }}</{{headingLevel}}>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds design-history-screenshot">
      <div class="govuk-!-margin-bottom-6">
        <a href="{{ full }}">
          <img src="{{ thumbnail }}" width="630" alt="Screenshot of {{ title }}" />
        </a>
      </div>
      <div class="design-history-text">
        {{ text | safe }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro backLink(href = "/", text = "Back") %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({ text: text, href: href }) }}
{% endmacro %}

{#
  field:
    name:
    text:
    more:
#}

{% macro radioGroup(name, fields, errors = false, index = 0) %}
  {% set e = false %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}

    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
      {% for field in fields %}
        {% set i = loop.index + index %}
        {% if field.or %}
          <div class="govuk-radios__divider">or</div>
        {% else %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="radio-{{ name }}-part-{{ i }}"
              type="radio"
              name="{{ name }}"
              value="{{ field.name }}"
              {% if field.more %}data-aria-controls="radio-{{ name }}-part-{{ i }}-extra"{% endif %}
              {% if field.selected %}
                checked
              {% else %}
                {{ checked(name, field.name) }}
              {% endif %}
            >
            <label
              class="govuk-label govuk-radios__label{% if field.text %} govuk-label--s{% endif %}"
              for="radio-{{ name }}-part-{{ i }}"
              {% if field.text %}aria-describedby="radio-{{ name }}-part-{{ i }}-hint"{% endif %}
            >
              {{ field.name | safe }}
            </label>
            {% if field.text %}
              <span
                class="govuk-hint govuk-radios__hint"
                id="radio-{{ name }}-part-{{ i }}-hint">
                  {{ field.text | safe }}
              </span>
            {% endif %}
          </div>
          {% if field.more %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="radio-{{ name }}-part-{{ i }}-extra">
              {{ field.more | safe }}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro part(data) %}
  {% if (data) %}
    <p>{{ data }}</p>
  {% endif %}
{% endmacro %}

{% macro checkboxGroup(name, fields, errors = false, index = 0, allBold = false) %}
  {% set e = false %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    <div class="govuk-checkboxes" data-module="checkboxes">
      {% for field in fields %}
        {% set i = loop.index + index %}
        <div class="govuk-checkboxes__item">
          <input
            id="checkbox-part-{{ i }}"
            type="checkbox"
            name="{{ name }}"
            value="{{ field.name }}"
            class="govuk-checkboxes__input"
            {% if field.more %}data-aria-controls="checkbox-part-{{ i }}-extra"{% endif %}
            {{ checked(name, field.name) }}
          >
          <label
            for="checkbox-part-{{ i }}"
            class="govuk-label govuk-checkboxes__label{% if field.text or allBold %} govuk-label--s{% endif %}"
            {% if field.text %}aria-describedby="checkbox-part-{{ i }}-extra-hint"{% endif %}
          >
            {{ field.name }}
          </label>
          {% if field.text %}
            <span
              class="govuk-hint govuk-checkboxes__hint"
              id="checkbox-{{ name }}-part-{{ i }}-hint">
                {{ field.text | safe }}
            </span>
          {% endif %}
        </div>
        {% if field.more %}
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="checkbox-part-{{ i }}-extra">
            {{ field.more | safe }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro textbox(id, label, helpText = false, size = '', prefix = false, errors = false, v = false) %}
  {% set e = false %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="{{id}}">{{label | safe}}</label>
    {% if helpText %}
      <span class="govuk-hint">{{helpText | safe}}</span>
    {% endif %}
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    {% if prefix %}
      <span class="govuk-prefix-input">{{ prefix }}</span>
    {% endif %}
    <input class="govuk-input {{ size or 'govuk-input--width-20' }}" name="{{id}}" type="text" id="{{id}}" value="{{ v or value(id) }}">
  </div>
{% endmacro %}

{% macro h1(text) %}
<h1 class="govuk-heading-xl">{{text}}</h1>
{% endmacro %}

{% macro submit(label) %}
<input type="submit" class="govuk-button" value="{{label}}">
{% endmacro %}

<!-- Header on top of the results showing number of courses, New search and sorting order -->
{% macro resultsHeader(countString = '40 courses', mapView = false) %}
<div class="resultsHeader">
  <p {% if not mapView %}class="results-found"{% endif %}>
    {% if not mapView %}
      {{ countString }} found
      <span>
        <a href="/start/location">New search</a>
      </span>
    {% endif %}
  </p>
  {% if value('location') == 'Across England' %}
  <p class="resultsSortingOptions">
    <div class="sortLabel">Sorted by training provider</div>
  </p>
  {% elseif (not mapView) %}
  <p class="resultsSortingOptions">
    <a href="/results?map=yes">View on a map</a>
  </p>
  {% endif %}
  {% if mapView %}
  <p>{{ countString }} found within 50 miles</p>

  <ul class="govuk-list add-top-margin" style="padding-bottom: 20px">
    <li><a href="/results">View results as a list</a></li>
    <li><a href="/start/location">New search</a></li>
    {# <li><a href="/start/location">Filter the results</a></li> #}
  </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro helpText(label,text) %}
<details data-module="govuk-details">
  <summary><span class="summary">{{label}}</span></summary>
  <div class="govuk-inset-text">
    <p>
      {{text}}
    </p>
  </div>
</details>
{% endmacro %}
