{% macro betaBanner() %}
<div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
<div class="phase-banner beta-banner">
  <p>
    You can <a href="https://www.ucas.com/ucas/teacher-training/ucas-teacher-training-search-training-programmes">search for other teacher training courses</a> on the UCAS website.
  </p>
</div>
{% endmacro %}

{% macro textbox(id, label, helpText = false) %}
<div class="form-group">
  <label class="form-label-bold" for="{{id}}">{{label}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText}}</span>
  {% endif %}
  <input class="form-control" name="{{id}}" type="text" id="{{id}}" value="{{ value(id) }}">
</div>
{% endmacro %}

{% macro radio(id, label, groupName, target, value) %}
  <div class="multiple-choice" data-target="{{target}}">
    <input id="{{id}}" type="radio" name="{{groupName}}" value="{{value}}">
    <label for="{{id}}" class="bold">{{label}}</label>
  </div>
{% endmacro %}

{#
  field:
    name:
    text:
    more:
#}
{% macro radioGroup(name, fields) %}
  {% for field in fields %}
    <div class="multiple-choice" data-target="radio-part-{{ loop.index }}-extra">
      <input required
        id="radio-part-{{ loop.index }}"
        type="radio"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="radio-part-{{ loop.index }}">
        <span class="bold">{{ field.name }}</span>
        {% if field.text %}
          {{ field.text | safe }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="radio-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro checkboxGroup(name, fields) %}
  {% for field in fields %}
    <div class="multiple-choice" data-target="checkbox-part-{{ loop.index }}-extra">
      <input
        id="checkbox-part-{{ loop.index }}"
        type="checkbox"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="checkbox-part-{{ loop.index }}">
        <span class="bold">{{ field.name }}</span>
        {% if field.text %}
          <br />{{ field.text | safe }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="checkbox-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro h1(text) %}
<h1 class="heading-xlarge">{{text}}</h1>
{% endmacro %}

{% macro backLink(label,url) %}
<a class="link-back" href="{{url}}">{{label}}</a>
{% endmacro %}

{% macro selectBox(id,label,name,options) %}
  <div class="form-group">
    <label class="form-label-bold" for="{{id}}">{{label}}</label>
    <select class="form-control" id="{{id}}" name="{{name}}">
    {% for option in options%}
      <option>{{option}}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro submit(label) %}
<div class="form-group">
  <input type="submit" class="button" value="{{label}}">
</div>
{% endmacro %}

{% macro checkbox(name,choices) %}
<fieldset class="form-group">
  {% for choice in choices %}
    <div class="multiple-choice">
      <input id="{{choice|replace(" ","")}}"  name="{{choice}}" type="checkbox">
      <label for="{{choice|replace(" ","")}}" class="bold">{{choice}}</label>
    </div>
  {% endfor %}
</fieldset>
{% endmacro %}

{% macro checkboxWithBursary(name,choices,degree) %}
<fieldset class="form-group ">
  {% for choice in choices %}
    <div class="multiple-choice subject">
      <div>
        <input id="{{choice|replace(" ","")}}"  name="{{choice}}" type="checkbox">
        <label for="{{choice|replace(" ","")}}" class="bold">{{choice}}</label>
      </div>
      {% if choice | bursaryCost(degree) %}
        <div class="bursarySubjectInfo">
          {{ choice | bursaryCost(degree) }} bursary available
        </div>
      {% endif %}
    </div>
  {% endfor %}
</fieldset>
{% endmacro %}

{% macro filterResultsV4() %}

<!-- Start of a filter category -->
<div class="filter-category">
  <h4 class="heading-small filter-heading">Location</h4>
  <div class="filters">
      50 miles around SW13
  </div>
  <div class="filter-link">
    <a href="/results/filters/location">Change location</a>
  </div>
</div>
<!-- End of a filter category -->
<!-- Start of a filter category -->
<div class="filter-category ">
  <h4 class="heading-small filter-heading">Subject</h4>
  <div class="filters">
    Business studies
  </div>
  <div class="filter-link">
    <a href="/results/filters/subjects">Change subjects</a>
  </div>
</div>
<!-- End of a filter category -->
<!-- Start of a filter category -->
<div class="filter-category">
  <h4 class="heading-small filter-heading">Financial support</h4>
  <div class="filters">
    All
  </div>
  <div class="filter-link">
    <a href="/results/filters/funding">Change financial support options</a>
  </div>
</div>
<!-- End of a filter category -->
<!-- Start of a filter category -->
<div class="filter-category">
  <h4 class="heading-small filter-heading">Study type</h4>
  <div class="filters">
    Full time (12 months),<br>
    Part time (18-24 months)
  </div>
  <div class="filter-link">
    <a href="/results/filters/studytype">Change study type</a>
  </div>
</div>
<!-- End of a filter category -->

  <!-- Start of a filter category -->
  <div class="filter-category">
    <h4 class="heading-small filter-heading">Qualifications</h4>
    <div class="filters">
      Postgraduate Certificate in Education with Qualified Teacher Status,<br>
      Qualified Teacher Status
    </div>
    <div class="filter-link">
      <a href="/results/filters/qualification">Change qualifications</a>
    </div>
  </div>
  <!-- End of a filter category -->
{% endmacro %}

{% macro resultsV4(results) %}
  {% for result in results %}
    <div class="grid-row results">
      <h2 class="heading-medium">
        <a href="{{result.url}}">{{result.subject}}</a>
      </h2>
      <div class="grid-row results-data-large">
        <div class="column-full">
          Training provider: {{result.trainingProvider}}
        </div>
      </div>
      <div>
        <div class="grid-row results-data-large">
          <div class="column-full">
            Training provider's location: {{result.trainingProviderLocation}}
          </div>
        </div>
        <div class="grid-row results-data-large">
          <div class="column-full">
            Study type: {{result.studyType}}
          </div>
        </div>
        <div class="grid-row results-data-large">
          <div class="column-full">
            Vacancies: {{result.vacancies}}
          </div>
        </div>
        <div class="grid-row results-data-large">
          <div class="column-full">
            Financial support: {{result.financialSupport}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}

<!-- Header on top of the results showing number of courses, New search and sorting order -->
{% macro resultsHeader() %}
<div class="resultsHeader">
  <div>
    198 courses found
    <span>
      <a href="/start/location">New search</a>
    </span>
  </div>
  <div class="resultsSortingOptions">
    <label class="form-label sortLabel" for="select-box">Sorted by</label>
    <select class="form-control sortSelectBox" id="select-box" name="select-box">
      <option>Alphabetical A-Z</option>
      <option>Alphabetical Z-A</option>
    </select>
  </div>
</div>
{% endmacro %}

{% macro helpText(label,text) %}
<details>
  <summary><span class="summary">{{label}}</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      {{text}}
    </p>
  </div>
</details>
{% endmacro %}
