{% macro checkboxGroup(name, fields, errors = false, index = 0, allBold = false) %}
  {% set e = false %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      {% for field in fields %}
        {% set i = loop.index + index %}
        <div class="govuk-checkboxes__item">
          <input
            id="checkbox-part-{{ i }}"
            type="checkbox"
            name="{{ name }}"
            value="{{ field.name }}"
            class="govuk-checkboxes__input"
            {% if field.more %}data-aria-controls="checkbox-part-{{ i }}-extra"{% endif %}
            {{ checked(name, field.name) }}
          >
          <label
            for="checkbox-part-{{ i }}"
            class="govuk-label govuk-checkboxes__label{% if field.text or allBold %} govuk-label--s{% endif %}"
            {% if field.text %}aria-describedby="checkbox-part-{{ i }}-extra-hint"{% endif %}
          >
            {{ field.name }}
          </label>
          {% if field.text %}
            <span
              class="govuk-hint govuk-checkboxes__hint"
              id="checkbox-{{ name }}-part-{{ i }}-hint">
                {{ field.text | safe }}
            </span>
          {% endif %}
        </div>
        {% if field.more %}
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="checkbox-part-{{ i }}-extra">
            {{ field.more | safe }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro textbox(id, label, helpText = false, size = "", prefix = false, errors = false, v = false) %}
  {% set e = false %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="{{ id }}">{{ label | safe }}</label>
    {% if helpText %}
      <span class="govuk-hint">{{ helpText | safe }}</span>
    {% endif %}
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    {% if prefix %}
      <span class="govuk-prefix-input">{{ prefix }}</span>
    {% endif %}
    <input class="govuk-input {{ size or 'govuk-input--width-20' }}" name="{{ id }}" type="text" id="{{ id }}" value="{{ v or value(id) }}">
  </div>
{% endmacro %}

<!-- Header on top of the results showing number of courses, New search and sorting order -->
{% macro resultsHeader(countString = "40 courses", mapView = false) %}
  {% if (not mapView) %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body search-results__count" data-qa="course-count">{{ countString }} found</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body search-results__new-search">
          <a href="/start/location">New search</a>
        </p>
      </div>
    </div>
  {% endif %}
  <div class="search-results-header">
    <div class="govuk-grid-row">
    {% if value("location") == "Across England" %}
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-margin-bottom-0">Sorted by training provider</p>
      </div>
    {% elseif (not mapView) %}
      <div class="govuk-grid-column-full">
        <p class="govuk-body govuk-!-margin-bottom-0">Sorted by distance. <a href="/results?map=yes">View on a map</a></p>
      </div>
    {% endif %}
    </div>
    {% if mapView %}
      <p>{{ countString }} found within 50 miles</p>

      <ul class="govuk-list">
        <li><a href="/results">View results as a list</a></li>
        <li><a href="/start/location">New search</a></li>
        {# <li><a href="/start/location">Filter the results</a></li> #}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro helpText(label,text) %}
<details data-module="govuk-details">
  <summary><span class="summary">{{label}}</span></summary>
  <div class="govuk-inset-text">
    <p>{{text}}</p>
  </div>
</details>
{% endmacro %}
