// Global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can’t mount GOV.UK Frontend’s assets at root as it’s done automatically by the extensions framework.
$app-assets-path: '/public/';
$govuk-assets-path: '/govuk/assets/';

// Get into teaching
$git-brand-colour: #159964;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Import local component styles
@import "app/views/_components/all.scss";

// Styles that aren't in the GOV.UK Frontend or local components
@import "core/list";
@import "core/table";

// Utilities
@import "utilities/hidden";
@import "utilities/overrides";

// Components that aren’t in Frontend
@import "components/autocomplete";
@import "components/description-list";
@import "components/filter";
@import "components/filter-layout";
@import "components/search-results";
