// Global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can’t mount GOV.UK Frontend’s assets at root as it’s done automatically by the extensions framework.
$app-assets-path: '/public/';
$govuk-assets-path: '/govuk/assets/';

// Get into teaching
$git-brand-colour: #159964;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Import local component styles
@import "app/views/_components/all.scss";

// Styles that aren't in the GOV.UK Frontend or local components
@import "core/list";
@import "core/table";

// Utilities
@import "utilities/hidden";
@import "utilities/overrides";

// Components that aren’t in Frontend
@import "components/autocomplete";
@import "components/description-list";
@import "components/filter";
@import "components/filter-layout";
@import "components/promoted-link";
@import "components/search-results";

.app-tag--prototype {
  background-color: govuk-colour('red');
}

.app-grid-column--grey {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(6) govuk-spacing(6) govuk-spacing(2) govuk-spacing(6);
}

.app-grid-column--blue {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(2) govuk-spacing(4);

  & .govuk-body,
  & .govuk-list,
  & .govuk-link{
    color: govuk-colour("white");
  }
}

.app-heading--white,
.app-label--white {
  color: govuk-colour("white");
}

.app-button--white {
  background-color: govuk-colour("light-grey");
  color: govuk-colour("blue");
  box-shadow: 0 3px 0 govuk-colour("black");
  font-weight: bold;
  // font-size: 21px;

  &:hover {
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");
  }
}

.app-two-columns {
  columns: 2;
}
