{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/docs/tutorials-and-examples">Back</a>

      <form class="form">

        <fieldset class="form-group">
          <legend>
            <h1 class="heading-large">
              What subjects would you like to teach?
            </h1>
            <span class="body-text">Select all subjects you are interested in teaching:</span>
          </legend>

          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Art & Design</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Biology</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Business Studies</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Chemistry</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Classics</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Computing</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Design & Technology</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Drama</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Economics</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">English</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Geogrpahy</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">History</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Mathematics</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Modern Foreign Languages</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Music</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Physical Education</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Physics</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Religious Education</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">General</label>
          </div>
          <div class="multiple-choice">
            <input  name="subject" type="checkbox">
            <label for="waste-type-1">Other</label>
          </div>

        </fieldset>

        <div class="form-group">
          <a href="q3.html" class="button">Continue</a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
