{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="results.html">Back to results</a>
  <h1 class="heading-xlarge">
    University College London
  </h1>
  <div class="grid-row ">
    <div class="column-two-thirds">
      <div class="course-detail">
        Ranked number one for education worldwide in the 2014, 2015, 2016 and 2017 QS World University Rankings, the IOE was awarded the 2015 Queen’s Anniversary Prize. In 2014, the Institute secured ‘outstanding’ grades from Ofsted on every criterion for its initial teacher training, across primary, secondary and further education programmes. In the most recent Research Excellence Framework assessment of university research, the IOE was top for ‘research power’ (GPA multiplied by the size of the entry) in education. Founded in 1902, the Institute currently has more than 8,000 students and 800 staff. In December 2014 it became a single-faculty school of UCL, called the UCL Institute of Education (IOE).
      </div>
      <div class="course-detail">Provider type: University</div>
      <div class="course-detail">Subjects: English</div>
      <div class="course-detail">Duration: 12 months</div>
      <div class="course-detail">Study type: Full time</div>
      <div class="course-detail">Outcome: PGCE and QTS</div>
      <div class="course-detail">Number of partner schools: 28</div>
      <div class="course-detail">Type of partner schools: Primary, Secondary, Girls only school</div>
      <div class="course-detail">Starts: September 2017, January 2018 and Arpil 2018</div>
      <div class="course-detail">Address: Gower Street, London WC1E 6BT</div>
    </div>
    <div class="column-one-third">
      <a href="#" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><span>Summary</span></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>

      </aside>
    </div>
  </div>

</main>
{% endblock %}
