
{% extends "layout.html" %}
{% block pageTitle %}2018-05-08-live{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <h1 class="govuk-heading-xl">2018-05-08-live</h1>

    <h2 class="govuk-heading-l" id="index">Index</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/01-index.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/01-index.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="disclaimer">Disclaimer</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/02-disclaimer.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/02-disclaimer.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="choose-your-search">Choose your search</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/03-choose-your-search.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/03-choose-your-search.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="choose-your-search-location">Choose your search location</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/04-choose-your-search-location.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/04-choose-your-search-location.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="choose-your-search-provider">Choose your search provider</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/05-choose-your-search-provider.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/05-choose-your-search-provider.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="financial-support">Financial support</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/06-financial-support.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/06-financial-support.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="search-results">Search results</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/07-search-results.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/07-search-results.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="search-results-none">Search results none</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/08-search-results-none.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/08-search-results-none.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="course-details">Course details</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/09-course-details.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/09-course-details.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="study-type-filter">Study type filter</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/10-study-type-filter.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/10-study-type-filter.png" />
      </a>
    </p>
  
    <h2 class="govuk-heading-l" id="qualifications-filter">Qualifications filter</h2>
    <p>
      <a href="/public/images/history/2018-05-08-live/11-qualifications-filter.png">
        <img src="/public/images/history/2018-05-08-live/thumbnails/11-qualifications-filter.png" />
      </a>
    </p>
  
</main>
{% endblock %}
