
{% extends "layout.html" %}
{% block page_title %}User research 10 May 2018{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">User research 10 May 2018</h1>

  {% set contents = [
  { text: 'Search by location', id: 'search-by-location' },
  { text: 'Financial support', id: 'financial-support' },
  { text: 'Search results', id: 'search-results' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Search by location', 'search-by-location', '/public/images/history/user-research-may-10/thumbnails/02-search-by-location.png', '/public/images/history/user-research-may-10/02-search-by-location.png', '
    <p>Trialled removing the radius field for location. Instead defaulting to 100 miles and ordered results by distance.</p>

    <h3 class="heading-medium">Result</h3>

    <p>Out of 4 participants only 2 performed actions that were affected by the change. Each found results easily and were not impeded by the lack of a radius filter.</p>

    <p>100 miles felt too wide for some results, recommend reducing to 50.</p>

    <hr />
    <p>The location and provider autocomplete is not fully accessible – it does not announce that options are available or what has been selected. This was seen in preparation for research. (<a href="https://dfedigital.atlassian.net/browse/BATSA-277">BATSA-277</a>)</p>
  ') }}

  {{ macros.screenshot('Financial support', 'financial-support', '/public/images/history/user-research-may-10/thumbnails/03-financial-support.png', '/public/images/history/user-research-may-10/03-financial-support.png', '
    <p>Trialled previewing of course counts to help users make informed choices based on what’s available and to prevent them from seeing the no results page.</p>
  ') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/user-research-may-10/thumbnails/04-search-results.png', '/public/images/history/user-research-may-10/04-search-results.png', '
    <p>In combination with removal of radius, distance was moved to the top of the metadata in each search result. The location no longer refers to a search radius.</p>

    <h3 class="heading-medium">Result</h3>

    <p>Without an explicit radius, one user noticed that as they scrolled down the courses were getting further away. They returned to the top of the list and focussed on those just within a certain area – an area he defined as a 20 minute drive.</p>

    <p></p>
  ') }}

</main>
{% endblock %}
