{% extends "_layouts/default.njk" %}

{% set title = "Which age group do you want to teach?" %}
{% set errorMessage = "Select which age group you want to teach" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if showError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#age-groups"
            }
          ]
        }) }}
      {% endif %}

      <form action="/age-groups" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "age-groups",
          name: "ageGroup",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: errorMessage
          } if showError,
          items: [
            {
              value: "primary",
              text: "Primary",
              checked: (data["ageGroup"] == "primary")
            },
            {
              value: "secondary",
              text: "Secondary",
              checked: (data["ageGroup"] == "secondary")
            },
            {
              divider: "or"
            },
            {
              value: "furtherEducation",
              text: "Further education",
              hint: {
                text: "For example, teaching A levels or vocational courses"
              },
              checked: (data["ageGroup"] == "furtherEducation")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
