{% extends "_layouts/default.njk" %}

{% set title = "Find courses by location or by training provider" %}
{% set errorMessage = "Select find courses by location or by training provider" %}

{% block pageTitle %}
{{ "Error: " if showError }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}

{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/search" method="post" accept-charset="utf-8" novalidate>

        {% set locationHtml %}
          {{ govukInput({
            id: 'location-name',
            name: "locationName",
            label: {
              text: "Postcode, town or city"
            },
            value: data.locationName,
            autocomplete: 'off',
            formGroup: {
              classes: "govuk-!-margin-bottom-0"
            }
          }) }}
          <div id="location-autocomplete" class="govuk-body"></div>
        {% endset %}

        {% set providerHtml %}
          {{ govukInput({
            id: "provider-name",
            name: "providerName",
            label: {
              text: "School, university or other training provider"
            },
            hint: {
              text: "Enter the name or provider code"
            },
            value: data.providerName
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "q",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: {
            text: errorMessage
          } if showError,
          items: [{
            value: "location",
            text: "By city, town or postcode",
            checked: (data.q == "location"),
            conditional: {
              html: locationHtml
            }
          }, {
            value: "england",
            text: "Across England",
            checked: (data.q == "england")
          }, {
            divider: "or"
          }, {
            value: "provider",
            text: "By school, university or other training provider",
            checked: (data.q == "provider"),
            conditional: {
              html: providerHtml
            }
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
