{% extends "_layouts/default.njk" %}

{% set title = "Find courses by location or by training provider" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}

{% endblock %}

{% block content %}

  {% if errors.length %}
    {% include "_includes/error-summary.njk" %}
  {% else %}
    {% if data.cycleClosed %}
      {% include "_includes/cycle-closed-banner.njk" %}
    {% elif data.nearingEndOfCycle %}
      {% include "_includes/nearing-end-of-cycle-banner.njk" %}
    {% endif %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/search" method="post" accept-charset="utf-8" novalidate>

        {% set locationHtml %}
          <div class="govuk-form-group {{- ' govuk-form-group--error' if (errors | getErrorMessage('location'))}}">
            {{ govukInput({
              id: "location",
              name: "location",
              label: {
                text: "Enter a city, town or postcode"
              },
              value: data.location,
              autocomplete: "off",
              formGroup: {
                classes: "govuk-!-margin-bottom-0"
              },
              errorMessage: errors | getErrorMessage("location")
            }) }}
            <div id="location-autocomplete" class="govuk-body"></div>
          </div>
        {% endset %}

        {% set providerHtml %}
          <div class="govuk-form-group {{- ' govuk-form-group--error' if (errors | getErrorMessage('provider'))}}">
            {{ govukInput({
              id: "provider",
              name: "provider",
              label: {
                text: "Enter a provider name or code"
              },
              value: data.provider.name,
              autocomplete: "off",
              formGroup: {
                classes: "govuk-!-margin-bottom-0"
              },
              errorMessage: errors | getErrorMessage("provider")
            }) }}
            <div id="provider-autocomplete" class="govuk-body"></div>
          </div>
          <p class="govuk-body">
            <a href="/providers">View all providers</a>
          </p>
        {% endset %}

        {{ govukRadios({
          name: "q",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors | getErrorMessage("q"),
          items: [{
            value: "location",
            text: "By city, town or postcode",
            checked: (data.q == "location"),
            conditional: {
              html: locationHtml
            }
          }, {
            value: "england",
            text: "Across England",
            checked: (data.q == "england")
          }, {
            divider: "or"
          }, {
            value: "provider",
            text: "By school, university or other training provider",
            checked: (data.q == "provider"),
            conditional: {
              html: providerHtml
            }
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
  <script src="/public/javascripts/debounce.js"></script>
  <script src="/public/javascripts/init-autocomplete.js"></script>

  <script type="text/javascript">
  initAutocomplete({
    element: "location-autocomplete",
    input: "location",
    path: "/location-suggestions",
  });

  initAutocomplete({
    element: "provider-autocomplete",
    input: "provider",
    path: "/provider-suggestions",
  });
  </script>
{% endblock %}
