{% extends "_layouts/default.njk" %}

{% set title = "Primary courses with subject specialisms" %}
{% set errorMessage = "Select at least one primary subject you want to teach" %}

{% block pageTitle %}
{{ "Error: " if showError }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/age-groups"
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">
        As a trainee primary teacher you’ll learn to teach all subjects across the national curriculum.
      </p>

      <p class="govuk-body">
        Some courses also enable you to develop your knowledge of a particular subject. When you’re a teacher, you could take on a role to influence the way it’s taught in your school - for example, mentoring your teacher colleagues to teach that subject better.
      </p>

      <form action="/primary-subjects" method="post" accept-charset="utf-8" novalidate>

        {% set items = [
          {
            text: 'Primary',
            value: '00',
            checked: (data.subjects and data.subjects.includes('00'))
          },
          {
            text: 'Primary with English',
            value: '01',
            checked: (data.subjects and data.subjects.includes('01'))
          },
          {
            text: 'Primary with geography and history',
            value: '02',
            checked: (data.subjects and data.subjects.includes('02'))
          },
          {
            text: 'Primary with mathematics',
            value: '03',
            checked: (data.subjects and data.subjects.includes('03'))
          },
          {
            text: 'Primary with modern languages',
            value: '04',
            checked: (data.subjects and data.subjects.includes('04'))
          },
          {
            text: 'Primary with physical education',
            value: '06',
            checked: (data.subjects and data.subjects.includes('06'))
          },
          {
            text: 'Primary with science',
            value: '07',
            checked: (data.subjects and data.subjects.includes('07'))
          }
        ] %}

        {{ govukCheckboxes({
          idPrefix: "primary-subjects",
          name: "subjects",
          fieldset: {
            legend: {
              text: "Which courses would you like to find?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all subjects you are interested in teaching"
          },
          errorMessage: {
            text: errorMessage
          } if showError,
          items: items
        }) }}

        {{ govukButton({
          text: "Find courses"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
