{% extends "_layouts/default.njk" %}

{% set title = "Which secondary subjects do you want to teach?" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/age-groups"
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/secondary-subjects" method="post" accept-charset="utf-8" novalidate>

        {% set items = [] %}
        {% for subject in data.subjectOptions %}
          {% if subject.ageGroup === "secondary" %}
            {% set items = items | push({
              text: subject.text,
              value: subject.value,
              hint: {text: subject.hint},
              checked: (data.subjects and data.subjects.includes(subject.value))
            }) %}
          {% endif %}
        {% endfor %}

        {{ govukCheckboxes({
          idPrefix: "secondary-subjects",
          name: "subjects",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all subjects you are interested in teaching"
          },
          errorMessage: errors | getErrorMessage("secondary-subjects"),
          items: (items | sort(attribute="text") )
        }) }}

        {{ govukButton({
          text: "Find courses"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
