{% extends "_layouts/default.njk" %}

{% set title = "Which secondary subjects do you want to teach?" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/age-groups"
}) }}
{% endblock %}

{% block content %}

  {% if errors.length %}
    {% include "_includes/error-summary.njk" %}
  {% else %}
    {% if data.cycleClosed %}
      {% include "_includes/cycle-closed-banner.njk" %}
    {% elif data.nearingEndOfCycle %}
      {% include "_includes/nearing-end-of-cycle-banner.njk" %}
    {% endif %}
  {% endif %}

  {% set html %}
  <p class="govuk-notification-banner__heading">Financial support</p>
  <p class="govuk-body">Details of financial support for courses starting in the 2024 to 2025 academic year will be released soon.</p>
  <p class="govuk-body">In the meantime, you can <a class="govuk-notification-banner__link" href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries">view the bursaries and scholarships</a> for courses starting between September 2023 and July 2024.</p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/secondary-subjects" method="post" accept-charset="utf-8" novalidate>

        {{ govukCheckboxes({
          idPrefix: "subject",
          name: "filter[subject]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all subjects you are interested in teaching"
          },
          errorMessage: errors | getErrorMessage("subject"),
          items: subjectItems
        }) }}

        {{ govukButton({
          text: "Find courses"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
