{% extends "layout.html" %}
{% set title = 'Just the UCAS data – 25 July iteration' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  {% set contents = [
    { text: 'Find by subject collapsed', id: 'find-by-subject-collapsed' },
    { text: 'Find by subject expanded', id: 'find-by-subject-expanded' },
    { text: 'Teacher training courses', id: 'teacher-training-courses' },
    { text: 'Minimum course page', id: 'minimum-course-page' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Find by subject collapsed', 'find-by-subject-collapsed', '/public/images/history/mvp-iteration-jul-25/thumbnails/01-find-by-subject-collapsed.png', '/public/images/history/mvp-iteration-jul-25/01-find-by-subject-collapsed.png', '') }}

  {{ macros.screenshot('Find by subject expanded', 'find-by-subject-expanded', '/public/images/history/mvp-iteration-jul-25/thumbnails/03-find-by-subject-expanded.png', '/public/images/history/mvp-iteration-jul-25/03-find-by-subject-expanded.png', '') }}

  {{ macros.screenshot('Teacher training courses', 'teacher-training-courses', '/public/images/history/mvp-iteration-jul-25/thumbnails/04-teacher-training-courses.png', '/public/images/history/mvp-iteration-jul-25/04-teacher-training-courses.png', '') }}

  {{ macros.screenshot('Minimum course page', 'minimum-course-page', '/public/images/history/mvp-iteration-jul-25/thumbnails/05-minimum-course-page.png', '/public/images/history/mvp-iteration-jul-25/05-minimum-course-page.png', '') }}

</main>
{% endblock %}
