{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  {{macros.betaBanner()}}
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("Back to results","../results.html")}}
      {{macros.h1("Choose your search")}}
        <div class="form-group">

          {{ macros.radio("radioProviderLocation","By postcode, town or city","radioSearchType","insetProviderLocation") }}
            {{ macros.insetStart("insetProviderLocation") }}
              {{ macros.textbox("locationInput","Postcode, town or city")}}
              {{ macros.selectBox("location-radius","Within radius","location-radius",["5 miles","10 miles","20 miles","50 miles","100 miles"]) }}
          {{ macros.insetEnd()}}

          {{ macros.radio("radioProviderNationwide","Across England","radioSearchType","noInset") }}

          {{ macros.radio("radioProviderName","By training provider","radioSearchType","insetProviderName") }}
          {{ macros.insetStart("insetProviderName") }}
            {{ macros.textbox("providerNameInput","Training provider ")}}
          {{ macros.insetEnd()}}
        </div>
        <a href="../results.html" class="button">Find courses</a>


    </div>
  </div>
</main>

{% endblock %}
