<aside class="app-advice{%- if params.classes %} {{ params.classes }}{% endif %}" role="complementary">
  <p class="app-advice__caption">Advice from Get into teaching</p>
  {% if params.title %}
    <h3 class="app-advice__title">{{ params.title }}</h3>
  {% endif %}
  <div class="app-advice__body">
    {% if params.html or params.text %}
      {{ params.html | safe if params.html else params.text }}
    {% endif %}
    {% if params.more %}
      <p class="govuk-body"><a href="{{ params.more.href }}" class="govuk-link">{{ params.more.text }}</a></p>
    {% endif %}
  </div>
</aside>
