{% extends "layout.html" %}
{% block pageTitle %}Apply for a course variants{% endblock %}
{% block breadcrumbs %}{{ macros.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<style>
  .listing-example-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .listing-example li:first-child h3,
  .govuk-grid-column-one-third h3:first-child {
    margin-top: 0;
  }
</style>
  {{macros.h1("Apply for a course variants")}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="lede">Examples of the ‘Apply’ section on different course details pages. Each example is based on a real course and matches with <a href="/history/variants">course variant examples</a>.</p>
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>
      <p><a href="#">Apply for this course on the UCAS website</a>.</p>
      <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

      <p>PGCE with QTS, 1 year full time</p>

      Training provider code for Associated Merseyside Partnership SCITT:
      <div class="govuk-heading-m remove-top-margin">25F</div>
      Training programme code for Chemistry:
      <div class="govuk-heading-m remove-top-margin remove-bottom-margin">2MFF</div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">SCITT with one school (single study option)</h3>
      <a href="https://amp-scitt.lydiatelearningtrust.co.uk/chemistry/">Course page</a><br />
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>
      <p><a href="#">Apply for this course on the UCAS website</a>.</p>
      <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

      <p>PGCE with QTS, 1 year full time</p>

      Training provider code for UCL, University College London (University of London):
      <div class="govuk-heading-m remove-top-margin">U80</div>
      Training programme code for Chemistry:
      <div class="govuk-heading-m remove-top-margin remove-bottom-margin">2P38</div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">University with one campus (single study option)</h3>
      <a href="http://www.ucl.ac.uk/ioe/courses/teacher-training/chemistry-pgce">Course page</a>
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>

      {% set national_scitt_preamble %}
        <p><a href="#">Apply for this course on the UCAS website</a>.</p>
        <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

        Training provider code for United Teaching National SCITT:
        <div class="govuk-heading-m remove-top-margin">1A9</div>

        Training programme code for Chemistry:
      {% endset %}

      {% set national_scitt_more_1 %}
        {{ national_scitt_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin remove-bottom-margin">2L79</div>
      {% endset %}

      {% set national_scitt_more_2 %}
        {{ national_scitt_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin remove-bottom-margin">23CV</div>
      {% endset %}

      {% set national_scitt_more_3 %}
        {{ national_scitt_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin remove-bottom-margin">2VV8</div>
      {% endset %}

      {% set national_scitt_more_4 %}
        {{ national_scitt_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin remove-bottom-margin">2VVX</div>
      {% endset %}

      <h3 class="govuk-heading-m">Pick a study option to apply to</h3>
      {% set fields = [
          {
            name: 'PGCE with QTS, 1 year full time',
            more: national_scitt_more_1
          },
          {
            name: 'PGCE with QTS, 1 year full time with salary',
            more: national_scitt_more_2
          },
          {
            name: 'QTS, 1 year full time',
            more: national_scitt_more_3
          },
          {
            name: 'QTS, 1 year full time with salary',
            more: national_scitt_more_4
          }
        ]
      %}

      <div class="form-group">
        {{ macros.radioGroup('funding-example-one', fields) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">SCITT with course folded on qualification and salary (multiple study options)</h3>
      <p>Beneath the ‘Apply’ section on the course detail page, indicate the choice a user must make before applying to a course.</p>
      <p>Selecting a study option reveals how to apply to that variant. This hides the complexity of the logic around folded courses and reduces the risk of a user picking the wrong course codes.</p>
      <p>United Teaching National SCITT does not provide campus codes for schools, only regions. This is not yet represented.</p>
      <a href="https://www.unitedteaching.org.uk/apply/subject-availability">Course page</a>
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>
      <p><a href="#">Apply for this course on the UCAS website</a>.</p>
      <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

      <p>PGCE with QTS, 1 year full time</p>

      Training provider code for Weatherhead Teaching School Alliance:
      <div class="govuk-heading-m remove-top-margin">21D</div>
      Training programme code for Chemistry:
      <div class="govuk-heading-m remove-top-margin">2JN9</div>

      <p>When asked for the training location or campus code, use:</p>
      <div class="body">
        <table>
          <thead>
            <tr>
              <th>School</th>
              <th>Training location code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Weatherhead High School</td>
              <td>- (Main Site)</td>
            </tr>
            <tr>
              <td>Wirral Grammar School for Boys</td>
              <td>F</td>
            </tr>
            <tr>
              <td>Wirral Grammar School for Girls</td>
              <td>G</td>
            </tr>
            <tr>
              <td>The Mosslands School</td>
              <td>T</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">School Direct with schools as campuses in one course on UCAS</h3>

      <p>A School Direct course that hasn’t been folded.</p>

      <a href="http://weatherheadtsa.co.uk/school-direct-train-to-teach/train-to-teach-places/">Course page</a><br />
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>
      <p><a href="#">Apply for this course on the UCAS website</a>.</p>
      <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

      <p>PGCE with QTS, 1 year full time</p>

      Training provider code for Calthorpe Park Fleet:
      <div class="govuk-heading-m remove-top-margin">21D</div>

      <div class="body">
        <table>
          <thead>
            <tr>
              <th>School</th>
              <th>Training programme<br />code for Chemistry</th>
              <th>Training location code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Calthorpe Park School</td>
              <td>2T9D</td>
              <td>- (Main Site)</td>
            </tr>
            <tr>
              <td>Court Moor School</td>
              <td>2XDS</td>
              <td>M</td>
            </tr>
            <tr>
              <td>Frogmore Community College</td>
              <td>3569</td>
              <td>F</td>
            </tr>
            <tr>
              <td>Yateley School</td>
              <td>3567</td>
              <td>Y</td>
            </tr>
            <tr>
              <td>Alderwood School</td>
              <td>356D</td>
              <td>W</td>
            </tr>
            <tr>
              <td>Cove School</td>
              <td>356C</td>
              <td>O</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">6 School Direct courses folded into one</h3>

      <p>6 schools each modelled as individual courses on UCAS folded into a single course. Candidates apply using a unique course code and unique campus code.</p>

      <p>If a provider models their courses this way it’s harder for the candidate to apply to the correct school in the UCAS application form. They see a list of 6 courses that look like: "Chemistry (2T9D)". There is no indication which school this course is for until they’ve selected one and looked at the campus dropdown list.</p>

      <a href="http://www.calthorpepark.hants.sch.uk/92/school-direct-placements">Course page</a><br />
    </div>
  </div>

  <hr />

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l remove-top-margin">Apply</h2>

      {% set salary_and_unsalaried_preamble %}
        <p><a href="#">Apply for this course on the UCAS website</a>.</p>
        <h3 class="govuk-heading-m">Codes for the choices section of your application</h3>

        Training provider code for Millais School:
        <div class="govuk-heading-m remove-top-margin">1BK</div>

        Training programme code for Chemistry:
      {% endset %}

      {% set salary_and_unsalaried_more_1 %}
        {{ salary_and_unsalaried_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin">2BX2</div>

        <p>When asked for the training location or campus code, use:</p>
        <div class="body">
          <table>
            <thead>
              <tr>
                <th>School</th>
                <th>Training location code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Millais School</td>
                <td>- (Main Site)</td>
              </tr>
              <tr>
                <td>Imberhorne School</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Tanbridge House School</td>
                <td>5</td>
              </tr>
              <tr>
                <td>The Weald School</td>
                <td>7</td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endset %}

      {% set salary_and_unsalaried_more_2 %}
        {{ salary_and_unsalaried_preamble | safe }}
        <div class="govuk-heading-m remove-top-margin">2RN5</div>

        <p>When asked for the training location or campus code, use:</p>
        <div class="body">
          <table>
            <thead>
              <tr>
                <th>School</th>
                <th>Training location code</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tanbridge House School</td>
                <td>5</td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endset %}

      <h3 class="govuk-heading-m">Pick a study option to apply to</h3>
      {% set fields = [
          {
            name: 'PGCE with QTS, 1 year full time',
            more: salary_and_unsalaried_more_1
          },
          {
            name: 'PGCE with QTS, 1 year full time with salary',
            more: salary_and_unsalaried_more_2
          }
        ]
      %}

      <div class="form-group">
        {{ macros.radioGroup('funding-example-three', fields) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">School Direct salary and unsalaried folded into one course</h3>
      <p>Beneath the ‘Apply’ section on the course detail page, indicate the choice a user must make before applying to a course.</p>
      <p>Each study option has different schools.</p>
    </div>
  </div>
{% endblock %}
