{% extends "layout.html" %}
{% block pageTitle %}Design history{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Design history</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Public beta</h2>
      <p class="govuk-body-l">Exploration into wider design across subjects and all variety of courses.</p>

      <h3 class="govuk-heading-m">November 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/maps-for-providers-with-many-partners">Maps for providers with many partner schools</a>
      </h4>
      <p>
        What does good look like for providers with many partner schools?
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/tweaked-course-titles">Iterate course titles</a>
      </h4>
      <p>
        Make it easier to differentiate between search results.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/static-service">Static failover service</a>
      </h4>
      <p>
        If we had to provide a site without any dynamic features, how would it look.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/map-4">Show a map in the filters column</a>
      </h4>
      <p>
        Clarify where a user is searching on the list view.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/sen-filter">Special educational needs (SEN) filter</a>
      </h4>
      <p>
        SEN is a subject, but also not a subject. Any subject could have an SEN focus.
      </p>

      <h3 class="govuk-heading-m">October 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/map-3">Results on a map – Text on labels</a>
      </h4>
      <p>
        A further map iteration
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/map-2">Results on a map – User research 18 October</a>
      </h4>
      <p>
        A combination of the full screen and original design.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/experimental-map/iteration">Results on a map – Full screen (iteration)</a>
      </h4>
      <p>
        Second pass at showing courses on a full screen map.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/experimental-map">Results on a map – Full screen</a>
      </h4>
      <p>
        First pass at showing courses on a full screen map.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/map-original">Results on a map – Early design with tweaks</a>
      </h4>
      <p>
        Map based on code written during alpha/private-beta with some recent tweaks.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/live-launch">What we launched – 2 October 2018</a>
      </h4>
      <p>
        Our live public beta launch.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/fe-and-pgde">Further education and PGDE courses</a>
      </h4>
      <p>
        We quickly iterated fixes to correctly indicate qualifications on these courses.
      </p>

      <h3 class="govuk-heading-m">September 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/subjects-bursaries-and-skes">Subjects, bursaries and SKE courses</a>
      </h4>
      <p>
        An iteration on the MVP, with full course pages and a subject filter with bursary and SKE information.
      </p>

      <h3 class="govuk-heading-m">July 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/mvp-iteration-jul-25">Just the UCAS data – iteration 25 July</a>
      </h4>
      <p>
        Tweaks to the minimum viable service including improved subject selection.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/all-courses-minimum">Just the UCAS data</a>
      </h4>
      <p>
        What an absolute minimum viable service might look like.
      </p>

      <h3 class="govuk-heading-m">June 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/course-options-user-research-june-8">Folded courses user research 8 June 2018</a>
      </h4>
      <p>
        Testing study options in search results and on the course information page.
      </p>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/apply-variants">Apply variants</a>
      </h4>
      <p>
        Examples of ‘Apply’ sections for the variety of UCAS courses, focusing on how the folding down of courses extrapolates.
      </p>

      <h3 class="govuk-heading-m">May 2018</h3>

      <h4 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/variants">Course listing variants</a>
      </h4>
      <p>
        Examples of optimal search results for the variety of UCAS courses, with discussion.
      </p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Private beta</h2>
      <p class="govuk-body-l">The private beta is a reduced version of the alpha, focusing on a single subject – business studies.</p>

      <p class="govuk-inset-text">
        <a href="https://search-and-compare-beta.herokuapp.com/">Private beta design on Heroku</a>
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/private-beta-iteration-may-15">Private beta iteration 15 May 2018</a>
      </h3>
      <p>
        Updated ‘choose your search’ page and added subject filter to results.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/user-research-may-10">User research 10 May 2018</a>
      </h3>
      <p>
        Testing with assisted digital, dyslexic and visually impaired users.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/user-research-may-3">User research 3 May 2018</a>
      </h3>
      <p>
        Testing with users middle to low on the digital inclusion scale, dyslexic and hearing impaired users.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/private-beta-launch">Private beta as launched</a>
      </h3>
      <p>
        The service as it was launched on 1 May 2018.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/user-research-apr-25">User research 25 April 2018</a>
      </h3>
      <p>
        Testing with users in the <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#annex-2-digital-inclusion-scale-for-individuals">middle of the digital inclusion scale</a>.
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a href="/history/user-research-apr-12">User research 12 April 2018</a>
      </h3>
      <p>
        Testing business studies flow with users interested in becoming a teacher, but not necessarily within business studies.
      </p>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Alpha</h2>
      <p class="govuk-inset-text">
        <a href="https://search-and-compare-alpha.herokuapp.com/">Alpha design on Heroku</a>
      </p>

      <ul class="govuk-list">
        <li>
          <a href="/history/alpha-version-4">Version 4</a>
        </li>
        <li>
          <a href="/history/alpha-version-3">Version 3</a>
        </li>
        <li>
          <a href="/history/alpha-version-2">Version 2</a>
        </li>
        <li>
          <a href="/history/alpha-version-1">Version 1</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Further resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://manage-courses-prototype.herokuapp.com/history">Manage courses design history (eg Course admin)</a>
        </li>
        <li>
          <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/138379265/Search+designs">Designs in confluence</a>
        </li>
        <li>
          <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/232325123/User+flow+for+beta">Initial user flow for beta</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
