{% extends "layout.html" %}

{% block page_title %}
Design history
{% endblock %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">Design history</h1>

  <h2 class="heading-large">Private beta</h2>
  <p>The private beta is a reduced version of the alpha, focusing on a single subject – business studies.</p>

  <ul class="list">
    <li>
      <a href="/history/user-research-may-10">User research 10 May 2018</a>
    </li>
    <li>
      <a href="/history/user-research-may-3">User research 3 May 2018</a>
    </li>
    <li>
      <a href="/history/private-beta-launch">Private beta as launched</a>
    </li>
    <li>
      <a href="/history/user-research-apr-25">User research 25 April 2018</a>
    </li>
    <li>
      <a href="/history/user-research-apr-12">User research 12 April 2018</a>
    </li>
  </ul>

  <h2 class="heading-large">Alpha</h2>
  <ul class="list">
    <li>
      <a href="/history/alpha-version-4">Version 4</a>
    </li>
    <li>
      <a href="/history/alpha-version-3">Version 3</a>
    </li>
    <li>
      <a href="/history/alpha-version-2">Version 2</a>
    </li>
    <li>
      <a href="/history/alpha-version-1">Version 1</a>
    </li>
    <li>
      <a href="https://search-and-compare-alpha.herokuapp.com/">Alpha prototype and experiments</a>
    </li>
  </ul>

  <h2 class="heading-large">Further resources</h2>
  <ul class="list">
    <li>
      <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/138379265/Search+designs">Designs in confluence</a>
    </li>
    <li>
      <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/232325123/User+flow+for+beta">Initial user flow for beta</a>
    </li>
  </ul>
</main>
{% endblock %}
