{% extends "layout.html" %}

{% block page_title %}
Design history
{% endblock %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">Design history</h1>

  <h2 class="heading-large">Private beta</h2>
  <ul class="list">
    <li>
      <a href="/history/private-beta-launch">Private beta as launched</a>
    </li>
  </ul>

  <h2 class="heading-large">Alpha design</h2>
  <a href="https://search-and-compare-alpha.herokuapp.com/">Alpha designs and experiments</a>

  <h2 class="heading-large">Further resources</h2>
  <ul class="list">
    <li>
      <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/138379265/Search+designs">Designs in confluence</a>
    </li>
    <li>
      <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/232325123/User+flow+for+beta">Initial user flow for beta</a>
    </li>
  </ul>
</main>
{% endblock %}
