{% extends "layout.html" %}
{% set title = 'SEND survey and updates' %}
{% block pageTitle %}SEND Survey and Updates{% endblock %}
{% block breadcrumbs %}{{ macros.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl"><abbr title="Special educational needs and disability">SEND</abbr> survey and updates</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>A record of <a href="https://docs.google.com/document/d/1Cxu1X3SKwRWlVTIp5PAiiKsBUMi7YoeDIJxu-77uPzs/edit">this Google Doc</a>.</p>

      {% set contents = [
        { text: 'Subjects', id: 'subjects' },
        { text: 'Subjects with SEND selected', id: 'subjects-with-send-selected' }
      ] %}
      {{ macros.screenshotContents(contents) }}

      <p>We received feedback from a provider that we were falsely advertising SEND courses on the Find tool:</p>

      <blockquote class="govuk-inset-text">
        <p>‘There is no such thing as a specialist SEN teacher training course.  You could also speak to Susie Townsend or Peter Flew at Roehampton University, they will confirm that all teacher training courses are required legally to train someone to be capable of teaching in a mainstream schools.’</p>
      </blockquote>

      <blockquote  class="govuk-inset-text">
        <p>‘What you need to establish is whether it is accurate (under current regulations) to describe a teacher training course in this country as being SEND teacher training, and it is my understanding that this is inaccurate. DFE deliberately and purposefully want all teacher training courses to qualify trainees to teach in mainstream schools and this is what the qualification QTS relates to.’</p>
      </blockquote>

      <h2 class="govuk-heading-l">What research have we done?</h2>

      <p>The team <a href="https://docs.google.com/forms/d/1FdH92urJnppOHaZPdrINBt9FCy4WY8WiBjK6ldFHbAM/edit">sent a survey</a> out to 52 providers and received 11 responses. The survey asked the following questions:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>After reviewing the information in the email and looking at how your SEND courses surface in the Find tool, are you happy with how candidates can currently find these courses?</li>
        <li>Do you offer courses with a SEND element</li>
        <li>What are your reasons for advertising your courses as having a SEND element</li>
        <li>How do SEND courses differ from non-SEND</li>
        <li>What elements are SEND related</li>
        <li>Do you feel you’re allowed to describe your course with a SEND element as a ‘SEND teacher training course’</li>
      </ul>

      <h2 class="govuk-heading-l">What did we find?</h2>

      <p>10 of the 11 providers that responded, offer Primary with SEND specialisms. Blackfriars SCITT is the only provider in this current cycle that offers Secondary courses with SEND specialisms.</p>

      <p>A further 2, of the 40 other providers, offer Maths and/or English SEND specialist courses, whilst Liverpool Hope University offer a Further and Post-Compulsory Education (SEN) course. <a href="https://docs.google.com/spreadsheets/u/1/d/1MqWBgTWYAB56TGVRIteKEUGt-U9LTBlCZoIQ2sT3EG8/edit#gid=1596998726">See raw data here</a>.</p>

      <p>Having gathered this insight from lead schools and training providers it is apparent, among those who offer SEND training, that the course is indeed a SEND specialism.</p>

      <p>Whilst the outcome remains that an NQT with QTS will be able to teach in mainstream schools, the SEND courses that these providers offer clearly have distinct SEND experiences (on top of mainstream training) and they want this advertised! When asked to clarify, these were some of their responses:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>"They are based in a special school, they require candidates to have some experience/expertise in supporting children with SEND and have a compulsory SEND subject specialism as part of the University taught programme."</li>
        <li>"The trainees are placed in special schools or specialist bases for the greater part of their school placements and they receive SEND specific training days during the second and third terms of the course."</li>
        <li>"All of our programmes differ from non-SEND courses as they are specifically designed for postgraduates who would like to train to teach children with special educational needs. The training content covers all requirements that enable students to successfully achieve the Teachers’ Standards for QTS but also provides students with bespoke training to prepare them for working with children with special needs."</li>
      </ul>

      <p>When asked whether they felt they were allowed to describe their course as SEND, these were some of their responses:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>"We describe it as having an SEND focus, students will be qualified for both Special Schools and Mainstream schools at the end."</li>
        <li>"Yes, I feel we're able to describe our course as having a SEND focus but we are aware that it is very important to make it explicit that, on successful completion of the training, candidates will become qualified as primary school teachers and that there isn’t currently a route to become qualified specifically as a special needs teacher."</li>
        <li>"This is core PGCE with a SEND specialism and is not a SEND ITT course"</li>
      </ul>

      <p>From the above, it is clear that training providers and lead schools offer SEND specialist courses. They are, however, aware that these courses do not result in any different outcome to mainstream ITT.</p>

      <h2 class="govuk-heading-l">What does policy say?</h2>

      <div class="govuk-inset-text">
        <p>“It is accurate to say that there are no SEND specialist courses. SEND is not a subject, and there is no allocation made to it. So the way that FIND advertises these is indeed potentially misleading. SEND can only be offered in addition to generalist primary or secondary subject specialist training.</p>
        <p>Supporting advice to Criterion C2.3 describes SEND training as an ‘additional specialism’ as follows:</p>
        <p>Training may take place in a special school or in a pupil referral unit (PRU), particularly where a provider chooses to offer an additional specialism in special educational needs. In these cases, providers should ensure the overall training programme enables trainees to demonstrate all of the Teachers’ Standards across the full age and ability range of training.</p>
        <p><a href="https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice">https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice</a></p>
        <p>In addition, the question ‘do you want to teach SEND’ is poorly phrased – as indicated above SEND is not a subject to be taught. Candidates who opt for courses that include and additional specialism in SEND do so because they want to teach pupils with SEN/D, not because they want to teach it as a subject.”</p>
      </div>

      <p>When probed on clarifying a little further, this was their response:</p>
      <div class="govuk-inset-text">
        <p>“I’d be happy for you to suggest other alternatives to the tick box issue, as it’s useful to be aware of user research. However, we do risk communicating in a way which could give users an incorrect understanding of how ITT courses work – particularly those that are interested in an SEND specialism. Even if the content’s meaning is obvious to us, I’m very concerned that presenting it this way it would cause confusion in an area that DfE is already highly criticised for making confusing. Essentially, it is not in line with current ITT policy to display SEND in the context of a list alongside primary and secondary. Can we explore alternative options for this, please?”</p>
      </div>

      <h2 class="govuk-heading-l">Conclusion</h2>

      <p>There should be a critical distinction between policy and the way we advertise our courses to candidates. Policy have failed to acknowledge that the ITT criteria clearly stipulates how providers should offer their SEND training, not how candidates should interpret this policy. </p>
      <p>Text sits alongside the tick box to clearly indicate that this is not a “phase”, but a specialism.</p>

      {{ macros.screenshot('Subjects', 'subjects', '/public/images/history/send-updates/thumbnails/01-subjects.png', '/public/images/history/send-updates/01-subjects.png', '') }}

      {{ macros.screenshot('Subjects with SEND selected', 'subjects-with-send-selected', '/public/images/history/send-updates/thumbnails/02-subjects-with-send-selected.png', '/public/images/history/send-updates/02-subjects-with-send-selected.png', '') }}
    </div>
  </div>
{% endblock %}
