{% extends "layout.html" %}
{% block pageTitle %}Course listing variants{% endblock %}
{% block breadcrumbs %}{{ macros.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
<style>
  .listing-example-container {
    margin-bottom: 60px;
  }

  .listing-example {
    padding-left: 0;
    margin-top: 0;
  }

  .listing-example li {
    overflow: hidden;
    margin-left: 0;
  }

  .listing-example li:first-child h3,
  .govuk-grid-column-one-third h3:first-child {
    margin-top: 0;
  }

  .multiple-options {
    padding-left: 0;
  }
</style>

  {{macros.h1("Course listing variants")}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Some notes:</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 60px;">
        <li>removed financial support options for now, salary listed within study options. Needs more work.</li>
        <li>removed vacancies – by default only show courses with vacancies or waiting list</li>
        <li>removed school led or university led, infer this from name of provider, distance to thing (school, campus or uni) and address of thing</li>
        <li>for SCITT and School Direct we need all schools and their addresses to surface results to users accurately</li>
      </ul>
    </div>
  </div>

  <!-- Millais school -->

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at Associated Merseyside Partnership SCITT</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to school</dd>
            <dt>School:</dt>
            <dd>Deyes High School<br />Maghull, L31 6DE</dd>
            <dt>Qualification:</dt>
            <dd>
              <abbr title="Postgraduate certificate in education with qualified teacher status">PGCE with QTS</abbr>
            </dd>
            <dt>Study options:</dt>
            <dd>
              1 year full time
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">SCITT with one school</h3>
      <p>SCITT offers same course as "SCITT" or "School Direct". The course appears to be the same, only with the latter course seeing the candidate more likely to get a job at the end of it. Need to investigate.</p>

      <p>
        <a href="https://amp-scitt.lydiatelearningtrust.co.uk/chemistry/">Course page</a>
      </p>
      <!--
      ?inst=25F&course=2MFF
      ?inst=1CD&course=26BZ
      -->
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at Millais Alliance</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to nearest school</dd>
            <dt>Nearest school:</dt>
            <dd>Tanbridge House School<br />Horsham, RH12 1SR</dd>
            <dt>Qualification:</dt>
            <dd>
              <abbr title="Postgraduate certificate in education with qualified teacher status">PGCE with QTS</abbr>
            </dd>
            <dt>Accredited by:</dt>
            <dd>
              University of Brighton or University of Sussex
            </dd>
            <dt>Study options:</dt>
            <dd>
              1 year full time
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Multiple accreditors</h3>
      <p>Millais Alliance have multiple accreditors. For the same provider, subject and school-direct school – but either with University of Sussex or University of Brighton.</p>

      <p><a href="http://www.millaisalliance.org.uk/initial-teacher-training-school-direct/school-direct.aspx">Course page</a></p>
      <!--
      ?inst=25F&course=2MFF
      ?inst=1CD&course=26BZ
      -->
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at United Teaching National SCITT</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to nearest school</dd>
            <dt>Nearest school:</dt>
            <dd>Paddington Academy<br />London, W92DR</dd>
            <dt>Qualification:</dt>
            <dd>
              <ul class="multiple-options">
                <li>PGCE with QTS</li>
                <li>QTS</li>
              </ul>
            </dd>
            <dt>Study options:</dt>
            <dd>
              <ul class="multiple-options">
                <li>1 year full time</li>
                <li>1 year full time with salary</li>
              </ul>
            </dd>
          </dl>
        </li>
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at United Teaching National SCITT</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to nearest school</dd>
            <dt>Nearest school:</dt>
            <dd>Paddington Academy<br />London, W92DR</dd>
            <dt>Study options:</dt>
            <dd>
              <ul class="multiple-options">
                <li>PGCE with QTS, 1 year full time</li>
                <li>PGCE with QTS, 1 year full time with salary</li>
                <li>QTS, 1 year full time</li>
                <li>QTS, 1 year full time with salary</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">SCITT with schools around country</h3>
      <p>Use distance of closest school. State what that school is. Do not show range of distances.</p>

      <p>SCITT offers 4 courses – all combinations of qualification (2) and salary (2)</p>

      <p>Schools are distributed around the country, across 11 locations on UCAS.</p>

      <p>
        <a href="https://www.unitedteaching.org.uk/apply/subject-availability">Course page</a><br />
        <a href="https://www.unitedteaching.org.uk/about-us/our-schools">Schools maps</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at UCL, University College London (University of London)</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to university</dd>
            <dt>University:</dt>
            <dd>University College London<br />London, WC1E 6BT</dd>
            <dt>Qualification:</dt>
            <dd>
              <abbr title="Postgraduate certificate in education with qualified teacher status">PGCE with QTS</abbr>
            </dd>
            <dt>Study options:</dt>
            <dd>
              1 year full time
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">University with one campus</h3>

      <p>Training based at University (London, Bloomsbury) with 120 days at 2 placement schools.</p>

      <p>
        <a href="http://www.ucl.ac.uk/ioe/courses/teacher-training/chemistry-pgce">Course page</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at Weatherhead Teaching School Alliance</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 to 8 miles depending on school</dd>
            <dt>Nearest school:</dt>
            <dd>Wirral Grammar School for Boys<br />Wirral, CH63 3AQ</dd>
            <dt>Qualification:</dt>
            <dd>PGCE with QTS</dd>
            <dt>Accredited by:</dt>
            <dd>Liverpool John Moores University</dd>
            <dt>Study options:</dt>
            <dd>1 year full time</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">School Direct with schools near to each other</h3>

      <p>4 schools in one course, candidates specify the school applying to by using campus code on UCAS.</p>
      <p>Listing shows nearest school as well as range of distances for clustered schools.</p>

      <p>
        <a href="http://weatherheadtsa.co.uk/school-direct-train-to-teach/train-to-teach-places/">Course page</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at Calthorpe Park Fleet</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 to 10 miles depending on school</dd>
            <dt>Nearest school:</dt>
            <dd>Yateley School<br />Yateley, GU46 6NW</dd>
            <dt>Qualification:</dt>
            <dd>PGCE with QTS</dd>
            <dt>Accredited by:</dt>
            <dd>The University of Reading</dd>
            <dt>Study options:</dt>
            <dd>1 year full time</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">School Direct with schools near to each other</h3>

      <p>6 schools each modelled as individual courses on UCAS. They have consistent details except for a section detailing the school. Candidates apply using a unique course code and unique campus code.</p>

      <p>
        <a href="http://www.calthorpepark.hants.sch.uk/92/school-direct-placements">Course page</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Chemistry at Ark Teacher Training</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to nearest school</dd>
            <dt>Nearest school:</dt>
            <dd>
              Ark Academy<br />Brent, London, HA9 9JR
            </dd>
            <dt>Qualification:</dt>
            <dd>PGCE with QTS</dd>
            <dt>Study options:</dt>
            <dd>
              <ul class="multiple-options">
                <li>1 year full time</li>
                <li>1 year full time with salary</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">School Direct</h3>

      <p>Ark uses one course on UCAS with campuses to note different regions. “We’ll work with you to place you in the school of your choice.”</p>

      <p>Offers salaried and unsalaried options.</p>

      <p>Listing shows nearest school, but this isn't data that Ark currently add to UCAS.</p>

      <p>
        <a href="https://www.arkteachertraining.org/apply-now/subjects-available/">Course page</a><br />
        <a href="https://www.arkteachertraining.org/locations/london/">Ark London schools</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Science with chemistry at Bishop Grosseteste University</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to university</dd>
            <dt>University:</dt>
            <dd>Bishop Grosseteste College<br />Lincoln, LN1 3DY</dd>
            <dt>Qualification:</dt>
            <dd>PGCE with QTS</dd>
            <dt>Study options:</dt>
            <dd>
              <ul class="multiple-options">
                <li>1 year full time</li>
                <li>Up to 2 years part time</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">University</h3>

      <p>Offers full time and part time courses.</p>

      <p>What is ‘Science with Chemistry’?: “The PGCE Secondary Science course supports trainees to teach all of the Science subjects at KS3 and KS4 (GCSE) with post-16 enhancement in their specialist subject of Biology, Chemistry or Physics. There is a part-time option available.”</p>

      <p><a href="http://www.bishopg.ac.uk/study/courses/pgcesec/">Course page</a></p>
    </div>
  </div>

  <h2 class="govuk-heading-l">Edge cases</h2>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Primary at University of Cumbria</a>
          </h3>

          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to nearest campus</dd>
            <dt>Nearest campus:</dt>
            <dd>Tower Hamlets<br />London, E14 6JE</dd>
            <dt>Qualification:</dt>
            <dd>PGCE with QTS</dd>
            <dt>Study options:</dt>
            <dd>1 year full time</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Multiple campuses</h3>
      <p>This is an edge case, only 7 courses in Higher Education with multiple campuses</p>
    </div>
  </div>

  <h2 class="govuk-heading-l">Refinements on live</h2>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Secondary Business Studies at Associated Merseyside Partnership SCITT</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>3.8 miles</dd>
            <dt>Location:</dt>
            <dd>Deyes Lane, Maghull, Merseyside, L31 6DE</dd>
            <dt>Study type and duration:</dt>
            <dd>1 year full time</dd>
            <dt>Financial support:</dt>
            <dd>Student finance if you’re eligible</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Private beta</h3>
    </div>
  </div>

  <div class="govuk-grid-row listing-example-container">
    <div class="govuk-grid-column-two-thirds">
      <ul class="listing-example">
        <li>
          <h3 class="govuk-heading-m">
            <a href="#">Business studies at Associated Merseyside Partnership SCITT</a>
          </h3>
          <dl class="aligned">
            <dt>Distance:</dt>
            <dd>4 miles to training provider</dd>
            <dt>Location:</dt>
            <dd>Maghull, Merseyside, L31 6DE</dd>
            <dt>Study options:</dt>
            <dd>1 year full time</dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Simplified private beta</h3>
      <p>Always present miles without decimal places. Show less address information. Standardised subject names.</p>
    </div>
  </div>
{% endblock %}
