{% extends "layout-withNav.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("index2.html")}}
      {{macros.h1("Educational details")}}
      {{ macros.formStart()}}
        <div class="form-group">
          {{ macros.selectBox("qualificationInput","Qualification type","address_Input",[""])}}
          {{ macros.textbox("gradeInput","Grade")}}
          {{ macros.textbox("instituteInput","Institution")}}
          {{ macros.textbox("yearInput","Year of completion")}}
          {{ macros.radioInline("Do you want to add another qualification?",["Yes","No"])}}
          {{ macros.submitLink("Save","index-education-completed.html")}}
          <div class="marginTop20">
            {{macros.link("index-education-completed","Discard this qualification")}}
          </div>
        </div>
        <br>
      {{macros.formEnd()}}
        <div id="addedQualifications" class="topSeparator">
          <h3 class="heading-medium">
            Qualifications added
          </h3>
          <div class="qualification">
            Qualification type: GCSE<br>
            Grade: 8<br>
            Institute: St. Mary's School<br>
            Year of completion: 2010<br><br>
            {{macros.link("#","Edit this qualification")}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{macros.link("#","Delete this qualification")}}
          </div>
          <div class="qualification">
            Qualification type: A level<br>
            Grade: 8<br>
            Institute: Univeristy of Newcastle<br>
            Year of completion: 2014<br><br>
            {{macros.link("#","Edit this qualification")}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{macros.link("#","Delete this qualification")}}
          </div>
        </div>

    </div>
  </div>
</main>

{% endblock %}
