{% extends "layout-withNav.html" %}

{% block page_title %}
  Task list
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Create your profile
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Basic details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="personal-details.html" aria-describedby="eligibility-completed">
                Personal details
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="contact-details.html" aria-describedby="read-declaration-completed">
                Contact details
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Professional details
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="education-details.html" aria-describedby="company-information-completed">
                Qualifications
              </a>
              <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="school-experience.html" aria-describedby="contact-details-completed">
                School experience
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="work-experience.html">
                Work experience
              </a>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Referees
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="primary_references.html">
                First referee
              </a>
            </li>
            <li class="task-list-item">
              <a class="task-name" href="secondary_references.html">
                Second referee
              </a>
            </li>
          </ul>
        </li>
      </ol>
      <p>
      Once you have completed your profile, you can apply for teacher training courses.
    </p>
      {{macros.submitLink("Save","../home_profilecreated.html")}}
    </div>
  </div>
</main>

{% endblock %}
