{% extends "layout-withNav.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}
<script>
function addExpereience(){
  var qual = "";
  var addAnother = "";
  radios=document.getElementsByTagName("input");
  console.log(radios.length);
  for (var i = 0; i < radios.length; i++) {
    if (radios[i].type === 'radio' && radios[i].checked) {
        // get value, set checked flag or do whatever you need to
        addAnother = radios[i].value;
    }
  }
  if(addAnother=="No"){
    window.location.href = 'index-school-completed.html';
  }
  qual = "<div class=\"qualification\">"
  qual += "School: "+document.getElementById("schoolInput").value + "</br>";
  qual += "Duration of school experience: "+document.getElementById("durationInput").value + "</br>";
  qual += "Key learning: "+document.getElementById("learnInput").value + "</br>";
  qual += "<a href=\"#\">Edit this qualification</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"#\">Delete this qualification</a>"
  qual += "</div>";
  document.getElementById("addedExperiences").innerHTML += qual;

}
</script>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("index.html")}}
      {{macros.h1("School experience")}}
      {{ macros.formStart()}}
        <div class="form-group">
          {{ macros.textbox("schoolInput","School")}}
          {{ macros.textbox("durationInput","Duration")}}
          {{ macros.textbox("learnInput","What have you learnt from your school experience ?")}}
          {{ macros.radioInline("","Do you want to add another school experience?",["Yes","No"])}}
          <input type="button" class="button" onclick="addExpereience()" value="Save">
        </div>
        <div id="addedExperiences" class="topSeparator">
          <h3 class="heading-medium">
            School experience added
          </h3>
        </div>
        <br>
      {{macros.formEnd()}}

    </div>
  </div>
</main>

{% endblock %}
