{% extends "layout-withNav.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      {{macros.backLink("index2.html")}}
      {{macros.h1("Second referee")}}
      {{macros.helpText("What makes a good referee ?",
      "If you’re at uni or college, or finished within the last five years, we’d recommend that your first reference is from a tutor or lecturer who can comment on your academic achievements.
      Your second referee can be someone who knows you well enough in a professional capacity – either from an academic or professional background.
      Both your referees will be asked to comment on your suitability for teaching.
      Your referee can’t be a family member or friend.")}}<br>
      {{ macros.formStart()}}
        <div class="form-group">
            {{ macros.textbox("fnameInput","First name")}}
            {{ macros.textbox("lnameInput","Last name")}}
            {{ macros.textbox("phoneInput","Phone number")}}
            {{ macros.textbox("emailInput","Email")}}
            {{ macros.address("Address","Enter your postcode","secondary_references-select-address.html")}}
            <a href="#">Enter address manually</a>
        </div>
        {{ macros.submitLink("Save","index-secondary-referee-completed.html")}}
      {{macros.formEnd()}}

    </div>
  </div>
</main>

{% endblock %}
