{% extends "layout.html" %}
{% set title = 'Subjects, bursaries and SKE courses' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>We tested this design with 4 users:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://lookback.io/watch/az5TkZTc9rwgyoheL">Participant 1</a></li>
        <li><a href="https://lookback.io/watch/K6SmyEx5Kz76j6TAf">Participant 2 (Multiple sclerosis)</a></li>
        <li><a href="https://lookback.io/watch/YSyCpM8ERpT7oFEAK">Participant 3</a></li>
        <li><a href="https://lookback.io/watch/Qm2gKZJYCTopwAKNM">Participant 4</a></li>
      </ul>
      <p><a href="https://docs.google.com/spreadsheets/d/1EEpqT5u2GLr3wJyk_SnKiysTtf5s88gYGiYqmWzNjl4/">User research findings</a></p>

      <h2 class="govuk-heading-l">Choosing a subject behaviour</h2>

      <p>The text above the subject listing was hardly read. Nobody read the information about SKE courses. One user responded to the financial support information.</p>

      <p>Information alongside each subject was usually noted, we observed some users changing their choices based on inline text.</p>

      <p>“I would be interested in History the most because I could get a bursary”</p>

      <p>We observed many users selecting more subjects than they initially considered.</p>

      <p>There were no problems with the accordion pattern.</p>

      <p>We <a href="/history/live-launch#find-by-subject">iterated the design</a> to remove the SKE text at the top and shortened and simplified the financial support details. We  added jumping off links to Get into Teaching. SKE information was added to each of the subjects, where it is more likely to be noticed.</p>

      <h2 class="govuk-heading-l">You can’t apply yet</h2>

      <p>In lieu of the "Apply on UCAS" link, users frequently clicked through to the Get into Teaching guidance, which was deemed to be useful.</p>

      <p>One user was confused about how to apply, they’d contact the provider for more information.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Start page', id: 'start-page' },
    { text: 'Find by location', id: 'find-by-location' },
    { text: 'Find by subject', id: 'find-by-subject' },
    { text: 'Search results', id: 'search-results' },
    { text: 'Salary filter', id: 'salary-filter' },
    { text: 'Full course page', id: 'full-course-page' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Start page', 'start-page', '/public/images/history/subjects-bursaries-and-skes/thumbnails/01-start-page.png', '/public/images/history/subjects-bursaries-and-skes/01-start-page.png', '') }}

  {{ macros.screenshot('Find by location', 'find-by-location', '/public/images/history/subjects-bursaries-and-skes/thumbnails/02-find-by-location.png', '/public/images/history/subjects-bursaries-and-skes/02-find-by-location.png', '') }}

  {{ macros.screenshot('Find by subject', 'find-by-subject', '/public/images/history/subjects-bursaries-and-skes/thumbnails/03-find-by-subject.png', '/public/images/history/subjects-bursaries-and-skes/03-find-by-subject.png', '') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/subjects-bursaries-and-skes/thumbnails/04-search-results.png', '/public/images/history/subjects-bursaries-and-skes/04-search-results.png', '') }}

  {{ macros.screenshot('Salary filter', 'salary-filter', '/public/images/history/subjects-bursaries-and-skes/thumbnails/05-salary-filter.png', '/public/images/history/subjects-bursaries-and-skes/05-salary-filter.png', '') }}

  {{ macros.screenshot('Full course page', 'full-course-page', '/public/images/history/subjects-bursaries-and-skes/thumbnails/06-full-course-page.png', '/public/images/history/subjects-bursaries-and-skes/06-full-course-page.png', '') }}

</main>
{% endblock %}
