{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    King's College London
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">Partner schools</h3>
        <p>
          At UCL we partner with a wide variety of schools so that our students get a wider experience of working with a variety of students. UCL has partnered with <span class="bold-text">28 schools</span>.
        </p>
        <p>
          The different schools UCL is associated includes
          <ul class="list list-bullet">
            <li>Primary schools</li>
            <li>Secondary schools</li>
            <li>Faith schools</li>
            <li>Girls only schools</li>
            <li>Boys only schools</li>
            <li>Special needs schools</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <a href="#" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><span>Partner schools</span></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
        <div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
