{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    King's College London
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">Course outcome</h3>
        <p>
          The course results in a degree <span class="bold-text">PGCE and QTS</span>.
        </p>
        <h4 class="heading-small">Careers</h3>
        <p>
          Graduates of this programme are currently working across a broad range of areas. Some are working as English teachers and heads of English departments and faculties in schools, while others have jobs as mentors of English PGCE students. Graduates in this area can also be found working as senior leaders in schools.
        </p>
        <p>
          Typical career destinations for this degree
        </p>
        <ul class="list list-bullet">
          <li>Secondary School Teacher</li>
          <li>English Teacher</li>
          <li>Secondary School English and Drama Teacher</li>
          <li>English and Media Teacher</li>
        </ul>
        <h4 class="heading-small">Employability</h3>
        <p>
          Graduates of the Secondary PGCE programme are highly employable and sought after by schools and colleges in London and beyond. Almost all graduates secure their first teaching post by the time they finish the PGCE programme. Graduates of the programme also have great career prospects, with many becoming Head of Department or a Head of Year within 2-5 years, often acting, in their schools, as mentors to new PGCE student teachers. Many of our graduates become senior teachers (such as Assistant Headteachers or Head of a Faculty) in 5-8 years of graduating, and some are now Headteachers. Others have developed their careers as subject specialist teachers and educators, both becoming lead teachers in the classroom and researching, writing and advising other teachers themselves. The Secondary PGCE Programme is a springboard into a rewarding career, not just as a skilled teacher, but as an educational leader.
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <a href="#" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><span>Course outcome</span></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
