{% extends "_layouts/default.njk" %}

{% set parent = "Prototype admin" %}
{% set title = "Data cleared" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>The session data has been cleared.</p>
      <p><a href="/">Prototype home page</a></p>
    </div>
  </div>
{% endblock %}
