{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    Goldsmiths University of London
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">Contacts</h3>
        <ul class="list list-bullet">
          <li>Address: Goldsmiths University of London, Gower Street, London, WC1E 6BT</li>
          <li>Admissions officer: John Doe</li>
          <li>Phone: +44 (0)20 7679 2000</li>
          <li>Email: <a href="mailto:teaching-admissions@ucl.ac.uk">teaching-admissions@ucl.ac.uk</a></li>
          <li>Website: <a href="http://www.ucl.ac.uk/ioe/courses/teacher-training" target="_blank">www.gul.ac.uk</a></li>
        </ul>
      </div>
    </div>
    <div class="column-one-third">
      <a href="../../sign-in.html" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><span>Contacts</span></li>
          </ul>
        </nav>
      </div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
