{% extends "_layouts/default.njk" %}

{% set pageName = "About " + course.accredited_body.name  %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back to " + course.name + " (" + course.code + ")",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {# <span class="govuk-caption-xl">Accredited provider</span> #}
      About {{ course.accredited_body.name }}
    </h1>
    {% if course.about_accredited_body %}
      {{ course.about_accredited_body | markdown | safe }}
    {% endif %}

  </div>
</div>

{% endblock %}
