{% extends "_layouts/default.njk" %}

{% set title = course.name + " (" + course.code + ") with " + course.provider.name %}

{% block pageTitle %}
{{ "Error: " if showError }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{% if referrer == "provider" %}
  {% set backLinkText = "Back to provider" %}
{% else %}
  {% set backLinkText = "Back to search results" %}
{% endif %}
{{ govukBackLink({
  text: backLinkText,
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/nearing-end-of-cycle-banner.njk" %}

<!--Add the dynamic content in here-->
<!-- may need to refer to the filter.js file to parse the data into a human readable format-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">
          {{ course.provider.name }}
        </span>
        {{ course.name }} ({{ course.code }})
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      {% include "./sections/fee-box-2024.njk" %}

      {% include "./sections/nearest-placement-2024.njk" %}

      {% include "./sections/apply.njk" %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      {% include "./sections/summary-2024.njk" %}

      {% include "./sections/non-uk-quals-2024.njk" %}

      {#{% if not course.has_vacancies %}
        {% include "./sections/_cannot-apply-warning.njk" %}
      {% endif %}#}

      {% if course.about_course %}
        {% include "./sections/about-course-2024.njk" %}
      {% endif %}

      {% if course.provider.train_with_disability %}
        {% include "./sections/training-with-disabilities-2024.njk" %}
      {% endif %}

      {% include "./sections/support-and-advice-2024.njk" %}

      {% include "./sections/apply.njk" %}

    </div>
  </div>

{% endblock %}
