    <!--Fee-based course-->
    <div class="govuk-notification-banner fee-no-border" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">

  {% if course.has_fees %}
    {% if course.fee_domestic %}
      {% if course.fee_international %}
      <div class="govuk-notification-banner__content fee-bg">
        <p class="fee-title">
          Fees for {{ course.year_range }}
        </p>
        <div class="fee-container">
          <div class="fee-item">
            <p class="fee-key">
              UK citizens
            </p>
            <h3 class="fee-value">
              £{{ course.fee_domestic | numeral('0,0') }}
            </h3>
          </div>
          <div class="fee-item">
            <p class="fee-key">
              Non-UK citizens
            </p>
            <h3 class="fee-value">
              £{{ course.fee_international | numeral('0,0') }}
            </h3>
          </div>
        </div>
         <p class="govuk-body">
        <a href="#accordion-fees-financial-support" style="color:#ffffff;">
          Fees and financial support
        </a>
      </p>
      </div>
      {% else %}
      <div class="govuk-notification-banner__content fee-bg">
        <p class="fee-title">
          Fees for {{ course.year_range }}
        </p>
        <div class="fee-container">
          <div class="fee-item">
            <p class="fee-key">
              UK citizens
            </p>
            <h3 class="fee-value">
              £{{ course.fee_domestic | numeral('0,0') }}
            </h3>
          </div>
        </div>
      <p class="govuk-body">
        <a href="#accordion-fees-financial-support" style="color:#ffffff;">
          Fees and financial support
        </a>
      </p>
    </div>
      {% endif %}
    {% endif %}
  {% else %}
      <div class="govuk-notification-banner__content salary-bg">
          <p class="fee-title">
            Fees for {{ course.year_range }}
          </p>
          <span class="fee-value">
            <strong>
              No fee
            </strong>
          </span>
          <p class="salary-value">
            You will be paid a salary
          </p>
         <p class="govuk-body">
          <a href="#accordion-fees-financial-support" style="color:#ffffff;">
            Fees and financial support
          </a>
        </p>
      </div>
    {% endif %}

    </div>
    <!--END Fee-based course-->
