<div class="govuk-accordion govuk-accordion--non-uk" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section govuk-accordion__section--non-uk">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button govuk-accordion__section-button--non-uk" id="accordion-default-heading-1">
          Non-UK citizens: check your qualifications
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-accordion__section-content--non-uk">
      <p class="govuk-body">
        Some training providers need a certificate known as a statement of comparability that shows how your qualifications compare to UK ones.
      </p>
      <p class="govuk-body">
      You can
      <a href="https://enic.org.uk/Qualifications/SOC/Default.aspx">
        apply for a statement of comparability from UK ENIC
      </a>
      (the UK European Network of Information Centres).
      </p>
      <p>
        There is a cost for the certificate and it takes 15 working days to arrive.
      </p>
      <p class="govuk-body">
        Learn more about how to
        <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/non-uk-qualifications">
          check your qualifications meet the required standard
        </a>
        .
      </p>
    </div>
  </div>
</div>
