 <div class="govuk-notification-banner govuk-notification-banner--support" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
      <h3 class="app-advice__title">
        Support and advice
      </h3>
      <p class="govuk-body">
        You can
        <a href="https://getintoteaching.education.gov.uk/teacher-training-advisers"> get a teacher training adviser</a> or
        <a href="https://getintoteaching.education.gov.uk/help-and-support"> contact Get Into Teaching</a>
        for free support.
      </p>
    </div>
  </div>
