<div style="margin-bottom:30px;">
  <p class="govuk-heading-m">
    Training with disabilities
  </p>
  <p class="govuk-body">
    <a href="{{ actions.view }}/training-with-disabilities">
      Find out about training with disabilities and other needs at {{ course.provider.name }}</a>.
  </p>
</div>
