{% extends "layout.html" %}
{% set title = 'Just the UCAS data' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>To deliver a viable service by October we are aggressively reducing scope, limiting many features to their irreducible core. When we have built the minimum viable service, we can begin to improve on features to better meet user needs. This is being tracked using a <a href="https://trello.com/b/9fCxMchD/bat-search-story-map">Story map in Trello</a>.</p>

      <p>To visualise what that service might look like, this is a design which uses:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>only the existing UCAS course data on course detail pages – eg there’s been no enrichment and there is no bespoke text</li>
        <li>the list of subjects as provided by UCAS</li>
        <li>only the locations that exist in the data for location search</li>
      </ul>

      <p>All private beta specifics (eg anything pertaining to business studies only) have been removed.</p>

      <h2 class="govuk-heading-l">User research</h2>

      <p>We tested this design with remote users on 25 to 26 July 2018:</p>

      <ul class="govuk-list">
        <li>
          <a href="https://lookback.io/watch/m3ue4g3QBwbt7pq9G">Participant 1</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/QCBC3KYjNxtEuQH5R">Participant 2</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/aHYeZsGupN6oFuGGv">Participant 3</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/evAk5KLYjJxvk2BLc">Participant 4</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/Psi3panxQDwkrXuwj">Participant 5</a>
        </li>
        <li>
          <a href="https://lookback.io/watch/7MvZtfSoB6h3HnbG4">Participant 6</a>
        </li>
      </ul>

      <p>Aiming to test:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the minimum viable service, looking for any major difficulties in the journey to prioritise focus</li>
        <li>reactions to minimum course details page</li>
        <li>results listings including distance to nearest place you can apply to attribute</li>
        <li>current filters and what is a priority in terms of building</li>
      </ul>

      <p>We <a href="/history/mvp-iteration-jul-25">iterated this design</a> during research.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Index', id: 'index' },
    { text: 'Find by location', id: 'find-by-location' },
    { text: 'Teacher training courses', id: 'teacher-training-courses' },
    { text: 'Change subject', id: 'change-subject' },
    { text: 'Minimum course page', id: 'minimum-course-page' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Index', 'index', '/public/images/history/all-courses-minimum/thumbnails/01-index.png', '/public/images/history/all-courses-minimum/01-index.png', '') }}

  {{ macros.screenshot('Find by location', 'find-by-location', '/public/images/history/all-courses-minimum/thumbnails/02-find-by-location.png', '/public/images/history/all-courses-minimum/02-find-by-location.png', '
    <h3 class="govuk-heading-m">Results</h3>
    <p>As expected, location continues to be the number 1 need for users and the first choice was selected.</p>
    <p>“I can’t travel far with kids at the moment”</p>
    <p>“Wanted to do Physics with Maths, but closest was Sheffield, which was too far to travel”</p>
  ') }}

  {{ macros.screenshot('Teacher training courses', 'teacher-training-courses', '/public/images/history/all-courses-minimum/thumbnails/03-teacher-training-courses.png', '/public/images/history/all-courses-minimum/03-teacher-training-courses.png', '
    <h3 class="govuk-heading-m">Search results</h3>
    <p>The results have been updated from the private beta to make it easier to differentiate them. Changes include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>adding a summary of the course type</li>
      <li>including the (QTS) accrediting provider</li>
      <li>denoting the type of location</li>
      <li>cleaning up the address formatting</li>
      <li>removing decimal places from distance</li>
    </ul>

    <h3 class="govuk-heading-m add-top-margin">Vacancies</h3>
    <p>The design includes filters for vacancies. We aim to show only courses with vacancies but will provide a filter to see all courses – sometimes users need to see if there are more suitable courses nearby that they could apply to in the next cycle. This doesn’t need to be addressed until after launch – at launch all courses will have vacancies.</p>

    <h3 class="govuk-heading-m">Results</h3>
    <p>Users <a href="https://lookback.io/watch/m3ue4g3QBwbt7pq9G?t=41m39s">seemed to understand</a> that they were only seeing courses with vacancies, and that they could use the filter to view courses that were full. (When a result didn’t show – “probably because there are no vacancies”)</p>

    <hr />

    <p>The ‘sort by’ dropdown caused some confusion. It isn’t clear how sorting by training provider would be useful. This was <a href="/history/mvp-iteration-jul-25#teacher-training-courses">removed in the next iteration</a>. The ordering of results by distance seemed implicit enough to remove the "sorted by distance" label too. We’ll see how this tests.</p>

    <hr />

    <p>Participant 1 didn’t know if courses were salaried or not, “<a href="https://lookback.io/watch/m3ue4g3QBwbt7pq9G?t=31m31s">None of them tell you if they are salaried or not – I assume it’s not salaried</a>” (no salaried courses were shown, they were looking for unsalaried courses because they had a bursary)</p>
  ') }}

  {{ macros.screenshot('Change subject', 'change-subject', '/public/images/history/all-courses-minimum/thumbnails/04-change-subject.png', '/public/images/history/all-courses-minimum/04-change-subject.png', '
    <p>UCAS doesn’t have subjects for "Primary general", "Primary mathematics" or "Primary physical education".</p>
    <p>Business education is more commonly referred to as business studies.</p>
    <p>The alphabetical listing seems arbitrary.</p>
    <p>Helpful guidance: <a href="https://medium.com/tripaneer-techblog/improving-the-usability-of-multi-selecting-from-a-long-list-63e1a67aab35">Improving the usability of multi-selecting from a long list</a></p>

    <h3 class="govuk-heading-m">Iteration</h3>
    <p>Before research we iterated the long list of subjects into <a href="/history/mvp-iteration-jul-25#find-by-subject-collapsed">a grouped list</a>.</p>
  ') }}

  {{ macros.screenshot('Minimum course page', 'minimum-course-page', '/public/images/history/all-courses-minimum/thumbnails/05-minimum-course-page.png', '/public/images/history/all-courses-minimum/05-minimum-course-page.png', '
    <p>The course website, not shown here, was added prior to research.</p>

    <h3 class="govuk-heading-m">Results</h3>

    <p>The course website provided a much needed jumping off point to find more information about a course.</p>
    <p>Most websites point to the provider’s home page rather than something more specific, for each course a user will need to navigate the provider website to find further information: “<a href="https://lookback.io/watch/QCBC3KYjNxtEuQH5R?t=32m59s">a lot of time and effort</a>”</p>

    <p>The website prevents the user from reaching a dead end.</p>

    <hr />

    <p>Participant 1 wanted to see requirements and eligibility, “<a href="https://lookback.io/watch/m3ue4g3QBwbt7pq9G?t=21m21s">I want to see what they’re looking for</a>”</p>

    <p>Participant 2 noted that a ‘<a href="https://lookback.io/watch/QCBC3KYjNxtEuQH5R?t=24m8s">school bio</a>’ would be useful information to show.</p>


  ') }}

</main>
{% endblock %}
