
{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <div class="sticky-header font-xsmall">
    <div class="compare-text">
      Your comparison list contains <span class="bold-text">3 providers</span>.
    </div>
    <div class="compare-link">
      <a href="results.html" >Clear comparison list</a>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Compare selected providers
      </h1>
      <p class="font-xsmall">
        <a class="font-xsmall" href="q1.html">Search for teacher training courses</a>
      </p>
    </div>
  </div>
    <div class="results">
      <div class="grid-row">
        <div class="column-full">
          <h4 class="heading-small">Provider</h4>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-one-quarter">
             &nbsp;
        </div>
        <div class="column-one-quarter">
            <h3 class="heading-small">
              <a href="courses/ucl/ucl.html">University College London</a>
            </h3>
        </div>
        <div class="column-one-quarter">
          <h3 class="heading-small">
            <a href="courses/ucl/lmu.html">London Metropolitan University</a>
          </h3>
        </div>
        <div class="column-one-quarter">
          <h3 class="heading-small">
            <a href="courses/ucl/gul.html">Goldsmiths University of London</a>
          </h3>
        </div>
      </div>
    </div>

    <div class="results">
      <div class="grid-row">
        <div class="column-full">
          <h4 class="heading-small">Course details</h4>
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
            Duration
        </div>
        <div class="column-one-quarter ">
          12 months
        </div>
        <div class="column-one-quarter">
         12 months
        </div>
        <div class="column-one-quarter">
          12 months
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Starts
        </div>
        <div class="column-one-quarter">
          September 2017
        </div>
        <div class="column-one-quarter">
          September 2017
        </div>
        <div class="column-one-quarter">
          September 2017, January 2018 and Arpil 2018
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Approach
        </div>
        <div class="column-one-quarter">
          University led
        </div>
        <div class="column-one-quarter">
          University led
        </div>
        <div class="column-one-quarter">
          University led
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
        Fees
        </div>
        <div class="column-one-quarter">
        £9,000
        </div>
        <div class="column-one-quarter">
          £8,700
        </div>
        <div class="column-one-quarter">
          £6,000
        </div>
      </div>


    </div>
    <div class="results">
      <div class="grid-row">
        <div class="column-full">
          <h4 class="heading-small">Partner schools</h4>
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Number of schools
        </div>
        <div class="column-one-quarter">
          34
        </div>
        <div class="column-one-quarter">
          13
        </div>
        <div class="column-one-quarter">
          3
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Type of schools
        </div>
        <div class="column-one-quarter">
          Primary, Secondary
        </div>
        <div class="column-one-quarter">
          Primary, Secondary, Faith schools
        </div>
        <div class="column-one-quarter">
          Primary
        </div>
      </div>
    </div>
    <div class="results">
      <div class="grid-row">
        <div class="column-full">
          <h4 class="heading-small">Course outcome</h4>
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Qualification
        </div>
        <div class="column-one-quarter">
          Post Graduate Certificate in Education and Qualified Teacher Status
        </div>
        <div class="column-one-quarter">
          Post Graduate Certificate in Education and Qualified Teacher Status
        </div>
        <div class="column-one-quarter">
          Qualified Teacher Status
        </div>
      </div>
    </div>
    <div class="results">
      <div class="grid-row">
        <div class="column-full">
          <h4 class="heading-small">Access to network</h4>
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Interact with candidates
        </div>
        <div class="column-one-quarter">
          Yes, at events.
        </div>
        <div class="column-one-quarter">
          Yes, at events.
        </div>
        <div class="column-one-quarter">
          No
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter font-xsmall bold-text">
          Interact with alumni
        </div>
        <div class="column-one-quarter">
          Yes, through online forums
        </div>
        <div class="column-one-quarter">
          No
        </div>
        <div class="column-one-quarter">
          No
        </div>
      </div>
      <div class="grid-row font-xsmall">
        <div class="column-one-quarter bold-text">
          Mentors
        </div>
        <div class="column-one-quarter">
          Yes
        </div>
        <div class="column-one-quarter">
          Yes
        </div>
        <div class="column-one-quarter">
          Yes
        </div>
      </div>
    </div>

</div>

</main>
{% endblock %}
