
{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <div class="sticky-header font-xsmall">
    <div class="compare-text">
      Your comparison list contains <span class="bold-text">3 providers</span>.
    </div>
    <div class="compare-button">
      <a href="compare.html" class="button">View comparison list</a>
    </div>
  </div>
  <div class="column-full">
    {{macros.h1("6 Teacher training courses found")}}
    <p class="font-xsmall">
      Showing all teacher training courses around <span class="bold-text">London</span> offering training in <span class="bold-text">English</span>.
    </p>
  </div>
  <div>
    <div class="grid-row">
      <div class="column-one-third font-xsmall">
        {{ macros.filterResultsV2()}}
      </div>
      <div class="column-two-thirds">
        {{ macros.providerResultAddedV2([
            {
              'url':'courses/ucl/ucl.html',
              'name':'University College London',
              'type':'University',
              'subjects':'English, Physics',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'28',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'Sepetember 2017',
              'address':'Gower Street, London WC1E 6BT'
            },
            {
              'url':'lmu.html',
              'name':'London Metropolitan University',
              'type':'University',
              'subjects':'English, History, Mathematics, Physics',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'17',
              'typeOfPartnerSchools':'Primary, Secondary, Boys only schools, Girls only schools',
              'starts':'Sepetember 2017',
              'address':'Holloway Road, London N7 8DB'
            },
            {
              'url':'tls.html',
              'name':'Teaching London SCITT',
              'type':'SCITT',
              'subjects':'English',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'28',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'Sepetember 2017',
              'address':'Gower Street, London WC1E 6BT'
            },
            {
              'url':'gul.html',
              'name':'Goldsmiths University of London',
              'type':'University',
              'subjects':'English, Physics, Maths, History',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Qualified Teacher Status',
              'noOfPartnerSchools':'8',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'Sepetember 2017',
              'address':'New Cross, London SE14 6NW'
            },
            {
              'url':'ucl.html',
              'name':'King\'s College London',
              'type':'University',
              'subjects':'English, Physics',
              'duration':'12 months',
              'studyType':'Full time',
              'outcome':'Postgraduate Certificate in Education and Qualified Teacher Status',
              'noOfPartnerSchools':'13',
              'typeOfPartnerSchools':'Primary, Secondary, Girls only school',
              'starts':'Sepetember 2017',
              'address':'Lampton Avenue, Hounslow TW3 4EP'
            }
          ])}}
      </div>

    </div>
  </div>

</main>
  {% endblock %}
