{% extends "layout.html" %}
{% block pageTitle %}Question page{% endblock %}
{% if not backLink %}
  {% set backLink = { text: 'Back to location', href: '/start/location'} %}
{% endif %}
{% block backLink %}{{ macros.backLink(backLink.href, backLink.text) }}{% endblock %}


{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {{macros.h1("Financial support while you train")}}
      <p>
        Business studies courses come with either student finance (a tuition fee loan and maintenance loan, if you’re eligible) or a salary.
      </p>

      <form action="/results" method="get">
        <div class="form-group">

          {% set fields = [
              {
                name: 'All courses (with salaries or with student finance)'
              },
              {
                name: 'Only courses that come with a salary'
              }
            ]
          %}

          {{ macros.radioGroup('funding', fields) }}
        </div>

        <p>You can <a href="https://www.gov.uk/student-finance">find out more about student finance and the eligibility requirements</a>.</p>

        <div style="padding-top: 30px">
          {{ macros.submit("Find courses") }}
        </div>
      </form>

      <h2 class="govuk-heading-m">
          Other financial support
      </h2>
      <p>
          Some other subjects offer different types of financial support for trainee teachers. You can find out more about <a href="https://getintoteaching.education.gov.uk/funding-and-salary/overview/funding-by-subject">financial support for trainee teachers</a> on the Get into Teaching website.
      </p>
    </div>
  </div>
{% endblock %}
