{% extends "layout.html" %}
{% set title = "Find courses by location or by training provider" %}

{% block backLink %}
  {{ govukBackLink({
    text: backLink.text,
    href: backLink.href
  }) if backLink }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ "/results/filters/location" if filtering else "/start/location" }}" method="post" class="form">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: error.error_message,
            href: "#postcode-town-or-city"
          }]
        }) if error }}

        {{ govukRadios({
          name: "location",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [{
            value: "By postcode, town or city",
            text: "By postcode, town or city",
            conditional: {
              html: macros.textbox("postcode-town-or-city", "Postcode, town or city")
            }
          }, {
            value: "Across England",
            text: "Across England"
          }, {
            divider: "or"
          }, {
            value: "By school, university or other training provider",
            text: "By school, university or other training provider",
            conditional: {
              html: macros.textbox("providerNameInput", "School, university or other training provider")
            }
          }]
        }) }}

        {{ govukInput({
          id: "map",
          name: "map",
          type: "hidden",
          value: "yes"
        }) if isMap }}

        {{ govukButton({
          text: "Find courses" if filtering else "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
