{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% if not backLink %}
  {% set backLink = { text: 'Back to start', href: '/'} %}
{% endif %}

{% block content %}

<main id="content" role="main">
  {{macros.betaBanner()}}
  <div class="grid-row">
    <div class="column-full">
      {{ macros.backLink(backLink.text, backLink.href) }}
      {{ macros.h1("Choose your search") }}

      <form action="{% if filtering %}/results{% else %}/start/funding{% endif %}" method="post" class="form">
        <div class="form-group">
          {% set postcodeFields %}
            {{ macros.textbox("postcode-town-or-city", "Postcode, town or city")}}
            {{ macros.selectBox("location-radius", "Within", "location-radius", ["5 miles","10 miles","20 miles","50 miles","100 miles"]) }}
          {% endset %}

          {% set trainingProviderFields %}
            {{ macros.textbox("providerNameInput","School, university or other training provider") }}
          {% endset %}

          {% set fields = [
              {
                name: 'By postcode, town or city',
                more: postcodeFields
              },
              {
                name: 'Across England'
              },
              {
                name: 'School, university or other training provider',
                more: trainingProviderFields
              }
            ]
          %}

          {{ macros.radioGroup('location', fields) }}
        </div>

        {% if filtering %}
          {{ macros.submit("Find courses") }}
        {% else %}
          {{ macros.submit("Continue") }}
        {% endif %}
      </form>
    </div>
  </div>
</main>

{% endblock %}
