{% extends "layout.html" %}
{% set title = 'Pick a provider' %}
{% block page_title %}{{ title }}{% endblock %}

{% if not backLink %}
  {% set backLink = { text: 'Back', href: '/'} %}
{% endif %}
{% block backLink %}{{ macros.backLink(backLink.href, backLink.text) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>You searched for ‘university of’.</p>

      <p>We found these providers which matched your search:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Canterbury Christ Church University (C10)</a>
        </li>
        <li>
          <a href="#">The University of Warwick (W20)</a>
        </li>
        <li>
          <a href="#">The University of Reading (R12)</a>
        </li>
        <li>
          <a href="#">University of Hertfordshire (H36)</a>
        </li>
        <li>
          <a href="#">University of Sussex (S90)</a>
        </li>
      </ul>

      <hr />

      <details role="group">
        <summary style="margin-bottom: 0;" role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">Try another provider</span>
        </summary>
        <div class="panel panel-border-narrow">
          {{ macros.textbox("provider", "School, university or other training provider", "Enter the name or provider code")}}
          {{ macros.submit("Search again") }}
        </div>
      </details>
    </div>
  </div>
{% endblock %}
