{% extends "layout.html" %}
{% set title = "Find courses by subject" %}

{% if not backLink %}
  {% set backLink = { text: 'Back', href: '/start/location'} %}
{% endif %}
{% block backLink %}{{ macros.backLink(backLink.href, backLink.text) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Select the subjects you want to teach.</p>

      <!-- <p>You can train to teach a subject even if you don’t have a degree in it, or if you haven’t used your degree knowledge recently. For some subjects you can take a subject knowledge enhancement (SKE) course.</p>

      <p><a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/subject-knowledge-enhancement-ske-courses">Find out more about SKE courses on Get into Teaching</a>.</p> -->

      <h2 class="govuk-heading-m">Get financial support</h2>
      <p>Most courses charge a fee. You can get financial support to help with the costs of your course. The financial support options available to you will depend on the subject you choose.</p>
      <!-- <p>For some subjects you could be eligible for up to £28,000 tax-free while you train, through a bursary or scholarship.</p> -->
      <!-- <p>Most subjects have a few courses that pay a salary. These usually have no fees and you’ll be paid and taxed as an unqualified teacher with salaries starting from £16,000.</p> -->
      <!-- <p>Student finance (tuition fee and maintenance loans) is available for all subjects.</p> -->
      <p>Find out more about <a href="https://getintoteaching.education.gov.uk/funding-and-salary/overview/postgraduate-loans">postgraduate loans</a>, <a href="https://getintoteaching.education.gov.uk/funding-and-salary/overview">bursaries and scholarships</a> and <a href="https://getintoteaching.education.gov.uk/funding-and-salary/overview/funding-by-subject">funding by subject</a> on Get into Teaching.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/results">
        {% if isMap %}<input type="hidden" name="map" value="yes" />{% endif %}
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for subjectGroup in subjectGroups %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                    {{ subjectGroup.group }}
                  </span>
                </h2>
              </div>
              <div class="govuk-accordion__section-content">
                <div class="form-group">
                  {{ macros.checkboxGroup('selectedSubjects', subjectGroup.subjects, false, loop.index * 100, true) }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- <div class="govuk-!-margin-bottom-6">
          {% set fields = [
              {
                name: 'Show only SEND courses'
              }
            ]
          %}

          {% set detailsHtml %}{{ macros.checkboxGroup('sen', fields) }}{% endset %}

          {{ govukDetails({
            summaryText: "Do you want to teach Special educational needs and disability (SEND)?",
            html: detailsHtml,
            open: data['sen']
          }) }}
        </div> -->

        {{ macros.submit("Find courses") }}
      </form>
    </div>
  </div>
{% endblock %}
