{% extends "layout.html" %}
{% set title = 'Find courses by subject' %}
{% block page_title %}{{ title }}{% endblock %}

{% if not backLink %}
  {% set backLink = { text: 'Back', href: '/start/location'} %}
{% endif %}

{% block content %}

<main id="content" role="main">
  {{macros.betaBanner()}}
  {{ macros.backLink(backLink.text, backLink.href) }}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">{{ title }}</h1>

      <form action="/results">
        <div id="accordion" class="accordion add-double-bottom-margin">
          {% for subjectGroup in subjectGroups %}
            <div class="accordion-section">

              <div class="accordion-section-header">
                <h2 class="heading-medium">{{ subjectGroup.group }}</h2>
              </div>
              <div class="accordion-section-body">
                <div class="form-group">
                  {{ macros.checkboxGroup('selectedSubjects', subjectGroup.subjects, loop.index * 100) }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        {{ macros.submit("Find courses") }}
      </form>
    </div>
  </div>
</main>

{% endblock %}
