  <!--About the course-->
  <h2 class="govuk-heading-l">
    About the course
  </h2>
  <p class="govuk-body">
    {{ course.about_course | markdown | safe }}
  </p>
  <!--END About the course-->

  <!--Fees and financial support-->
 <h2 class="govuk-heading-l">
    Fees and financial support
  </h2>
      <p class="govuk-body">
          Fees for {{ course.year_range }}:
       </p>
      <dl class="govuk-summary-list">
        {% if course.has_fees %}
          {% if course.fee_domestic %}
            {% if course.fee_international %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  UK citizens
                </dt>
                 <dd class="govuk-summary-list__value">
                  £{{ course.fee_domestic | numeral('0,0') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Non-UK citizens
                </dt>
                 <dd class="govuk-summary-list__value">
                  £{{ course.fee_international | numeral('0,0') }}
                </dd>
              </div>
            {% else %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  UK citizens
                </dt>
                 <dd class="govuk-summary-list__value">
                  £{{ course.fee_domestic | numeral('0,0') }}
                </dd>
              </div>
            {% endif %}
          {% endif %}
          {% else %}
           <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  No fee
                </dt>
                 <dd class="govuk-summary-list__value">
                  You will be paid a salary
                </dd>
              </div>
        {% endif %}
      </dl>

      {% if course.has_fees %}
        {% if course.fee_domestic %}
          {% if course.fee_details %}
            {{ course.fee_details | markdown | safe }}
          {% endif %}
        {% endif %}
      {% endif %}

      {% if course.financial_support %}
        {{ course.financial_support | markdown | safe }}
      {% endif %}

    <!--UK financial support-->
    <div class="govuk-accordion govuk-accordion--non-uk" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section govuk-accordion__section--uk">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-accordion__section-button--non-uk" id="accordion-default-heading-1">
              Financial support for UK citizens
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-accordion__section-content--non-uk">
          {% set financialSupportHtml %}
            {% if course.has_salary %}
              {% include "./fees-and-financial-support/salary.md" %}
            {% elif course.has_scholarship_and_bursary %}
              {% include "./fees-and-financial-support/bursary-and-scholarship.md" %}
            {% elif course.has_bursary %}
              {% include "./fees-and-financial-support/bursary.md" %}
            {% else %}
              {% include "./fees-and-financial-support/loan.md" %}
            {% endif %}
          {% endset %}

          {{ financialSupportHtml | trim | markdown | safe }}
        </div>
      </div>
    </div>
    <!--End UK financial support-->

    <!--Non-UK financial support-->
    <div class="govuk-accordion govuk-accordion--non-uk" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section govuk-accordion__section--non-uk">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-accordion__section-button--non-uk" id="accordion-default-heading-1">
              Financial support for non-UK citizens
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-accordion__section-content--non-uk">
          <p class="govuk-body">
              If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary or student loan.
            </p>
            <p class="govuk-body">
              <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">
                Find out what financial support is available to non-UK citizens</a>.
            </p>
        </div>
      </div>
    </div>
    <!--End Non-UK financial support-->


    <!--END Fees and financial support-->

    <!--How placements work-->
    <h2 class="govuk-heading-l">
      How school placements work
    </h2>
      {% if data.q == "location" %}
        {% if schools.length > 1 %}
          <p class="govuk-body">
            {{ course.provider.name }} works with {{ schools.length }} school {{- "s" if schools.length > 1 }}. They will place you in different schools you can travel to during your training.
          </p>
          <p class="govuk-body">
            The nearest school you could be placed in is:
          </p>
          {% else %}
            <p class="govuk-body">
            {{ course.provider.name }} works with schools to provide your placements during your training.
          </p>
          <p class="govuk-body">
            The nearest school you could be placed in is:
          </p>
        {% endif %}
          <div class="map-icon-alignment">
              <div class="map-icon">
                <!--map icon-->
                <svg class="map-size" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 368.553 368.553" xml:space="preserve">
                <g>
                  <g>
                    <path d="M184.277,0c-71.683,0-130,58.317-130,130c0,87.26,119.188,229.855,124.263,235.883c1.417,1.685,3.504,2.66,5.705,2.67
                      c0.011,0,0.021,0,0.032,0c2.189,0,4.271-0.957,5.696-2.621c5.075-5.926,124.304-146.165,124.304-235.932
                      C314.276,58.317,255.96,0,184.277,0z M184.322,349.251C160.385,319.48,69.277,201.453,69.277,130c0-63.411,51.589-115,115-115
                      s115,51.589,115,115C299.276,203.49,208.327,319.829,184.322,349.251z"/>
                    <path d="M184.277,72.293c-30.476,0-55.269,24.793-55.269,55.269s24.793,55.269,55.269,55.269s55.269-24.793,55.269-55.269
                      S214.753,72.293,184.277,72.293z M184.277,167.83c-22.204,0-40.269-18.064-40.269-40.269s18.064-40.269,40.269-40.269
                      s40.269,18.064,40.269,40.269S206.48,167.83,184.277,167.83z"/>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </g>
                </svg>
                <!--END map icon-->
              </div>
              <span class="govuk-body">
                <strong>
                  {{ distance.distance }} mile {{- "s" if distance.distance > 1 }}
                </strong>
                  from
                <strong>
                  {{ data.location }}
                </strong>
              </span>
            </div>
        {% if schools.length > 0 %}
          <p class="govuk-body">
            <a href="{{ actions.view }}/school-placements">View the list of school placements at {{ course.provider.name }}</a>.

          </p>
        {% endif %}
      {% endif %}

      {% if course.how_school_placements_work %}
        {{ course.how_school_placements_work | markdown | safe }}
      {% endif %}

        {% set whereYouWillTrainHtml %}
        {% if course.program_type == 'higher_education_programme' and course.provider.provider_code != 'B31' %}
            {% include "./training-locations/where-you-will-train-hei.md" %}
          {% else %}
            {% include "./training-locations/where-you-will-train-scitt.md" %}
        {% endif %}
      {% endset %}
      {{ appAdvice({
        title: "Where you will train",
        html: whereYouWillTrainHtml | trim | markdown
      }) }}

    {% if course.interview_process %}
    <h2 class="govuk-heading-l">
      Interview process
    </h2>
    {{ course.interview_process | markdown | safe }}

  {% endif %}

    <!--End About the course-->
