<h2 class="govuk-heading-m">Contents</h2>

<ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
  <li><a class="govuk-link" href="#training-locations">Where you will train</a></li>
  {% if course.has_salary %}
    <li><a class="govuk-link" href="#salary">Salary</a></li>
  {% endif %}
  <li><a class="govuk-link" href="#fees-and-financial-support">Fees and financial support</a></li>
    <li><a class="govuk-link" href="#course-summary">About the course</a></li>
  <li><a class="govuk-link" href="#interview-process">Interview process</a></li>
  <li><a class="govuk-link" href="#training-with-disabilities">Training with disabilities and other needs</a></li>
  <li><a class="govuk-link" href="#support-and-advice">Support and advice</a></li>
  <li><a class="govuk-link" href="#apply">Apply</a></li>
</ul>
