{% if showError %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage,
          href: "#secondary-subjects"
        }
      ]
    }) }}
  </div>
</div>
{% endif %}
