<form class="app-filter" method="post">
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>

  <div class="app-filter__content">

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Study type"
        }
      },
      name: "studyType",
      items: studyTypeItems
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Qualification"
        }
      },
      name: "qualification",
      items: qualificationItems
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Financial support"
        }
      },
      name: "salary",
      items: salaryItems
    }) }}


    {{ govukRadios({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-radios--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Degree grade accepted"
        }
      },
      name: "entryRequirement",
      items: [
        {
          text: '2:1 or First',
          value: 'all',
          checked: true
        }, {
          text: '2:2',
          value: '22'
        }, {
          text: 'Third',
          value: 'third'
        }, {
          text: 'Pass (Ordinary degree)',
          value: 'degree'
        }
      ]
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Visa sponsorship"
        }
      },
      name: "visaSponsorship",
      items: [
        {
          value: "yes",
          text: "Only show courses with visa sponsorship",
          checked: (data['visaSponsorship'][0] == 'yes')
        }
      ]
    }) }}

    {{ govukCheckboxes({
       formGroup: {
         classes: "app-filter__group"
       },
       classes: "govuk-checkboxes--small",
       fieldset: {
         legend: {
           classes: "govuk-fieldset__legend--s",
           text: "Special educational needs"
         }
       },
       name: "send",
       items: sendItems
     }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Vacancies"
        }
      },
      name: "vacancy",
      items: vacancyItems
    }) }}

    {{ govukButton({
      classes: "govuk-!-margin-bottom-1",
      text: "Apply filters"
    }) }}
  </div>
</form>
