<form class="app-filter" method="get">
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>

  <div class="app-filter__content">

  {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Course length"
        }
      },
      name: "studyType",
      items: [
        {
          text: "1 year full time (97)",
          value: 'full_time',
          checked: (data["studyType"] and data["studyType"].includes('full_time'))
        },
        {
          text: "2 years part time (4)",
          value: 'part_time',
          checked: (data["studyType"] and data["studyType"].includes('part_time'))
        }
      ]
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Qualification"
        }
      },
      name: "qualification",
      items: [
        {
          text: "Qualified teacher status only (31)",
          value: 'qts',
          checked: (data["qualification"] and data["qualification"].includes('qts'))
        },
        {
          text: "PGCE with qualified teacher status (76)",
          value: 'pgce_with_qts,pgde_with_qts',
          checked: (data["qualification"] and data["qualification"].includes('pgce_with_qts,pgde_with_qts'))
        }
      ]
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Salary"
        }
      },
      name: "salary",
      items: [
        {
          text: "Only show salaried courses (12)",
          value: 'include',
          checked: (data["salary"] and data["salary"].includes('include'))
        }
      ]
    }) }}


    {{ govukRadios({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-radios--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Degree grade accepted"
        }
      },
      name: "entryRequirement",
      items: [
        {
          text: '2:1 or First (102)',
          value: 'all',
          checked: true
        }, {
          text: '2:2 (89)',
          value: '22'
        }, {
          text: 'Third (73)',
          value: 'third'
        }, {
          text: 'Pass or ‘Ordinary degree’ (12)',
          value: 'degree'
        }
      ]
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Visa sponsorship"
        }
      },
      name: "visaSponsorship",
      items: [
        {
          value: "include",
          text: "Only show courses with visa sponsorship (13)",
          checked: (data['visaSponsorship'][0] == 'include')
        }
      ]
    }) }}

    {{ govukCheckboxes({
       formGroup: {
         classes: "app-filter__group"
       },
       classes: "govuk-checkboxes--small",
       fieldset: {
         legend: {
           classes: "govuk-fieldset__legend--s",
           text: "Special educational needs"
         }
       },
       name: "send",
       items: [{
        text: 'Only show courses with a SEND specialism (2)',
        value: 'include',
          checked: (data['send'][0] == 'include')
      }]
     }) }}


    {{ govukButton({
      classes: "govuk-!-margin-bottom-1",
      text: "Apply filters"
    }) }}
  </div>
</form>
