<div class="govuk-toggle" data-module="toggle">
  <button class="govuk-toggle__link js-toggle" aria-expanded="false" aria-controls="searchFilters">
    Filter the results
  </button>

  <div class="govuk-toggle__target" id="searchFilters" data-qa="filters">
    <form class="app-filter" method="post">
      <h2 class="govuk-heading-m">Filter</h2>

      {{ govukButton({
        text: "Apply filters"
      }) }}

      {{ govukInput({
        classes: "govuk-checkboxes--small",
        label: {
          classes: "govuk-label--s",
          text: "Location or training provider"
        },
        name: "q",
        value: q or area.name
      }) }}

      <div class="app-filter__group">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Subjects</h2>
        {%- set noSubjectsSelected = selectedSubjects.length == 0 -%}
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ data.subjectOptions.length if noSubjectsSelected else selectedSubjects.length }} selected</p>
        <div class="app-filter__scroll">
          {% for item in subjectItems %}
            {{ govukCheckboxes({
              classes: "govuk-checkboxes--small",
              name: "subjects",
              items: item.items
            }) }}
          {% endfor %}
        </div>
      </div>

      {{ govukCheckboxes({
        formGroup: {
          classes: "app-filter__group"
        },
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            text: "Special educational needs"
          }
        },
        name: "send",
        items: sendItems
      }) }}

      {{ govukCheckboxes({
        formGroup: {
          classes: "app-filter__group"
        },
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            text: "Study type"
          }
        },
        name: "studyType",
        items: studyTypeItems
      }) }}

      {{ govukCheckboxes({
        formGroup: {
          classes: "app-filter__group"
        },
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            text: "Qualifications"
          }
        },
        name: "qualification",
        items: qualificationItems
      }) }}

      {{ govukRadios({
        formGroup: {
          classes: "app-filter__group"
        },
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            text: "Salary"
          }
        },
        name: "salary",
        items: salaryItems
      }) }}

      {{ govukRadios({
        formGroup: {
          classes: "app-filter__group"
        },
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            text: "Vacancies"
          }
        },
        name: "vacancy",
        items: vacancyItems
      }) }}
    </form>
  </div>
</div>
