<form class="app-filter" method="post">
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>

  <div class="app-filter__content">
    {% if provider %}
      <div class="app-filter__group">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Provider</h2>
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ provider.name }}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="/results/filters/query">Change provider or choose a location</a></p>
      </div>
  {% endif %}

    <div class="app-filter__group">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Subject{{ "s" if selectedSubjects.length > 1 }}</h3>
      {%- set noSubjectsSelected = selectedSubjects.length == 0 -%}
      <p class="govuk-body-s govuk-!-margin-bottom-2">{{ selectedSubjects | join(", ", "text") }}</p>
      <p class="govuk-body-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="/results/filters/subject">Change<span class="govuk-visually-hidden"> subjects</span></a></p>
    </div>

  {% if not provider %}

    <div class="app-filter__group">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Area</h2>
      {% if area %}
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ "London" if londonBorough else area.name }}</p>
      {% else %}
        <p class="govuk-body-s govuk-!-margin-bottom-2">England</p>
      {% endif %}
      <p class="govuk-body-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="/results/filters/query">Change location or choose a provider</a></p>
    </div>
  {% endif %}

    {% if londonBorough and londonBoroughItems.length > 0 %}
      <div class="app-filter__group">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">London borough{{ "s" if londonBoroughItems.length > 1 }}</h2>
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ londonBoroughItems | join(", ", "text") }}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state" href="/results/filters/london">Change<span class="govuk-visually-hidden"> London boroughs</span></a></p>
      </div>
    {% endif %}

    <!--
    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Special educational needs"
        }
      },
      name: "send",
      items: sendItems
    }) }}
    -->

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Study type"
        }
      },
      name: "studyType",
      items: studyTypeItems
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Qualification"
        }
      },
      name: "qualification",
      items: qualificationItems
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Financial support"
        }
      },
      name: "salary",
      items: salaryItems
    }) }}


    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Degree required"
        }
      },
      name: "entryRequirement",
      items: entryRequirementItems
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Visa sponsorship"
        }
      },
      name: "visaSponsorship",
      items: [
        {
          value: "yes",
          text: "Only show courses where visas can be sponsored",
          checked: (data['visaSponsorship'][0] == 'yes')
        }
      ]
    }) }}

    {{ govukCheckboxes({
      formGroup: {
        classes: "app-filter__group"
      },
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--s",
          text: "Vacancies"
        }
      },
      name: "vacancy",
      items: vacancyItems
    }) }}

    {{ govukButton({
      classes: "govuk-!-margin-bottom-1",
      text: "Apply filters"
    }) }}
  </div>
</form>
