{% set footerHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      Email
    </h3>
    <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1"><a class="govuk-footer__link" href="#">becomingateacher@digital.education.gov.uk</a></p>
    <p class="govuk-!-font-size-16">You’ll get a response within 5 working days, or one working day for urgent requests.</p>
  </div>
</div>
{% endset %}

{{ appFooter({
  meta: {
    items: [{
      href: "/admin/clear-data",
      text: "Clear data"
    } if useAutoStoreData, {
      href: "#",
      text: "Accessibility"
    }, {
      href: "#",
      text: "Cookies"
    }, {
      href: "#",
      text: "Privacy policy"
    }, {
      href: "#",
      text: "Terms and conditions"
    }],
    title: "Get help",
    html: footerHtml
  }
}) }}
