
{% extends "layout.html" %}
{% block page_title %}Alpha version 3{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">Alpha version 3</h1>

  <a href="https://search-and-compare-alpha.herokuapp.com/v03/">Version 3 prototype</a>

  {% set contents = [
  { text: 'Index', id: 'index' },
  { text: 'Choose your search', id: 'choose-your-search' },
  { text: 'What subject', id: 'what-subject' },
  { text: 'Financial support', id: 'financial-support' },
  { text: 'Search results', id: 'search-results' },
  { text: 'Course details', id: 'course-details' },
  { text: 'About the course', id: 'about-the-course' },
  { text: 'Modules', id: 'modules' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Index', 'index', '/public/images/history/alpha-version-3/thumbnails/01-index.png', '/public/images/history/alpha-version-3/01-index.png', '') }}

  {{ macros.screenshot('Choose your search', 'choose-your-search', '/public/images/history/alpha-version-3/thumbnails/02-choose-your-search.png', '/public/images/history/alpha-version-3/02-choose-your-search.png', '') }}

  {{ macros.screenshot('What subject', 'what-subject', '/public/images/history/alpha-version-3/thumbnails/03-what-subject.png', '/public/images/history/alpha-version-3/03-what-subject.png', '') }}

  {{ macros.screenshot('Financial support', 'financial-support', '/public/images/history/alpha-version-3/thumbnails/04-financial-support.png', '/public/images/history/alpha-version-3/04-financial-support.png', '') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/alpha-version-3/thumbnails/05-search-results.png', '/public/images/history/alpha-version-3/05-search-results.png', '') }}

  {{ macros.screenshot('Course details', 'course-details', '/public/images/history/alpha-version-3/thumbnails/06-course-details.png', '/public/images/history/alpha-version-3/06-course-details.png', '') }}

  {{ macros.screenshot('About the course', 'about-the-course', '/public/images/history/alpha-version-3/thumbnails/07-about-the-course.png', '/public/images/history/alpha-version-3/07-about-the-course.png', '') }}

  {{ macros.screenshot('Modules', 'modules', '/public/images/history/alpha-version-3/thumbnails/08-modules.png', '/public/images/history/alpha-version-3/08-modules.png', '') }}

</main>
{% endblock %}
