{{ govukWarningText({
  text: "You cannot apply for this course as it is closed for applications at this time. To find courses accepting applications, change your search to ‘Only show courses accepting applications’.",
  iconFallbackText: "Warning"
}) }}
