{{ govukWarningText({
  text: "You cannot apply for this course as it is closed for applications. To find courses that are accepting applications, change your search settings to ‘Only show courses open for applications’",
  iconFallbackText: "Warning"
}) }}
