{{ govukWarningText({
  text: "You cannot apply for this course as it is closed for applications. To find courses open for applications, change your search to ‘Only show courses open for applications’.",
  iconFallbackText: "Warning"
}) }}
