{% if course.has_vacancies %}
  {{ govukButton({
    text: "Apply for this course",
    href: "#",
    isStartButton: true
  }) }}
{% else %}
  {{ govukWarningText({
    text: "You cannot apply for this course because it currently has no vacancies. To find courses with vacancies, change your search settings to ‘Only show courses with vacancies’.",
    iconFallbackText: "Warning"
  }) }}
{% endif %}
