<dl class="app-description-list govuk-!-margin-bottom-8">
  {% if course.accredited_body_code %}
    <dt>Accredited body</dt>
    <dd>{{ course.provider.name }}</dd>
  {% endif %}
  <dt>Financial support</dt>
  <dd>{{ course.funding_option }}</dd>
  <dt class="app-list--description__label">Qualification</dt>
  <dd>
    {{ govukDetails({
      summaryText: "PGCE with QTS",
      html: data.qualificationOptions[1].hint | markdown | safe
    } if "pgce" in course.qualifications else {
      summaryText: "QTS",
      html: data.qualificationOptions[0].hint | markdown | safe
    }) }}
  </dd>
  <dt class="app-list--description__label">Course length</dt>
  <dd>{{ course.length }}</dd>
  <dt class="app-list--description__label">Date you can apply from</dt>
  <dd>{{ course.applications_open_from | date("d MMMM yyyy") }}</dd>
  <dt class="app-list--description__label">Date course starts</dt>
  <dd>{{ course.start_date }}</dd>
  <dt class="app-list--description__label">Academic year</dt>
  <dd>{{ course.start_date | getAcademicYearLabel }}</dd>
  {% if course.provider.website %}
    <dt class="app-list--description__label">Website</dt>
    <dd><a href="{{ course.provider.website }}">{{ course.provider.website }}</a></dd>
  {% endif %}
</dl>
