<div class="govuk-!-margin-bottom-8">
  <h2 id="school-placements" class="govuk-heading-l">School placements</h2>

  {% set whereYouWillTrainHtml %}
    {% if course.program_type == 'higher_education_programme' and course.provider.provider_code != 'B31' %}
      {% include "./school-placements/where-you-will-train-hei.md" %}
    {% elif course.program_type == 'scitt_programme' and course.provider.provider_code != 'E65' %}
      {% include "./school-placements/where-you-will-train-scitt.md" %}
    {% endif %}
  {% endset %}

  {% if course.program_type in ['higher_education_programme','scitt_programme'] and whereYouWillTrainHtml.length %}
    {{ appAdvice({
      title: "Where you will train",
      html: whereYouWillTrainHtml | trim | markdown
    }) }}
  {% endif %}

  {% if course.how_school_placements_work %}
    {{ course.how_school_placements_work | markdown | safe }}
  {% endif %}

  {% if schools.length %}
    <h3 class="govuk-heading-m">Schools</h3>

    <p class="govuk-body">You can select one of the following schools to indicate a preferred placement when you apply.</p>

    <ul class="govuk-list govuk-list--spaced">
      {% for school in schools %}
      <li>
        <strong>{{ school.name }}</strong>
        <br>
        {{ school.address }}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
