<div class="govuk-!-margin-bottom-8">
  <h2 id="school-placements" class="govuk-heading-l">School placements</h2>

  <h3 class="govuk-heading-m">Where you will train</h3>

  {% if course.program_type == 'higher_education_programme' and course.provider.provider_code != 'B31' %}
    <p class="govuk-body">You’ll be placed in schools for most of your course. Your school placements will be within
      commuting distance.</p>
    <p class="govuk-body">You can’t pick which schools you want to be in, but your university will try to take your
      journey time into consideration.</p>
    <p class="govuk-body">Universities can work with over 100 potential placement schools. Most will be within 10
      miles of the university, but sometimes they can cover a wider area, especially outside of cities.</p>
  {% elif course.program_type == 'scitt_programme' and course.provider.provider_code != 'E65' %}
    <p class="govuk-body">You’ll be placed in different schools during your training. You can’t pick which schools
      you want to be in, but your course will try to place you in schools you can commute to.</p>
  {% endif %}

  {% if course.how_school_placements_work %}
    {{ course.how_school_placements_work | markdown | safe }}
  {% endif %}

  {% if schools %}
    <h3 class="govuk-heading-m">Locations</h3>
    <p class="govuk-body">You can select one of the following locations when you apply.</p>
    <table class="govuk-table app-table--vertical-align-middle" data-qa="course__choose_a_training_location">
      <caption class="govuk-visually-hidden">List of locations and vacancies</caption>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Location</th>
        <th class="govuk-table__header" scope="col">Vacancies</th>
      </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for school in schools %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>{{ school.name }}</strong>
              <br>
              {{ school.address }}
            </td>
            <td class="govuk-table__cell">
              {% if school.has_vacancies %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
