<div class="govuk-!-margin-bottom-8">
  <h2 id="support-and-advice" class="govuk-heading-l">Support and advice</h2>
  <p class="govuk-body">For support and advice, you can speak to a <a class="govuk-link" href="#">teacher training adviser</a> for free. They’re all experienced teachers who can help you to prepare your application, book school
    experience, and access exclusive teaching events.</p>

  <p class="govuk-body">You can also call Get Into Teaching free of charge on 0800 389 2500, or <a class="govuk-link" href="#">chat online</a> Monday to Friday, 8.30am to 5.30pm (except public holidays).</p>

  <p class="govuk-body">Find out about the different <a class="govuk-link" href="#">ways to train</a> if you do not have a degree, or are already an experienced teacher.</p>

  <h3 class="govuk-heading-m">Is there something wrong with this page?</h3>
  <p class="govuk-body">If there is something wrong with this course listing, <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Edit {{ course.name }} ({{ course.provider_code }}/{{ course.course_code }})">contact us by email</a>.</p>
</div>
