<div class="govuk-!-margin-bottom-8">
  <h2 id="support-and-advice" class="govuk-heading-l">Support and advice</h2>
  <p class="govuk-body">You can speak to a <a class="govuk-link" href="#">teacher training adviser</a> for free, dedicated advice. They are all experienced teachers who can give you one-to-one support with your application. They can also help you get school
    experience, and find events where you can speak to training providers and teachers.</p>

  <p class="govuk-body">Call Get Into Teaching free of charge on 0800 389 2500, or <a class="govuk-link" href="#">chat online</a> Monday to Friday, 8.30am to 5.30pm (except public holidays).</p>


  <h3 class="govuk-heading-m">Is there something wrong with this page?</h3>
  <p class="govuk-body">If there is something wrong with this course listing, <a href="mailto:becomingateacher@digital.education.gov.uk?subject=Edit {{ course.name }} ({{ course.provider_code }}/{{ course.course_code }})">contact us by email</a>.</p>
</div>
