<!--Training with disabilities-->
<div style="margin-bottom:30px;">
  <p class="govuk-heading-m">
    Training with disabilities
  </p>
  <p class="govuk-body">
    Find out about <a href="/providers/{{ course.provider.code }}/courses/{{course.code}}/training-with-disabilities">
      training with disabilities and other needs</a> at
      {{ course.provider.name }}.
  </p>
</div>
  <!--End training with disabilities-->
