<!--Training with disabilities-->
 <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
      <h3 class="app-advice__title">
        Training with disabilities
      </h3>
      <p class="govuk-body">
        <a href="/providers/{{ course.provider.code }}/courses/{{course.code}}/training-with-disabilities">
          Training with disabilities and other needs at
          {{ course.provider.name }}</a>.
      </p>
    </div>
  </div>
  <!--End training with disabilities-->
