.app-description-list {
  @include govuk-clearfix;
  margin-top: 0;

  &__label:after {
    display: inline-block;
  }
}

.app-description-list > dt {
  @include govuk-font($size: 19, $weight: bold);
  vertical-align: top;

  @include govuk-media-query($from: desktop) {
    clear: left;
    float: left;
    margin-bottom: govuk-spacing(1);
    width: 30%;
  }
}

.app-description-list--search-result > dt {
  @include govuk-font($size: 19, $weight: regular);
  color: $govuk-secondary-text-colour;
}

.app-description-list > dd {
  @include govuk-font($size: 19, $weight: normal);
  margin: 0 0 govuk-spacing(2) 0;
  vertical-align: top;

  .govuk-details,
  .govuk-details .govuk-details__summary {
    margin-bottom: 0;
  }

  .govuk-body {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-hint {
    @include govuk-font($size: 16, $weight: normal);
    margin-bottom: govuk-spacing(1);
  }

  @include govuk-media-query($from: desktop) {
    float: left;
    margin-bottom: govuk-spacing(1);
    width: 70%;
  }
}
