.filter-form {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(4, "bottom");
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(2);

  &__title {
    margin-bottom: govuk-spacing(2);
  }

  &__value {
    background-color: govuk-colour("white");
    margin-bottom: govuk-spacing(2);
    padding: govuk-spacing(2);
    padding-bottom: govuk-spacing(1);
  }

  &__value--list {
    @extend %govuk-list;
    margin-bottom: govuk-spacing(2);

    li {
      background-color: govuk-colour("white");
      border-bottom: 2px solid govuk-colour("light-grey");
      margin: 0;
      padding: govuk-spacing(2);

      &:last-child {
        border: none;
      }
    }
  }

  &__map {
    width: 100%;
  }

  .govuk-input {
    background: govuk-colour("white");
    margin-bottom: govuk-spacing(2);
  }

  .govuk-button {
    margin-bottom: govuk-spacing(1);
  }

  .govuk-list li:last-child {
    margin-bottom: 0;
  }
}
