{% extends "_layouts/default.njk" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="course-2024" class="govuk-back-link">Back to Biology (A123)</a>

    <!--About the provider-->
    <h1 class="govuk-heading-xl">
      About Academy Transformation Trust
    </h1>
    <p class="govuk-body">
      Academy Transformation Trust is a cross-phase group of academies; we have 21 academies in our family and we include primary, secondary, post-16 and FE settings. We operate across 10 English local authority areas.
    </p>
    <p class="govuk-body">
      We exist to transform life chances by achieving the highest possible standards and preparing all our students to lead successful lives and we achieve this through: hard work, integrity and teamwork.
    </p>
    <p class="govuk-body">
      We are committed to continuous improvement and strive to be exceptional in the quality of education we offer for all of our children and young people, as well in the working environment and development we offer our colleagues.
    </p>
    <p class="govuk-body">
      By training with Academy Transformation Trust Institute you will benefit from the joint expertise of Ambition and ATT; you’ll receive support from our extensive network of education professionals.
    </p>
    <!--END About the provider-->

    <!--Contact provider-->
    <h2 class="govuk-heading-l">
      Contact Academy Transformation Trust
    </h2>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School website
        </dt>
        <dd class="govuk-summary-list__value">
         <a href="https://www.academytransformationtrust.co.uk/" target="_blank">
          Academy Transformation Trust (opens in a new tab)</a>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#">
            institute@attrust.org.uk</a>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          447858687655
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          Unit 4, Second Floor<br>
          Emmanuel Court<br>
          Reddicroft<br>
          Sutton Coldfield<br>
          B73 6AZ
        </dd>
      </div>
    </dl>
    <!--END Contact provider-->

  </div>
</div>


{% endblock %}
