{% extends "_layouts/default.njk" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="course-2024" class="govuk-back-link">Back to Biology (A123)</a>

    <!--About the provider-->
    <h1 class="govuk-heading-xl">About Ambition Teacher Training</h1>
    <p class="govuk-body">
      We are delighted to be working in partnership with Ambition Institute to deliver Teacher Training. This partnership combines an evidence - based curriculum designed by educational experts with immersive classroom experience. Trainees will also have the support of expert mentors to aid their development on the programme. Through our school-centred approach, we aim to bring even more ambitious and committed teachers into Academy Transformation Trust Institute and provide the best possible start to a fulfilling career in education.
    </p>
    <!--END About the provider-->

  </div>
</div>

{% endblock %}
