{% extends "_layouts/default.njk" %}

{% set pageName="Home" %}

{% block content %}

<!--Header-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="../results" class="govuk-back-link">
      Back to search results
    </a>
    <span class="govuk-caption-xl">
      Academy Transformation Trust
    </span>
    <h1 class="govuk-heading-xl">
      Biology (S872)
    </h1>
  </div>
</div>
<!--End Header-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!--Fee-based course-->
    <div class="govuk-notification-banner fee-no-border" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content fee-bg">
        <p class="fee-title">
          Fees for 2024 to 2025
        </p>
        <div class="fee-container">
          <div class="fee-item">
            <p class="fee-key">
              UK students
            </p>
            <h3 class="fee-value">
              £9,250
            </h3>
          </div>
          <div class="fee-item">
            <p class="fee-key">
              Non-UK students
            </p>
            <h3 class="fee-value">
              £17,325
            </h3>
          </div>
        </div>
        <p class="govuk-body">
          <a href="#accordion-fees-financial-support" style="color:#ffffff;">
            Fees and financial support
          </a>
        </p>
      </div>
    </div>
    <!--END Fee-based course-->

    <!--Nearest school placement-->
    <div class="govuk-notification-banner fee-no-border" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <div class="fee-container">
          <div class="placement-item">
            <p class="govuk-body">
              <strong>
                Nearest school placement
              </strong>
            </p>
            <div class="map-icon-alignment">
              <div class="map-icon">
                <!--map icon-->
                <svg class="map-size" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 368.553 368.553" xml:space="preserve">
                <g>
                  <g>
                    <path d="M184.277,0c-71.683,0-130,58.317-130,130c0,87.26,119.188,229.855,124.263,235.883c1.417,1.685,3.504,2.66,5.705,2.67
                      c0.011,0,0.021,0,0.032,0c2.189,0,4.271-0.957,5.696-2.621c5.075-5.926,124.304-146.165,124.304-235.932
                      C314.276,58.317,255.96,0,184.277,0z M184.322,349.251C160.385,319.48,69.277,201.453,69.277,130c0-63.411,51.589-115,115-115
                      s115,51.589,115,115C299.276,203.49,208.327,319.829,184.322,349.251z"/>
                    <path d="M184.277,72.293c-30.476,0-55.269,24.793-55.269,55.269s24.793,55.269,55.269,55.269s55.269-24.793,55.269-55.269
                      S214.753,72.293,184.277,72.293z M184.277,167.83c-22.204,0-40.269-18.064-40.269-40.269s18.064-40.269,40.269-40.269
                      s40.269,18.064,40.269,40.269S206.48,167.83,184.277,167.83z"/>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                </g>
                </svg>
                <!--END map icon-->
              </div>
              <p class="govuk-body">
                <strong>
                  2 miles
                </strong>
                  from
                <strong>
                  London
                </strong>
               .
               </p>
            </div>
            <span class="govuk-body">
              <a href="#accordion-how-placements-work">
                How school placements work
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--END Nearest school placement-->

    <!--Apply button-->
    <a href="https://www.apply-for-teacher-training.service.gov.uk/candidate/account" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Apply for this course
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    <!--End Apply button-->

  </div><!--END column one third-->
  <div class="govuk-grid-column-two-thirds">

    <!--Course details description list-->
    <h2 class="govuk-heading-l">
      Course summary
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Course length
        </dt>
        <dd class="govuk-summary-list__value">
          1 year - full time
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age range
        </dt>
        <dd class="govuk-summary-list__value">
          11-16 years - secondary
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Qualification
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                QTS with PGCE
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.
              </p>
              <p class="govuk-body">
                It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.
                </p>
              <p class="govuk-body">
                Many PGCE courses include credits that count toward a Master’s degree.
              </p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Provider
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="../about-provider">
            Academy Transformation Trust
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Accredited by
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="../about-accredited">
            Ambition Teacher Training
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start date
        </dt>
        <dd class="govuk-summary-list__value">
          September 2024
        </dd>
      </div>
    </dl>
    <!--Course details description list-->

    <!--Entry requirements description list-->
    <h2 class="govuk-heading-l">
      Entry requirements
    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree
        </dt>
        <dd class="govuk-summary-list__value">
          A 2:2 bachelor's degree or above or equivalent qualification.
        </dd>
      </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          GCSEs
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">
            Grade 4 (C) or above in English, maths and science or equivalent qualifications.
          </p>
          <p class="govuk-body">
            We will consider candidates with pending GCSEs.
          </p>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Equivalency tests
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                We will consider candidates who need to take a GCSE equivalency test in English or maths.
              </p>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Visa sponsorship
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Visas cannot be sponsored
              </span>
            </summary>
            <div class="govuk-details__text">
            <p class="govuk-body">
              You’ll need the right to study in the UK.
            </p>
            <p class="govuk-body">
              You already have this if, for example, you:
            </p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  are an Irish citizen
                </li>
                <li>
                  have settled or pre-settled status under the
                  <a href="https://www.gov.uk/settled-status-eu-citizens-families">
                    EU Settlement Scheme
                  </a>
                  (you may still be able to apply)
                </li>
                <li>
                  have indefinite leave to remain in the UK
                </li>
              </ul>
              <p class="govuk-body">
                If you do not already have the right to study in the UK, you may need to
                <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/visas-for-non-uk-trainees">
                  apply for your visa to train to teach in England
                </a>.
              </p>
              <p class="govuk-body">
                Learn more about
                <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student">
                  training to teach in England as an international student
                </a>
                .
              </p>
          </details>
        </dd>
      </div>
    </dl>
    <!--Entry requirements description list-->

    <!--Non-UK quals-->
    <div class="govuk-accordion govuk-accordion--non-uk" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section govuk-accordion__section--non-uk">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-accordion__section-button--non-uk" id="accordion-default-heading-1">
              Non-UK citizens: check your qualifications
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content govuk-accordion__section-content--non-uk">
          <p class="govuk-body">
            Some training providers need a certificate known as a statement of comparability that shows how your qualifications compare to UK ones.
          </p>
          <p class="govuk-body">
            You can
          <a href="https://enic.org.uk/Qualifications/SOC/Default.aspx">
            apply for a statement of comparability from UK ENIC
          </a>
          (the UK European Network of Information Centres).
          </p>
          <p>
            There is a cost for the certificate and it takes 15 working days to arrive.
          </p>
          <p class="govuk-body">
            Learn more about how to
            <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/non-uk-qualifications">
              check your qualifications meet the required standard</a>.
          </p>
        </div>
      </div>
    </div>
    <!--End Non-UK quals-->

    <h2 class="govuk-heading-l" style="margin-bottom:0px;">
      Course details
    </h2>

    <div class="govuk-accordion govuk-accordion--main" data-module="govuk-accordion" id="accordion-default">

      <!--About the course-->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              About the course
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">
            Academy Transformation Trust is a cross-phase group of academies; we have 21 academies in our family and we include primary, secondary, post-16 and FE settings. We operate across 10 English local authority areas.
          </p>
          <p class="govuk-body">
            We exist to transform life chances by achieving the highest possible standards and preparing all our students to lead successful lives and we achieve this through: hard work, integrity and teamwork.
          </p>
          <p class="govuk-body">
            We are committed to continuous improvement and strive to be exceptional in the quality of education we offer for all of our children and young people, as well in the working environment and development we offer our colleagues.
          </p>
          <p class="govuk-body">
            By training with Academy Transformation Trust Institute you will benefit from the joint expertise of Ambition and ATT; you’ll receive support from our extensive network of education professionals.
          </p>
        </div>
      </div>
      <!--END About the course-->

      <!--Fees and financial support-->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-fees-financial-support">
              Fees and financial support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
          <p class="govuk-body">
            You can apply for government funding to cover the costs of your £9,250 tuition fees and a maintenance loan. You may be eligible to get support for tuition fees or maintenance loans to help you with your living costs - see the current information here. Alternatively, the current information on tax-free bursaries or scholarships you won't have to pay back is here: https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries.
          </p>
          <!--Financial support for UK citizens-->
          <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
              <h3 class="app-advice__title">
                Financial support for UK citizens
              </h3>
              <h4 class="govuk-heading-s">
                Bursaries
              </h4>
              <p class="govuk-body">
                This course has a bursary of £25,000 available to eligible trainees.
              </p>
              <p class="govuk-body">
                <a href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries">
                  Find out whether you are eligible for a bursary</a>.
              </p>
              <h4 class="govuk-heading-s">
                Student loans
              </h4>
              <p class="govuk-body">
                You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs.
              </p>
              <p class="govuk-body">
                <a href="https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans">
                  Find out more about student loans for teacher training</a>.
              </p>
            </div>
          </div>
          <!--END Financial support for UK citizens-->

          <!--Financial support for non-UK citizens-->
          <div class="govuk-notification-banner govuk-notification-banner--git govuk-accordion__section--non-uk" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
              <h3 class="app-advice__title">
                Financial support for non-UK citizens
              </h3>
              <p class="govuk-body">
                If you are a non-UK citizen without indefinite leave to remain you are unlikely to be eligible for a bursary or student loan.
              </p>
              <p class="govuk-body">
                <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">
                  Find out what financial support is available to non-UK citizens</a>.
              </p>
            </div>
          </div>
          <!--END Financial support for non-UK citizens-->

        </div>
      </div>
      <!--Financial support for UK citizens-->

      <!--How placements work-->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-how-placements-work">
              How placements work
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
          <p class="govuk-body">
            You'll have one main school placement for the year. Whilst we have listed some of our placement schools here, we will be able to have a more detailed discussion with you about a local placement school if you are invited to one of our Assessment and Selection dates.
          <p class="govuk-body">
            Through your school placement you will build strong relationships with the students you teach and the colleagues you work alongside. As well as your main school placement, you will also complete a second placement in the final term, which will take place in a contrasting school for two to three weeks.
          <p class="govuk-body">
            In addition, you will have opportunities to engage with a range of specialist placement days, allowing for you to experience a variety of different educational settings. These placements will advance your knowledge and equip you with the skills needed to teach in a range of contexts.
          </p>

          <!--Where you will train-->
          <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
              <h3 class="app-advice__title">
                Where you will train
              </h3>
              <p class="govuk-body">
                You’ll be placed in schools for most of your course. Your school placements will be within commuting distance.
              </p>
              <p class="govuk-body">
                You can’t pick which schools you want to be in, but your university will try to take your journey time into consideration.
              </p>
              <p class="govuk-body">
                Universities can work with over 100 potential placement schools. Most will be within 10 miles of the university, but sometimes they can cover a wider area, especially outside of cities.
              </p>
            </div>
          </div>
          <!--END Where you will train-->

        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Interview process
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
          <p class="govuk-body">
            Assessment and Selection will take place at one of our ATTI Hub Locations at either Mildenhall College Academy, Suffolk or The Queen Elizabeth Academy, Atherstone. You will be well-supported throughout the Assessment and Selection process with pre-release materials shared before your centre date to ensure you will feel as prepared as possible.
          </p>
      </div>
    </div>

    </div>
    <!--End About the course-->

    <!--Training with disabilities-->
    <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <h3 class="app-advice__title">
          Training with disabilities
        </h3>
        <p class="govuk-body">
          <a href="../training-with-disabilities">
            Training with disabilities and other needs at Academy Transformation Trust</a>.
        </p>
      </div>
    </div>
    <!--End training with disabilities-->

    <!--Support advice-->
    <div class="govuk-notification-banner govuk-notification-banner--support" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
        <h3 class="app-advice__title">
          Support and advice
        </h3>
        <p class="govuk-body">
          You can
          <a href="https://getintoteaching.education.gov.uk/teacher-training-advisers"> get a teacher training adviser</a> or
          <a href="https://getintoteaching.education.gov.uk/help-and-support"> contact Get Into Teaching</a> for free support.
        </p>
      </div>
    </div>
    <!--End Support advice-->

  </div>
</div>

{% endblock %}
