{% extends "_layouts/default.njk" %}

{% set pageName="Home" %}

{% block content %}

<!--Header and apply button-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title course-title-with-actions">
        <h1 class="govuk-heading-xl course-header-with-actions">Biology (A123)</h1>
        <span class="govuk-caption-xl">
          Teach Wimbledon. Accredited provider: University of Roehampton
        </span>
      </div>
      <p class="govuk-body">
          <a href="#" target="_blank">Teach Wimbledon website (opens in new window)</a>
      </p>
        <!--Apply button-->
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
     Apply for this course
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  <!--End Apply button-->
    </div>
  </div>
</div>
<!--End Header and apply button-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!--Fee-based course-->
    <div class="govuk-notification-banner fee-no-border fee-bg" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__content govuk-notification-banner__content--grey fee-flex fee-bg">
        <p class="govuk-body fee-color"><strong>Fees for 2024 to 2025</strong></p>
          <div class="fee-container">
            <div class="fee-item">
              <p class="govuk-hint fee-color" style="margin-bottom: 0;">UK students</p>
              <h3 class="govuk-heading-l fee-color fee-size" style="padding-top: 0;">£9,250</h3>
            </div>
            <div class="fee-item">
              <p class="govuk-hint fee-color" style="margin-bottom: 0;">Non-UK students</p>
              <h3 class="govuk-heading-l fee-color fee-size" style="padding-top: 0;">£17,325</h3>
            </div>
          </div>
          <p class="govuk-body"><a href="#financial" style="color: #fff;">Find out about financial support</a></p>
      </div>
    </div>
    <!--end Fee-based course-->

  </div>
  <div class="govuk-grid-column-two-thirds">

  <!--Course details table-->
  <h2 class="govuk-heading-l heading--border-bottom">Course Summary</h2>
  <table class="govuk-table">
    <h3 class="govuk-heading-m"> Course details</h3>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 32%;">Course length</th>
        <td class="govuk-table__cell">1 year - full time</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Qualification</th>
        <td class="govuk-table__cell">
          <details class="govuk-details" style="margin-bottom: 0px;">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
              QTS with PGCE
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">
                A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) will allow you to teach in state schools in England and may allow you to teach in other parts of the UK.
              </p>
              <p class="govuk-body">
                It may also allow you to teach overseas, though you should always check what qualifications are needed in the country you’d like to teach in.
                </p>
              <p class="govuk-body">
                Many PGCE courses include credits that count toward a Master’s degree.
            </p>
          </details>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Age Range</th>
        <td class="govuk-table__cell">11 - 16 years</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Start date</th>
        <td class="govuk-table__cell">September 2024</td>
      </tr>
     
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 32%; border-bottom: 0;">Visa sponsorship</th>
        <td class="govuk-table__cell" style="border-bottom: 0;">
          <a href="#visa">Visas cannot be sponsored</a>
        </td>
      </tr>
    </tbody>
  </table>
  <!--End Course details table-->

    <!--Entry requirements table-->
  <h3 class="govuk-heading-m">Entry requirements</h3>
  <table class="govuk-table">

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 32%;">Degree</th>
        <td class="govuk-table__cell">A 2:2 bachelor's degree or higher or <a href="#equivqual">equivalent qualification.</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="border-bottom: 0;">GCSEs</th>
        <td class="govuk-table__cell" style="border-bottom: 0;">
         <p class="govuk-body">
          Grade 4 (C) or above in English, maths and science or <a href="#equivqual">equivalent qualifications</a>. </p>
          
          <p class="govuk-body">
          We will consider candidates with pending GCSEs.</p>
          <p class="govuk-body">
          We will consider candidates who need to take GCSE <a href="#equivtests">equivalency tests</a></p>
            </td>
      </tr>
     
    </tbody>
  </table>
  <!--End Entry requirements table-->

  <!--About the course-->
  <h2 class="govuk-heading-l heading--border-bottom">Course information</h2>
  <p class="govuk-body">
    This is a one-year route into teaching that offers you the opportunity to spend the majority of your time in the classroom from the very beginning, learning directly from experienced professionals in the school of your choice.
  </p>
  <p class="govuk-body">
    The Biology teacher training programme is delivered in partnership with the University of Roehampton, who through lectures, workshops and assignments, provide the theoretical aspect of the programme, to support classroom practice. Please visit <a href="https://www.roehampton.ac.uk/postgraduate-courses/school-direct/">www.roehampton.ac.uk/postgraduate-courses/school-direct</a> for more information.
  </p>
  <p class="govuk-body">
    The course will prepare you to teach all elements of Biology. You will learn about current developments in the teaching of this subject and its place within the curriculum.
  </p>
  <p class="govuk-body">
    Upon successful completion of the course, you will be awarded with a PGCE, QTS and 60 credits at Masters level.
  </p>
  <!--End About the course-->

  <!--Where you will train-->

  <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-left-color: #f9b400;">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
      <h3 class="govuk-heading-s">Where you will train</h3>

        <p class="govuk-body">
          You’ll be placed in schools for most of your course. Your school placements will be within commuting distance. </p>

          <p class="govuk-body">
          You can’t pick which schools you want to be in, but your university will try to take your journey time into consideration. </p>

          <p class="govuk-body">
          Universities can work with over 100 potential placement schools. Most will be within 10 miles of the university, but sometimes they can cover a wider area, especially outside of cities.

        </p>
    </div>
  </div>



  <h4 class="govuk-heading-m">Training locations</h4>
  <p class="govuk-body">
    When submitting your application to train to teach with Teach Wimbledon, you will be asked to select the school at which you wish to be placed in the first instance. You will spend the majority of your teacher training year at this school, known as your home school.
  </p>
  <p class="govuk-body">
    You will also have the opportunity to spend a period of time in a contrasting school, known as your away school. This will be arranged by Teach Wimbledon in the Autumn term.
  </p>
  <p class="govuk-body">
    All schools at which trainees are placed are part of the Teach Wimbledon alliance and located within the London Borough of Merton, and should therefore be easily accessible.
  </p>

   <p class="govuk-body">
    <strong>School placements</strong>
  </p>

  <p class="govuk-body">
    We work with the following schools to provide your school placements:
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Ursuline High School Wimbledon</strong></li>
      Crescent Road, Wimbledon, London, SW20 8HA
    </ul>
  </p>
  <!--End Where you will train-->

   <!--Entry requirements table repeated-->
  <h2 class="govuk-heading-l heading--border-bottom">Entry requirements</h2>
  <table class="govuk-table">
    <h3 class="govuk-heading-m">Qualifications</h3>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 32%;">Degree</th>
        <td class="govuk-table__cell">A 2:2 bachelor's degree or higher or <a href="#equivqual">equivalent qualification.</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="border-bottom: 0;">GCSEs</th>
        <td class="govuk-table__cell" style="border-bottom: 0;">
         <p class="govuk-body">
          Grade 4 (C) or above in English, maths and science or <a href="#equivqual">equivalent qualifications</a>. </p>
          
          <p class="govuk-body">
          We will consider candidates with pending GCSEs.</p>
          <p class="govuk-body">
          We will consider candidates who need to take GCSE <a href="#equivtests">equivalency tests</a></p>
            </td>
      </tr>
     
    </tbody>
  </table>




 <h3 class="govuk-heading-s"><a id="equivtests"></a>GCSE equivalency tests</h3>

  <p class="govuk-body">If you do not have an English or maths GCSE at grade C/Level 4 or above (or science for primary teacher training), you can still apply for teacher training, but we will require you to pass an equivalency test before we confirm any offer that we make.</p>
  <p class="govuk-body">  
  Further information on the providers that we recommend can be found on <a href="www.inspiringfutureteachers.org">our website.  </a> </p>  


  <!--End Entry requirements table-->



  <!--Person specifciation-->
  <h3 class="govuk-heading-m">
    Person specification
  </h3>

  <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-left-color: #f9b400;">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
          <ul class="govuk-list govuk-list--bullet">
    <li>Good communication skills</li>
     <li> A passion for the subject you want to teach</li>
     <li> A committment to teaching</li>
     <li> The ability to organise your own time and resources without close supervision</li>
     <li> Resilience and tenacity</li>
     <li> An enthusiasm for working with children and young people.</li>
  </ul>
    </div>
  </div>
  <!--end Person specifciation-->



  <!--Offer conditions-->
  <h3 class="govuk-heading-m"><a id="visa"></a>Conditions of an offer</h2>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="width: 32%;">DBS check</th>
        <td class="govuk-table__cell">
        We will carry out a Disclosure and Barring Service (DBS) check as a condition of offering you a place on this course.</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Health check</th>
        <td class="govuk-table__cell">
          Candidates will need to pass a health check before they can begin training</p></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="border-bottom: 0;">Right to study in UK</th>
        <td class="govuk-table__cell" style="border-bottom: 0;">
        You will need the right to study in the UK. 
        Sponsorship for student visas is not available on this course.</p></td>
      </tr>
     
    </tbody>
  </table>
  <!-- end offer conditions --> 

 <!-- non-uk citizens --> 
  <h3 class="govuk-heading-m heading--border-bottom" id="financial-support">Non-UK citizens</h3>
  <p class="govuk-body">
  You’ll need the right to study in the UK. You already have this if, for example, you:
  <ul class="govuk-list govuk-list--bullet">
    <li> are an Irish citizen</li>
    <li>have settled or pre-settled status under the <a href="https://www.gov.uk/settled-status-eu-citizens-families">EU Settlement Scheme </a>(you may still be able to apply)</li>
    <li>have indefinite leave to remain in the UK</li>
  </ul>

  <p class="govuk-body">If you do not already have the right to study in the UK, you may need to apply for a visa.</p>

  <p class="govuk-body">Sponsorship for a student visa is not available for this course.</p>

  <p class="govuk-body">If you need a visa, filter your course search to find courses with visa sponsorship. <br/>
   You can also <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/visas-for-non-uk-trainees">learn more about different types of visa </a> which allow you to train to be a teacher without being sponsored.</p>

  <p class="govuk-body">Learn more about <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/train-to-teach-in-england-as-an-international-student">training to teach in England as an international student</a>.</p>


  <h4 class="govuk-heading-s"><a id="equivqual"></a>Qualifications gained outside the UK</h4>

  <p class="govuk-body">If your qualifications come from a non-UK institution, we may want to see a ‘statement of comparability’ from UK ENIC. This will show us how they compare to UK qualifications.</p>

  <p class="govuk-body">You can call <a href="https://getintoteaching.education.gov.uk/">Get Into Teaching</a> on 0800 389 2500 for guidance on the UK equivalents of your qualifications.</p>
  


 <!-- end non-uk citizens --> 


  <!--Financial support-->
  <h2 class="govuk-heading-l heading--border-bottom" id="financial">Financial support to train to teach </h2>
  <h3 class="govuk-heading-m">Financial support from the government.</h3>


  <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-left-color: #f9b400;">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
       <h4 class="govuk-heading-m">Bursary</h4>
        <p class="govuk-body">This course has a bursary of £25,000 available to eligible trainees.</p>

         <p class="govuk-body"> To be eligible for a bursary, you’ll need at least one of the following:
          <ul class="govuk-list govuk-list--bullet">
            <li>a bachelor’s degree class 2:2 (honours) or higher</li>
            <li>a master’s degree</li>
            <li>a PhD</li>
          </ul>
        </p>

        <p class="govuk-body">If you are eligible you will receive the bursary automatically, you do not need to apply for it.</p>

        <p class="govuk-body"><a href="https://getintoteaching.education.gov.uk/funding-and-support/scholarships-and-bursaries">Find out whether you are eligible for a bursary</a></p>

        <p class="govuk-body">If you're a non-UK citizen without indefinite leave to remain, you will usually not be eligible for a bursary. <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">Find out about fees and funding for non-UK citizens.</a></p>
    </div>
  </div>

  <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-left-color: #f9b400;">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
       <h4 class="govuk-heading-m">Student loans</h4>
        <p class="govuk-body">You may be eligible for student loans to cover the cost of your tuition fee or to help with living costs. <a href="https://getintoteaching.education.gov.uk/funding-and-support/tuition-fee-and-maintenance-loans">Find out more about student finance for teacher training.</a></p>

        <p class="govuk-body">If you are not a UK citizen you are unlikely to be eligible for a student loan. Find out what <a href="https://getintoteaching.education.gov.uk/non-uk-teachers/fees-and-funding-for-non-uk-trainees">financial support is available to people from outside the UK.</a></p>
    </div>
  </div>


    <h3 class="govuk-heading-m">Financial support from the training provider</h4>

  <p class="govuk-body">Students who have previously graduated from an undergraduate course at the University of Roehampton may be eligible for an alumni discount amounting to £1500.</p>
  
   <p class="govuk-body">This discount will also be available to Roehampton alumnus undertaking a PGCE with QTS qualification with one of our school partners.</p>

    <p class="govuk-body">Please note that the previous course studied at the university must have been at a lower level (i.e. undergraduate and not Masters).</p>

  

  <!--End Financial support-->


<!-- Training support-->
  <h2 class="govuk-heading-l heading--border-bottom" id="financial-support">Training with disabilities and other needs</h2>
    <p class="govuk-body">We welcome all applications and cater to the needs of all trainees according to individual requirements. </p>
    <p class="govuk-body">Please visit <a href="https://www.roehampton.ac.uk/disability-services">https://www.roehampton.ac.uk/disability-services</a> for more information.</p>

<!-- end Training support-->


  <!--Interview process-->
<!--   <h3 class="govuk-heading-m">
    Interview process
  </h3>
  <p class="govuk-body">
    Should your application be shortlisted, you will be invited to attend an interview with your chosen school. Your interview will generally consist of a teaching activity, panel interview and written task.
  </p> -->
  <!--End Interview process-->

  <!--About the provider-->
  <h2 class="govuk-heading-l heading--border-bottom">Contact Teach Wimbledon</h2>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
  <!--     <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Accredited provider</th>
        <td class="govuk-table__cell">Roehampton University</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Age range</th>
        <td class="govuk-table__cell">11 to 16</td>
      </tr> -->
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">School website</th>
        <td class="govuk-table__cell"><a href="http://teachwimbledon.com" target="_blank">Teach Wimbledon website (opens in a new tab)</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Email address</th>
        <td class="govuk-table__cell"><a href="#">teachwimbledon@uhsw.com</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Telephone</th>
        <td class="govuk-table__cell">07907574832</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header" style="border-bottom:0">Address</th>
        <td class="govuk-table__cell" style="border-bottom:0">Crescent Road<br>
                                      Wimbledon<br>
                                      London<br>
                                      Merton<br>
                                      SW20 8HA</td>
      </tr>
    </tbody>
  </table>
  <!--End About the provider-->

  <!--More about the provider-->
 <!--  <details class="govuk-details" style="margin-bottom: 0px;">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        More about Teach Wimbledon
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-heading-s">About Us</p>
      <p class="govuk-body">
        Working in Partnership with the University of Roehampton, Teach Wimbledon leads an alliance and a unique School Direct partnership with 16 primary and secondary schools in Merton.
        Equivalency tests will be accepted in English, maths or science.
      </p>
      <p class="govuk-heading-s">Our Programme</p>
      <p class="govuk-body">
        School Direct is a school-led route into teaching, which enables graduates to choose the school at which they complete their training year. The majority of our trainees obtain permanent employment at their placement school, or at another school within the Teach Wimbledon alliance.
      </p>
      <p class="govuk-body">
        School Direct offers trainees the opportunity to spend most of their time in school from the very beginning, learning directly from experienced professionals. Trainees typically spend four days a week at their placement school, and one day at university.
      </p>
      <p class="govuk-body">
        Upon successful completion of the course, trainees are awarded with a PGCE, QTS and 60 credits at Masters level.
      </p>
      <p class="govuk-heading-s">Our Schools</p>
      <p class="govuk-body">
        Primary Schools: Dundonald Primary School, Sacred Heart Catholic Primary School, St John Fisher RC Primary School, St Mary’s Catholic Primary School, St Teresa’s RC Primary School, St Thomas of Canterbury RC Primary School, The Priory Church of England Primary School, SS Peter & Paul Catholic School, St Mark’s Primary School.
      </p>
      <p class="govuk-body">
        Secondary Schools: Raynes Park High School, Ricards Lodge High School, Rutlish School, St Marks Academy, Ursuline High School, Wimbledon College.
      </p>
      <p class="govuk-heading-s">About the accredited provider</p>
      <p class="govuk-body">
        Courses are accredited by University of Roehampton, who have been at the forefront of teacher education for over 100 years. Many members of staff are at the cutting edge of research in teacher education, which has a positive impact on the quality of our provision; tutors have extensive teaching experience in schools with many having served as consultants or as Ofsted inspectors. The university experience is enhanced by its beautiful campus - unique in being both close to central London and set in parkland with grand, historic buildings and lakes side by side with newly built modern facilities.
      </p>
  </details>
  <br><br> -->
  <!--End More about the provider-->



  <!--Support advice-->
  <h2 class="govuk-heading-l heading--border-bottom">Give your application the best chance of success</h2>
 <div class="govuk-notification-banner govuk-notification-banner--git" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-left-color: #f9b400;">
    <div class="govuk-notification-banner__content govuk-notification-banner__content--grey">
      <h3 class="govuk-heading-s">Get support and advice from a teacher training adviser</h3>

      <p class="govuk-body">
        <a href="https://getintoteaching.education.gov.uk/teacher-training-advisers">Get free, ongoing one-to-one support from an adviser</a> with years of teaching experience. They can help you find a course, explain funding options and guide you step-by-step through the application process.</p>

         <p class="govuk-body">
        For one-off questions or information contact Get Into Teaching on 0800 389 2500 or <a href="https://getintoteaching.education.gov.uk/help-and-support">chat online</a> Monday to Friday 8:30am to 5:30pm (except public holidays).
      </p>
    </div>
  </div>
  <!--End Support advice-->

  <!--Apply button-->
  <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
 Apply for this course
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
  <!--End Apply button-->

  </div>
</div>

{% endblock %}
