{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<p class="govuk-body"><strong>Teach Wimbledon</strong></p>

<div class="moj-primary-navigation">
  <div class="moj-primary-navigation__container">
    <div class="moj-primary-navigation__nav">
      <nav class="moj-primary-navigation" aria-label="Primary navigation">
        <ul class="moj-primary-navigation__list">
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" aria-current="page" href="#1">Courses</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#2">Schools</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Study sites</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Users</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Training partners</a>
          </li>
          <li class="moj-primary-navigation__item">
            <a class="moj-primary-navigation__link" href="#3">Organisation details</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">
      Biology (A123)
    </span>
    <h1 class="govuk-heading-l">
      Person specification
    </h1>

    <div class="govuk-notification-banner git-grey-bg" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
        <p class="govuk-body">
        Candidates will already
        <a href="#" class="govuk-link govuk-link--no-visited-state">find out the common things providers look for in an employee</a> on the course page, including:
        </p>
        <ul class="govuk-list">
        <li>
            <p class="govuk-body"><span class="git-check-mark">&#10003;</span> Good communication skills</p>
        </li>
        <li>
            <p class="govuk-body"><span class="git-check-mark">&#10003;</span> Subject passion</p>
        </li>
        <li>
            <p class="govuk-body"><span class="git-check-mark">&#10003;</span> Commitment to teaching</p>
        </li>
        <li>
            <p class="govuk-body"><span class="git-check-mark">&#10003;</span> Organisation, resilience, self-refection</p>
        </li>
        <li>
            <p class="govuk-body"><span class="git-check-mark">&#10003;</span> Enthusiasm for working with children</p>
        </li>
        </ul>
    </div>
    </div>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <div class="govuk-form-group">
            <h2 class="govuk-heading-m" style="margin-bottom: 3px;">
            Additional person specification (optional)
            </h2>
            <div id="with-hint-hint" class="govuk-hint">
            Add any additional skills, motivation and experience specific to this course.
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        </div>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 100 characters
        </div>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Update person specification
      </button>

  </div>
</div>

{% endblock %}

