{% extends "layout.html" %}
{% set title = 'What we launched – 2 October 2018' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>On 2 October 2018 we launched the public beta of Find posgraduate teacher training to users. This included a new start page on GOV.UK and links to it from UCAS and Get into Teaching.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'GOV.UK start page', id: 'govuk-start-page' },
    { text: 'Find by location', id: 'find-by-location' },
    { text: 'Find by location (provider selected)', id: 'find-by-location-provided-selected' },
    { text: 'Find by subject', id: 'find-by-subject' },
    { text: 'Search results', id: 'search-results' },
    { text: 'Further education search results', id: 'further-education-results' },
    { text: 'Study type filter', id: 'study-type-filter' },
    { text: 'Qualification filter', id: 'qualification-filter' },
    { text: 'Salary filter', id: 'salary-filter' },
    { text: 'No results', id: 'no-results' },
    { text: 'Full course page', id: 'full-course-page' },
    { text: 'Full course page with salary', id: 'full-course-page-with-salary' },
    { text: 'Full course page (PGDE)', id: 'full-course-page-pgde' },
    { text: 'Course not enriched', id: 'course-not-enriched' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('GOV.UK start page', 'govuk-start-page', '/public/images/history/live-launch/thumbnails/01-govuk-start-page.png', '/public/images/history/live-launch/01-govuk-start-page.png', '
    <p>
      <a href="https://www.gov.uk/guidance/find-postgraduate-teacher-training-courses-in-england">Go to GOV.UK start page</a>
    </p>
    <p>
      This is published as a guidance page using Whitehall, rather than a standard service page such as <a href="https://www.gov.uk/state-pension-age">Check your state pension age</a>. This was because the service wasn’t ‘mainstream’, while it also gave DfE greater control over the content.
    </p>
    <p>
      It introduces some problems, and we’re beginning the process of <a href="https://trello.com/c/QDFcFsSd/425-apply-for-a-mainstream-govuk-start-page">switching to a standard start page</a>. Namely:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the incorrect page template has misleading elements; page type, breadcrumbs, irrelevant related links, prominence on ‘Applies to England’ rather than ‘Start now’</li>
      <li>we can’t easily track journeys from GOV.UK to our service, we have no visbility of referrers to the start page</li>
      <li>the published date is irrelevant</li>
    </ul>
    <p class="add-top-margin">A standard start page would also give us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a shorter and cleaner URL</li>
      <li>more prominence on GOV.UK in taxonomy and search</li>
      <li>proper downtime messaging if we need it</li>
    </ul>
  ') }}

  {{ macros.screenshot('Find by location', 'find-by-location', '/public/images/history/live-launch/thumbnails/01-find-by-location.png', '/public/images/history/live-launch/01-find-by-location.png', '') }}

  {{ macros.screenshot('Find by location (provider selected)', 'find-by-location-provided-selected', '/public/images/history/live-launch/thumbnails/02-find-by-location-provided-selected.png', '/public/images/history/live-launch/02-find-by-location-provided-selected.png', '') }}

  {{ macros.screenshot('Find by subject', 'find-by-subject', '/public/images/history/live-launch/thumbnails/03-find-by-subject.png', '/public/images/history/live-launch/03-find-by-subject.png', '') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/live-launch/thumbnails/04-search-results.png', '/public/images/history/live-launch/04-search-results.png', '') }}

  {{ macros.screenshot('Further education results', 'further-education-results', '/public/images/history/live-launch/thumbnails/05-further-education-results.png', '/public/images/history/live-launch/05-further-education-results.png', '') }}

  {{ macros.screenshot('Study type filter', 'study-type-filter', '/public/images/history/live-launch/thumbnails/06-study-type-filter.png', '/public/images/history/live-launch/06-study-type-filter.png', '') }}

  {{ macros.screenshot('Qualification filter', 'qualification-filter', '/public/images/history/live-launch/thumbnails/07-qualification-filter.png', '/public/images/history/live-launch/07-qualification-filter.png', '') }}

  {{ macros.screenshot('Salary filter', 'salary-filter', '/public/images/history/live-launch/thumbnails/09-salary-filter.png', '/public/images/history/live-launch/09-salary-filter.png', '') }}

  {{ macros.screenshot('No results', 'no-results', '/public/images/history/live-launch/thumbnails/10-no-results.png', '/public/images/history/live-launch/10-no-results.png', '') }}

  {{ macros.screenshot('Full course page', 'full-course-page', '/public/images/history/live-launch/thumbnails/11-full-course-page.png', '/public/images/history/live-launch/11-full-course-page.png', '') }}

  {{ macros.screenshot('Full course page with salary', 'full-course-page-with-salary', '/public/images/history/live-launch/thumbnails/12-full-course-page-with-salary.png', '/public/images/history/live-launch/12-full-course-page-with-salary.png', '') }}

  {{ macros.screenshot('Full course page (PGDE)', 'full-course-page-pgde', '/public/images/history/live-launch/thumbnails/13-full-course-page-pgde.png', '/public/images/history/live-launch/13-full-course-page-pgde.png', '') }}

  {{ macros.screenshot('Course not enriched', 'course-not-enriched', '/public/images/history/live-launch/thumbnails/14-course-not-enriched.png', '/public/images/history/live-launch/14-course-not-enriched.png', '') }}


{% endblock %}
