<section class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-l" id="salary">Salary</h3>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">Salary will vary based upon the school that you will be based at, but you will be on the Unqualified Teacher pay scale.</p>
      <p class="govuk-body">You do not need to pay for this course.</p>
    </div>
  </div>
</section>
