{% extends "layout.html" %}
{% set title = 'Results on a map – Early design with tweaks' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set contents = [
    { text: 'Results on a map', id: 'results-on-a-map' },
    { text: 'Result open on a map', id: 'result-open-on-a-map' },
    { text: 'Multiple results open on a map', id: 'multiple-results-open-on-a-map' },
    { text: 'Results on a map mobile', id: 'results-on-a-map-mobile' }
  ] %}
  {{ macros.screenshotContents(contents) }}

{{ macros.screenshot('Results on a map', 'results-on-a-map', '/public/images/history/map-original/thumbnails/01-results-on-a-map.png', '/public/images/history/map-original/01-results-on-a-map.png', '') }}

{{ macros.screenshot('Result open on a map', 'result-open-on-a-map', '/public/images/history/map-original/thumbnails/02-result-open-on-a-map.png', '/public/images/history/map-original/02-result-open-on-a-map.png', '') }}

{{ macros.screenshot('Multiple results open on a map', 'multiple-results-open-on-a-map', '/public/images/history/map-original/thumbnails/03-multiple-results-open-on-a-map.png', '/public/images/history/map-original/03-multiple-results-open-on-a-map.png', '') }}

{{ macros.screenshot('Results on a map mobile', 'results-on-a-map-mobile', '/public/images/history/map-original/thumbnails/04-results-on-a-map-mobile.png', '/public/images/history/map-original/04-results-on-a-map-mobile.png', '') }}


{% endblock %}
