{% extends "layout.html" %}
{% set title %}Apply for postgraduate teacher training on UCAS{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/apply-v2/' + course.providerCode + '/' + course.programmeCode, 'Back') }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <!-- <p>Thank you for choosing to apply for teacher training through the Department for Education’s new application service.</p> -->

      <p>If you are applying for this course plus several others, or if you’ve previously applied for teacher training through UCAS, we suggest you apply through the UCAS service. UCAS has a wider choice of training providers and you’ll be able to keep your applications in one place.</p>

    <p>
      When you apply you’ll need these codes for the Choices section of your application form:
    </p>

    <ul class="govuk-list">
      <li style="margin-bottom: 20px">Training provider code:<br /><strong class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ providerCode }}</strong></li>
      <li>Training programme code:<br /><strong class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ courseCode }}</strong></li>
      <!-- <li>training location or campus code: leave empty</li> -->
    </ul>

    <p>Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training through UCAS</a>.</p>


      <p>
        <a href="https://2019.teachertraining.apply.ucas.com/apply/student/login.do" class="govuk-button">Continue</a>
      </p>
    </div>
  </div>
{% endblock %}
