{% extends "_layouts/default.njk" %}

{% set serviceName = "Apply for teacher training" %}
{% set title = serviceName %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">We couldn’t find the course you’re looking for – there may be a problem with the training provider and/or course code(s).</p>
      <p class="govuk-body">Go back to <a href="{{ data['find_url'] }}">Find postgraduate teacher training</a> and try selecting your course again, or choose a different course.</p>

      {{ govukButton({
        text: "Find postgraduate teacher training",
        href: data['find_url'],
        isStartButton: true
      }) }}
    </div>
  </div>
{% endblock %}
