{% extends "layout.html" %}
{% set title %}Create an account{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/apply/' + course.providerCode + '/' + course.programmeCode + '/start', 'Back') }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
  Create an account
</h1>
​
</div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<p>Create an account to use this service. You’ll then be able to save and return to your applications as often as you need to. </p>
​
<form action="/email/apply-sign-up" method="post" class="form">
​{% call govukFieldset({
legend: {
text: "Name",
isPageHeading: true,
classes: "govuk-fieldset__legend--m"
},
          classes : 'govuk-!-width-two-thirds'
          }) %}

              {{ govukInput({
                  label: {
                      text: "First names"
                  },
                  id: "first_name",
                  name: "first_name",
                  value: data["first_name"]
                  }) }}

              {{ govukInput({
                  label: {
                      text: "Surname"
                  },
                  id: "last_name",
                  name: "last_name",
                  value: data["last_name"]
                  }) }}

               {{ govukDateInput({
                  id: "dob",
                  namePrefix: "dob",
                  fieldset: {
                      legend: {
                      text: "Date of birth",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--m"
                      }
                  },
                  hint: {
                      text: "For example, 31 3 1980"
                  },
                  items: [
                          {
                              name: "day",
                              value: data['dob-day'],
                              classes: "govuk-input--width-2"
                          },
                          {
                              name: "month",
                              value: data['dob-month'],
                              classes: "govuk-input--width-2"
                          },
                          {
                              name: "year",
                              value: data['dob-year'],
                              classes: "govuk-input--width-4"
                          }
                      ]
                  }) }}
  {% endcall %}
{% call govukFieldset({
        }) %}
​
          {{ govukInput({

            label: {
              text: "Enter your email address"
            },
            id: "register_email",
            name: "register_email",
            classes: "govuk-input--width-20",
            value: data[register_email]
            }) }}
​
          {{ govukInput({
            label: {
              text: "Create a password"
            },
            id: "candidate_password",
            classes: "govuk-input--width-20",
            name: "candidate_password",
            value: data[candidate_password]
            }) }}
​
      {% endcall %}
    {{ govukButton({ text: "Create an account" }) }}
</form>
</div>
{# <div class="govuk-grid-column-one-third">
<div class="journey-widget">
  <h3 class="govuk-heading-s">Relevant guidance here</h3>
  <p>this information is required to setup your initial account</p>
</div>

</div> #}
</div>
</div>
{% endblock %}
