{% extends "layout.html" %}
{% set title %}Apply for postgraduate teacher training{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/apply/' + course.providerCode + '/' + course.programmeCode, 'Back') }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <!-- <p>Thank you for choosing to apply for teacher training through the Department for Education’s new application service.</p> -->

      <p>Apply for postgraduate teacher training is a new GOV.UK service being trialled with a small number of training providers, including the one you have selected.</p>

      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>apply quickly to your chosen course and other providers who have opted in to the trial</li>
        <li>be enrolled in the same way as any other candidate, if you're successful</li>
        <li>get support from the Department for Education (DfE) when you apply</li>
        <li>tailor your application to suit different providers </li>
        <li>get help from DfE if you decide to apply to non-opted in providers using UCAS </li>
      </ul>

      

      <p>
        <a href="/apply/{{ course.providerCode }}/{{ course.programmeCode }}/create-account" class="govuk-button">Continue</a>
      </p>
    </div>
  </div>
{% endblock %}
