.app-sort-by form {
  align-items: flex-end;

  @include govuk-media-query($until: desktop) {
    margin: govuk-spacing(2) 0;
  }

  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.app-sort-by__label {
  text-align: left;
  padding-right: govuk-spacing(2);
  display: inline-block;
}

.app-sort-by__form-group {
  margin-bottom: 0;
}

.app-sort-by__button {
  margin-top: govuk-spacing(2);
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-left: govuk-spacing(2);
    position: relative;
    top: -2px; // Override default gov properties due to active pixel movement
    vertical-align: bottom;
    width: auto;
  }
}
