{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    Teaching London SCITT
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">Entry requirements</h3>
        <h4 class="heading-small">First degree</h4>
        <p>
          Normally a minimum of a lower second-class UK Bachelor’s degree or an overseas qualification of an equivalent standard in an English-related subject, including Drama. Other subjects may be considered if A level English, or the equivalent, has been obtained and the candidate has a suitable depth and breadth of subject knowledge.
        </p>
        <h4 class="heading-small">A levels</h4>
        <p>
          A pass in English, or equivalent, required where degree subject is not in a cognate field.
        </p>
        <h4 class="heading-small">GCSEs</h4>
        <p>
          English Language and Mathematics at grade C.
        </p>
        <h4 class="heading-small">School experience</h4>
        <p>
          Prospective students must complete a minimum of five days of school experience before they can be enrolled on the Secondary PGCE. This may involve observations, work experience (e.g. as a teaching assistant or cover supervisor), or voluntary work. Applicants must have a minimum of one day's school experience before interview; some subjects will be looking for significantly more than this. Applicants must ensure that their school experience is relevant in helping them to prepare for the Secondary PGCE, during which Student Teachers are placed in a wide range of schools across London and the South East.
        </p>
        <h4 class="heading-small">DBS and Occupational Health</h4>
        <p>
          If you are made an offer you will be required to successfully complete Occupational Health and Disclosure Barring Service (DBS) Enhanced Disclosure checks. The total cost of these checks is £125. These checks are required to ensure you meet the Department for Education’s requirements for physical and mental health to teach, as well as assessing your suitability for access to children and vulnerable adults. More details can be found on the Entry requirements page.
        </p>
        <h4 class="heading-small">Skills tests</h4>
        <p>
          All applicants must successfully complete professional skills tests in literacy and numeracy before they can enrol. More information can be found on the Get Into Teaching website.
        </p>
        <h4 class="heading-small">English language requirements</h4>
        <p>
          If your education has not been conducted in the English language, you will be expected to demonstrate evidence of an adequate level of English proficiency.
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <a href="../../sign-in.html" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><span>Entry requirements</span></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
