{% extends "layout.html" %}
{% set title = 'Results on a map – User research 18 October' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>We tested a new iteration of maps with 5 users on 18 October 2018. It is a combination of the best bits of the previous two designs which we tested together.</p>

      <p>In this design we didn’t include individual training locations.</p>

      <ul class="list">
        <li><a href="https://lookback.io/watch/68a6mf8m44LkpWCa5">Participant 1</a></li>
        <li><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv">Participant 2</a></li>
        <li><a href="https://lookback.io/watch/Ajn7TA3rYjADXkBFh">Participant 3</a></li>
        <li><a href="https://lookback.io/watch/Q4jwCGjsSPdCWxLep">Participant 4</a></li>
        <li><a href="https://lookback.io/watch/ubmQNAZGpgQr4rFNu">Participant 5</a></li>
      </ul>

      <h2 class="govuk-heading-l">Finding the map</h2>

      <p>The map can be found behind a ‘view on map’ link near the top of results. Users however were more likely to jump to the first few results. P1 sais she saw the link but didn’t use it. <a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv?t=12m14.75s">P2 needed it pointed out</a>.</p>

      <p>When users opened the map they responded positively. The large map didn’t confuse them.</p>

      <p><a href="https://lookback.io/watch/Q4jwCGjsSPdCWxLep?t=21m55.64s">“I think that’s really good, I quite like that”</a></p>

      <h2 class="govuk-heading-l">Training locations were missing from the map</h2>

      <p>A user saw a training location listed in the search results – it was the nearest one. This didn’t show on the map view because we were only showing administrative locations. We must show consistent locations.</p>

      <p><a href="https://lookback.io/watch/68a6mf8m44LkpWCa5?t=24m54.2s-26m11.1s">‘This school is not on that map’</a></p>
      <p><a href="https://lookback.io/watch/68a6mf8m44LkpWCa5?t=47m9.94s">‘There are schools missing, so it needs a bit of work’</a></p>

      <p>When asked about the meaning of a pin on the map, <a href="https://lookback.io/watch/68a6mf8m44LkpWCa5?t=38m49.18s">‘that’s the school where you’ll train’</a>. Right now that’s not necessarily true.</p>

      <p><a href="https://lookback.io/watch/Q4jwCGjsSPdCWxLep?t=22m24.59s">“This would just be the base of a course”</a></p>

      <h2 class="govuk-heading-l">Results outside the search radius</h2>

      <p>By including results outside the circle it suggests that we’ve searched that area fully. We haven’t, it’s a quirk of a course with multiple training locations (or in this case an admin location) that's a bit further away, but with one location within the radius.</p>

      <p>For example, with a radius of 20 miles, one result might show 25 miles away if that’s where its admin location is listed. We won’t however show any of the other potential courses that are between 20 and 25 miles away.</p>

      <p>No user understood this. It is misleading.</p>

      <p>To fix this we could:</p>

      <ul class="list list-bullet">
        <li>show all results – from the start or as they move around</li>
        <li>show nothing outside a certain radius, using the outer circle as a bounding area</li>
      </ul>

      <p><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv?t=27m38.29s">“As I zoom out I’d expect to see more pins pop up elsewhere”</a></p>

      <h2 class="govuk-heading-l">Setting a radius</h2>

      <p>The choice of how close a course is can be moved from the ‘Find by location’ screen to the map view.</p>

      <p>On the map view it doesn’t make sense to search a specific radius, instead the user can zoom and move around and focus on areas directly. Users can also make a more informed choice about distance – eg if a course is further away but along a motorway, it might be faster to get to.</p>

      <p><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv?t=14m10s">“they’re not too far away that I could travel to them and still live at home”</a> (courses were about 15 miles away, but not hard to get to)</p>

      <p>Users found the radius circles useful. They can easily see how far away a location is.</p>

      <p><a href="https://lookback.io/watch/68a6mf8m44LkpWCa5?t=31m46s">“If it’s just outside the radius I would have missed it”</a></p>
      <p><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv?t=15m44.06s">“Nice to have the option just outside the 20 miles”</a></p>

      <p>On the list view the radius changes only the number of results. The closest are always first. To see things further away users can keep scrolling or paginating.</p>

      <h2 class="govuk-heading-l">Course codes</h2>

      <p>We put the course codes as a differentiator in maps. Users expect to see that code prominently on the course page too.</p>

      <h2 class="govuk-heading-l">List view alongside map</h2>

      <p>Expected to be able to click in the list and see the result on the map. <a href="https://lookback.io/watch/68a6mf8m44LkpWCa5?t=39m29s">See video</a></p>

      <p><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv?t=31m24.52s">P2 ‘wouldn’t use the list. Map is more interactive’</a></p>

      <p>P4 used the list but expected the results to be indicated on the map somehow. <a href="https://lookback.io/watch/Q4jwCGjsSPdCWxLep?t=23m44s">“pin would bounce”</a>.</p>

    </div>
  </div>

  {% set contents = [
    { text: 'List of results', id: 'list-of-results' },
    { text: 'Results on a map', id: 'results-on-a-map' },
    { text: 'Result open on a map', id: 'result-open-on-a-map' },
    { text: 'Another result open on a map', id: 'another-result-open-on-a-map' },
    { text: 'Mobile results for london', id: 'mobile-results-for-london' },
    { text: 'Single result open on mobile', id: 'single-result-open-on-mobile' },
    { text: 'Multiple courses open on mobile', id: 'multiple-courses-open-on-mobile' }
  ] %}
  {{ macros.screenshotContents(contents) }}

{{ macros.screenshot('List of results', 'list-of-results', '/public/images/history/map-2/thumbnails/01-list-of-results.png', '/public/images/history/map-2/01-list-of-results.png', '') }}

{{ macros.screenshot('Results on a map', 'results-on-a-map', '/public/images/history/map-2/thumbnails/02-results-on-a-map.png', '/public/images/history/map-2/02-results-on-a-map.png', '') }}

{{ macros.screenshot('Result open on a map', 'result-open-on-a-map', '/public/images/history/map-2/thumbnails/03-result-open-on-a-map.png', '/public/images/history/map-2/03-result-open-on-a-map.png', '') }}

{{ macros.screenshot('Another result open on a map', 'another-result-open-on-a-map', '/public/images/history/map-2/thumbnails/04-another-result-open-on-a-map.png', '/public/images/history/map-2/04-another-result-open-on-a-map.png', '') }}

{{ macros.screenshot('Mobile results for london', 'mobile-results-for-london', '/public/images/history/map-2/thumbnails/05-mobile-results-for-london.png', '/public/images/history/map-2/05-mobile-results-for-london.png', '') }}

{{ macros.screenshot('Single result open on mobile', 'single-result-open-on-mobile', '/public/images/history/map-2/thumbnails/06-single-result-open-on-mobile.png', '/public/images/history/map-2/06-single-result-open-on-mobile.png', '') }}

{{ macros.screenshot('Multiple courses open on mobile', 'multiple-courses-open-on-mobile', '/public/images/history/map-2/thumbnails/07-multiple-courses-open-on-mobile.png', '/public/images/history/map-2/07-multiple-courses-open-on-mobile.png', '') }}

</main>
{% endblock %}
