{% extends "layout.html" %}
{% set title = 'Results on a map – User research 18 October' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>We tested the second iteration of maps with 5 users on 18 October 2018. It is a combination of the best bits of the previous two designs which we tested together.</p>

      <ul class="list">
        <li><a href="https://lookback.io/watch/68a6mf8m44LkpWCa5">Participant 1</a></li>
        <li><a href="https://lookback.io/watch/LEWcbDNA9pqwofRsv">Participant 2</a></li>
        <li><a href="https://lookback.io/watch/Ajn7TA3rYjADXkBFh">Participant 3</a></li>
        <li><a href="https://lookback.io/watch/Q4jwCGjsSPdCWxLep">Participant 4</a></li>
        <li><a href="https://lookback.io/watch/ubmQNAZGpgQr4rFNu">Participant 5</a></li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'List of results', id: 'list-of-results' },
    { text: 'Results on a map', id: 'results-on-a-map' },
    { text: 'Result open on a map', id: 'result-open-on-a-map' },
    { text: 'Another result open on a map', id: 'another-result-open-on-a-map' },
    { text: 'Mobile results for london', id: 'mobile-results-for-london' },
    { text: 'Single result open on mobile', id: 'single-result-open-on-mobile' },
    { text: 'Multiple courses open on mobile', id: 'multiple-courses-open-on-mobile' }
  ] %}
  {{ macros.screenshotContents(contents) }}

{{ macros.screenshot('List of results', 'list-of-results', '/public/images/history/map-2/thumbnails/01-list-of-results.png', '/public/images/history/map-2/01-list-of-results.png', '') }}

{{ macros.screenshot('Results on a map', 'results-on-a-map', '/public/images/history/map-2/thumbnails/02-results-on-a-map.png', '/public/images/history/map-2/02-results-on-a-map.png', '') }}

{{ macros.screenshot('Result open on a map', 'result-open-on-a-map', '/public/images/history/map-2/thumbnails/03-result-open-on-a-map.png', '/public/images/history/map-2/03-result-open-on-a-map.png', '') }}

{{ macros.screenshot('Another result open on a map', 'another-result-open-on-a-map', '/public/images/history/map-2/thumbnails/04-another-result-open-on-a-map.png', '/public/images/history/map-2/04-another-result-open-on-a-map.png', '') }}

{{ macros.screenshot('Mobile results for london', 'mobile-results-for-london', '/public/images/history/map-2/thumbnails/05-mobile-results-for-london.png', '/public/images/history/map-2/05-mobile-results-for-london.png', '') }}

{{ macros.screenshot('Single result open on mobile', 'single-result-open-on-mobile', '/public/images/history/map-2/thumbnails/06-single-result-open-on-mobile.png', '/public/images/history/map-2/06-single-result-open-on-mobile.png', '') }}

{{ macros.screenshot('Multiple courses open on mobile', 'multiple-courses-open-on-mobile', '/public/images/history/map-2/thumbnails/07-multiple-courses-open-on-mobile.png', '/public/images/history/map-2/07-multiple-courses-open-on-mobile.png', '') }}

</main>
{% endblock %}
