{% extends "layout.html" %}
{% block page_title %}Pick a location{% endblock %}

{% if not backLink %}
  {% set backLink = { text: 'Back', href: '/'} %}
{% endif %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-full">
      {{ macros.backLink(backLink.text, backLink.href) }}
      <h1 class="govuk-heading-xl">
        Pick a location
      </h1>

      <div class="grid-row">
        <div class="column-two-thirds">
          <ul class="govuk-list">
            <li>
              <a href="#">London, UK</a>
            </li>
            <li>
              <a href="#">Manchester, UK</a>
            </li>
            <li>
              <a href="#">Birmingham, UK</a>
            </li>
            <li>
              <a href="#">Bristol, UK</a>
            </li>
            <li>
              <a href="#">Brighton, UK</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
