
{% extends "layout.html" %}
{% block page_title %}Private beta as launched{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">Private beta as launched</h1>

    {{ macros.screenshot('Index', 'index', '/public/images/history/private-beta-launch/thumbnails/01-index.png', '/public/images/history/private-beta-launch/01-index.png', '') }}
  
    {{ macros.screenshot('Disclaimer', 'disclaimer', '/public/images/history/private-beta-launch/thumbnails/02-disclaimer.png', '/public/images/history/private-beta-launch/02-disclaimer.png', '') }}
  
    {{ macros.screenshot('Choose your search', 'choose-your-search', '/public/images/history/private-beta-launch/thumbnails/03-choose-your-search.png', '/public/images/history/private-beta-launch/03-choose-your-search.png', '') }}
  
    {{ macros.screenshot('Search by location', 'search-by-location', '/public/images/history/private-beta-launch/thumbnails/04-search-by-location.png', '/public/images/history/private-beta-launch/04-search-by-location.png', '') }}
  
    {{ macros.screenshot('Search by provider', 'search-by-provider', '/public/images/history/private-beta-launch/thumbnails/05-search-by-provider.png', '/public/images/history/private-beta-launch/05-search-by-provider.png', '') }}
  
    {{ macros.screenshot('Financial support', 'financial-support', '/public/images/history/private-beta-launch/thumbnails/06-financial-support.png', '/public/images/history/private-beta-launch/06-financial-support.png', '') }}
  
    {{ macros.screenshot('Search results', 'search-results', '/public/images/history/private-beta-launch/thumbnails/07-search-results.png', '/public/images/history/private-beta-launch/07-search-results.png', '') }}
  
    {{ macros.screenshot('No search results', 'no-search-results', '/public/images/history/private-beta-launch/thumbnails/08-no-search-results.png', '/public/images/history/private-beta-launch/08-no-search-results.png', '') }}
  
    {{ macros.screenshot('Minimal course details', 'minimal-course-details', '/public/images/history/private-beta-launch/thumbnails/09-minimal-course-details.png', '/public/images/history/private-beta-launch/09-minimal-course-details.png', '') }}
  
    {{ macros.screenshot('Full course details', 'full-course-details', '/public/images/history/private-beta-launch/thumbnails/10-full-course-details.png', '/public/images/history/private-beta-launch/10-full-course-details.png', '') }}
  
    {{ macros.screenshot('Study type filter', 'study-type-filter', '/public/images/history/private-beta-launch/thumbnails/11-study-type-filter.png', '/public/images/history/private-beta-launch/11-study-type-filter.png', '') }}
  
    {{ macros.screenshot('Qualifications filter', 'qualifications-filter', '/public/images/history/private-beta-launch/thumbnails/12-qualifications-filter.png', '/public/images/history/private-beta-launch/12-qualifications-filter.png', '') }}
  
</main>
{% endblock %}
