
{% extends "layout.html" %}
{% block page_title %}Private beta as launched{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">Private beta as launched</h1>

  <p class="lede"><a href="/history/user-research-may-3">Tested with users on May 3</a>, with key observations noted below.</p>

  {% set contents = [
  { text: 'Index', id: 'index' },
  { text: 'Disclaimer', id: 'disclaimer' },
  { text: 'Choose your search', id: 'choose-your-search' },
  { text: 'Search by location', id: 'search-by-location' },
  { text: 'Search by provider', id: 'search-by-provider' },
  { text: 'Financial support', id: 'financial-support' },
  { text: 'Search results', id: 'search-results' },
  { text: 'No search results', id: 'no-search-results' },
  { text: 'Minimal course details', id: 'minimal-course-details' },
  { text: 'Full course details', id: 'full-course-details' },
  { text: 'Study type filter', id: 'study-type-filter' },
  { text: 'Qualifications filter', id: 'qualifications-filter' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Index', 'index', '/public/images/history/private-beta-launch/thumbnails/01-index.png', '/public/images/history/private-beta-launch/01-index.png', '') }}

  {{ macros.screenshot('Disclaimer', 'disclaimer', '/public/images/history/private-beta-launch/thumbnails/02-disclaimer.png', '/public/images/history/private-beta-launch/02-disclaimer.png', '
    <p>We found that users were likely to notice and respond to the disclaimer. When questioned, users had a better understanding of what this disclaimer means.</p>

    <p>This page performed significantly better than the <a href="/history/user-research-apr-25#search-results">original banner</a>.</p>
  ') }}

  {{ macros.screenshot('Choose your search', 'choose-your-search', '/public/images/history/private-beta-launch/thumbnails/03-choose-your-search.png', '/public/images/history/private-beta-launch/03-choose-your-search.png', '
    <p>Some users did not realise they needed to ‘pick one’, the radio buttons and copy were not sufficient in indicating this. We saw users sometimes select multiple radio buttons, first clicking "By location" and then "By provider", before continuing.</p>

    <p>We <a href="/history/private-beta-iteration-may-15">iterated this design</a> to be more explicit about the task and the need to pick only one.</p>
  ') }}

  {{ macros.screenshot('Search by location', 'search-by-location', '/public/images/history/private-beta-launch/thumbnails/04-search-by-location.png', '/public/images/history/private-beta-launch/04-search-by-location.png', '') }}

  {{ macros.screenshot('Search by provider', 'search-by-provider', '/public/images/history/private-beta-launch/thumbnails/05-search-by-provider.png', '/public/images/history/private-beta-launch/05-search-by-provider.png', '') }}

  {{ macros.screenshot('Financial support', 'financial-support', '/public/images/history/private-beta-launch/thumbnails/06-financial-support.png', '/public/images/history/private-beta-launch/06-financial-support.png', '') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/private-beta-launch/thumbnails/07-search-results.png', '/public/images/history/private-beta-launch/07-search-results.png', '') }}

  {{ macros.screenshot('No search results', 'no-search-results', '/public/images/history/private-beta-launch/thumbnails/08-no-search-results.png', '/public/images/history/private-beta-launch/08-no-search-results.png', '
    <p>Private beta launched without the <a href="/history/user-research-apr-25">suggested searches feature trialled on Apr 25</a></p>
  ') }}

  {{ macros.screenshot('Minimal course details', 'minimal-course-details', '/public/images/history/private-beta-launch/thumbnails/09-minimal-course-details.png', '/public/images/history/private-beta-launch/09-minimal-course-details.png', '') }}

  {{ macros.screenshot('Full course details', 'full-course-details', '/public/images/history/private-beta-launch/thumbnails/10-full-course-details.png', '/public/images/history/private-beta-launch/10-full-course-details.png', '') }}

  {{ macros.screenshot('Study type filter', 'study-type-filter', '/public/images/history/private-beta-launch/thumbnails/11-study-type-filter.png', '/public/images/history/private-beta-launch/11-study-type-filter.png', '') }}

  {{ macros.screenshot('Qualifications filter', 'qualifications-filter', '/public/images/history/private-beta-launch/thumbnails/12-qualifications-filter.png', '/public/images/history/private-beta-launch/12-qualifications-filter.png', '') }}

</main>
{% endblock %}
