{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to apply to a teacher training course or:</p>

      <ul class="list list-bullet">
        <li>search teacher training courses across England</li>
        <li>campare teacher training courses across England</li>
      </uL>


      <p>
        <a class="button button-start" href="#" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>
      <p>To apply to a teacher training course in England, you need to</p>
      <ul class="list list-bullet">
        <li>have a British degree or an international equivalent degree</li>
        <li>If English is not your native language, you need to pass the IELTS exam with a minimum score of 6.5 or <a href="#">pass other English test</a></li>
      </uL>
      <p>Most providers also expect you to </p>
      <ul class="list list-bullet">
        <li>pass the <a href="#">professional skills test</a></li>
        <li>have a  <a href="#">school experience</a></li>
      </uL>
      <h2 class="heading-medium">Track your applications</h2>
      <p><a href="#">Sign in</a> to your account to track your applications</p>
    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Teaching</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">How to become a teacher?</a></li>
            <li><a href="#">Bursaries and finance</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

</main>

{% endblock %}
