{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("q2.html")}}
      {{macros.h1("Do you want to earn a salary while you train?")}}
      {{ macros.formStart()}}
        <div class="form-group">
          {{ macros.radio("radioSalary","Yes","radioSalary","insetYes") }}
            {{ macros.insetStart("insetYes") }}
              {{ macros.bulletList(["This option is best suited for career changers","Providers may require you to have prior working experience for you to be eligible","Some providers might require you to have working experience in a school"])}}
            {{ macros.insetEnd()}}
          {{ macros.radio("radioSalary","No","radioSalary","none") }}
        </div>
        {{ macros.submitLink("Find courses","results.html")}}
      {{ macros.formEnd()}}
</main>

{% endblock %}
