{% extends "layout.html" %}
{% set title = "Folded courses research 8 June 2018" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main" class="design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>We tested a hypothesis around folding courses - eg salaried and unsalaried folded into one course listing and course detail page. (More on folding: ‘<a href="https://manage-courses-prototype.herokuapp.com/history/what-is-a-course">What is a course?</a>’, <a href="https://manage-courses-prototype.herokuapp.com/history/imported-from-ucas">folding detail</a>)</p>

      <p> Course folding reduces the number of results per search and allows search results to surface more variety. Rather than English at Catholic Teach Alliance listed four or five times, it would be listed just once, allowing for the next course to be surfaced immediately, also making results fairer.</p>

      <p>With fewer courses to add information for it should also provide a lighter work load for providers entering courses.</p>

      <p><a href="https://docs.google.com/document/d/1bKRxKlHHSVm9lZ4vJHxOoJpYkklJiz51oukQ7tsG4N0/edit?usp=sharing">Discussion guide</a></p>

      <p>6 remote user research sessions recorded using Lookback:</p>
      <ul class="list list-bullet">
        <li><a href="https://lookback.io/watch/kw8NGRosYvft9yM3G">Participant 1</a></li>
        <li><a href="https://lookback.io/watch/fNgMHR8TLkg3d2Kr2">Participant 2</a></li>
        <li><a href="https://lookback.io/watch/FuAzAMcbq9LcCswXv">Participant 3</a></li>
        <li><a href="https://lookback.io/watch/kH3oS3z8nAoWMsJ8B">Participant 4</a></li>
        <li><a href="https://lookback.io/watch/Z3nCygSqTdw3agSGh">Participant 5</a></li>
        <li><a href="https://lookback.io/watch/8QnFPjo5LYrFdFBdd">Participant 6</a></li>
      </ul>

      <h2 class="heading-medium">Results</h2>

      <p>The UX needed to be clearer on the course listings/results page, showing the course options, but most candidates understood the meaning; there is evidence that people did navigate differently the course listing page depending on which course they would choose.</p>

      <p>The course details page ended up being long as content wasn't as similar across variants as we once thought. At the apply point people understood that there were options and some even would click both to compare.</p>

      <p><a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/445317125/Folded+courses">Research notes in Confluence</a></p>
    </div>
  </div>

  {% set contents = [
  { text: 'Index', id: 'index' },
  { text: 'Find by location', id: 'find-by-location' },
  { text: 'Search results with variants', id: 'search-results-with-variants' },
  { text: 'First course', id: 'first-course' },
  { text: 'Second course', id: 'second-course' },
  { text: 'Third course', id: 'third-course' },
  { text: 'Fourth course', id: 'fourth-course' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Index', 'index', '/public/images/history/course-options-user-research-june-8/thumbnails/01-index.png', '/public/images/history/course-options-user-research-june-8/01-index.png', '') }}

  {{ macros.screenshot('Find by location', 'find-by-location', '/public/images/history/course-options-user-research-june-8/thumbnails/02-find-by-location.png', '/public/images/history/course-options-user-research-june-8/02-find-by-location.png', '') }}

  {{ macros.screenshot('Search results with variants', 'search-results-with-variants', '/public/images/history/course-options-user-research-june-8/thumbnails/03-search-results-with-variants.png', '/public/images/history/course-options-user-research-june-8/03-search-results-with-variants.png', '
    <p>There seems to be an understanding once participants arrive at the course listings that there are multiple options in one course. <a href="https://lookback.io/watch/8QnFPjo5LYrFdFBdd?t=22m16.5s-26m58s">Participant 121 understands two courses folded into one</a>.

    <p>Looking at the first result: “it kind of looks like there’s two options – do the PGCE with the bursary, or drop the PGCE and get a salary … and they don’t offer part time”</p>

    <p>Participant 123 says that the UI is not clear, “<a href="https://lookback.io/watch/kH3oS3z8nAoWMsJ8B?t=28m39.7s-34m42s">it is not clear there are two routes</a>”. However they understand that there are two courses. Also makes the point that if you don’t know the acronyms then it could appear meaningless to some users (but not themself).</p>

    <p>Looking at the second result, participant 122 doesn’t see the folded options, he only sees the bottom of the two options – ‘for the SCITT route you’re only getting your QTS, not your PGCE’. It seems to be due to his assumption that SCITTs dont do a PGCE. However <a href="https://lookback.io/watch/Z3nCygSqTdw3agSGh?t=17m50.8s-22m24s">he says it’s due to a it not being visually clear</a>.</p>
  ') }}

  {{ macros.screenshot('First course', 'first-course', '/public/images/history/course-options-user-research-june-8/thumbnails/04-first-course.png', '/public/images/history/course-options-user-research-june-8/04-first-course.png', '
    <p>The folded Apply option doesn’t seem to work with participant 122 in the sense that <a href="https://lookback.io/watch/Z3nCygSqTdw3agSGh?t=31m11.7s-35m45s">they don’t see it or click it</a>.</p>
  ') }}

  {{ macros.screenshot('Second course', 'second-course', '/public/images/history/course-options-user-research-june-8/thumbnails/05-second-course.png', '/public/images/history/course-options-user-research-june-8/05-second-course.png', '') }}

  {{ macros.screenshot('Third course', 'third-course', '/public/images/history/course-options-user-research-june-8/thumbnails/06-third-course.png', '/public/images/history/course-options-user-research-june-8/06-third-course.png', '') }}

  {{ macros.screenshot('Fourth course', 'fourth-course', '/public/images/history/course-options-user-research-june-8/thumbnails/07-fourth-course.png', '/public/images/history/course-options-user-research-june-8/07-fourth-course.png', '') }}

</main>
{% endblock %}
