<div class="govuk-!-margin-bottom-8">
  <h2 id="training-with-disabilities" class="govuk-heading-l">Training with disabilities and other needs</h2>
  {{ provider.train_with_disability | markdown | safe }}
</div>
