{% extends "layout.html" %}
{% set title = 'Special educational needs (SEN) filter' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Users have struggled to find SEN courses because SEN is not listed as a subject anywhere.</p>

      <div class="panel panel-border-wide">
        <p>I’m really looking at SEN teaching, however there is no way through this search tool to specify this (<a href="https://becomingateacher.zendesk.com/agent/tickets/1436">Zendesk</a>)</p>
      </div>

      <p>SEN is a subject, but also not a subject. Any course (for any given subject) could have an SEN focus. SEN is modelled as a subject by UCAS and courses are tagged with it, but it doesn’t sit neatly within primary, secondary or further education. It’s also not a taught subject.</p>

      <p>Instead we need to treat SEN like a filter, if a user wants to see SEN courses we can show them all the SEN courses for the subjects they’ve selected (eg Primary or Secondary Biology).</p>

      <h2 class="govuk-heading-m">When SEN is selected</h2>

      <p>It should be listed as ‘Only SEN courses’ at the top of the subjects filter. It doesn’t have its own filter page because it’d be wrong to edit it in two different places.</p>

      <p>Only SEN courses should display.</p>

      <p>If a user selects only SEN and no other subject we should show all SEN courses across all subjects.</p>

      <p><a href="https://trello.com/c/aLZpgfHA/439-design-surface-special-education-needs-sen-in-subject-search">Trello</a></p>
    </div>
  </div>

  {% set contents = [
    { text: 'Subject filter with SEN option', id: 'subject-filter-with-sen' },
    { text: 'Results with SEN filter enabled', id: 'results-with-sen-filter' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Subject filter with SEN option', 'subject-filter-with-sen', '/public/images/history/sen-filter/thumbnails/01-subject-filter-with-sen.png', '/public/images/history/sen-filter/01-subject-filter-with-sen.png', '') }}

  {{ macros.screenshot('Results with SEN filter enabled', 'results-with-sen-filter', '/public/images/history/sen-filter/thumbnails/02-results-with-sen-filter.png', '/public/images/history/sen-filter/02-results-with-sen-filter.png', '') }}


{% endblock %}
