{% extends "_layouts/default.njk" %}

{% set title = "Find " + ageGroup + " teacher training courses" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}

{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="app-grid-column--blue">

        <div class="govuk-grid-row govuk-!-margin-bottom-8">
          <div class="govuk-grid-column-two-thirds">
            {{ appSearch({
              label: {
                text: "City, town or postcode",
                classes: 'govuk-label--m app-label--white'
              },
              input: {
                id: "location",
                name: "location",
                value: data.location,
                errorMessage: errors | getErrorMessage("location") if 1 == 0
              },
              action: actions.search,
              method: "post",
              buttons: [{
                text: "Search",
                classes: "app-search__button app-button--white"
              }]
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m app-heading--white">
              Browse by city
            </h2>

            <ul class="govuk-list app-two-columns">
              {% for city in cities %}
                <li>
                  <a class="govuk-link" href="{{ actions.search }}?location={{ city }}">{{ city }}</a>
                </li>
              {% endfor %}
            </ul>

          </div>
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m app-heading--white">
              Browse by region
            </h2>

            <ul class="govuk-list app-two-columns">
              {% for region in regions %}
                <li>
                  <a class="govuk-link" href="#">{{ region }}</a>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}

{% endblock %}
