{% extends "_layouts/default.njk" %}

{% set title = "Find primary teacher training courses" %}

{% block pageTitle %}
{{ "Error: " if errors }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="app-grid-column--blue">

        <div class="govuk-grid-row govuk-!-margin-bottom-8">
          <div class="govuk-grid-column-two-thirds">
            {{ appSearch({
              label: {
                text: "City, town or postcode",
                classes: 'govuk-label--m app-label--white'
              },
              input: {
                id: "location",
                name: "location",
                value: data.location
              },
              action: "#",
              buttons: [{
                text: "Search",
                classes: "app-search__button app-button--white"
              }]
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m app-heading--white">
              Browse by city
            </h2>

            <ul class="govuk-list app-two-columns">
              {# {% set loopLength = cities.length %}
              {% set loopCount = 0 %} #}
              {% for city in cities %}
                <li>
                  <a class="govuk-link" href="#">{{ city }}</a>
                </li>
                {# {% if loopCount == (loopLength/2) %}
                  </ul>
                  <ul class="govuk-list">
                {% endif %} #}
                {# {% set looCount = loopCount + 1 %} #}
              {% endfor %}
            </ul>

          </div>
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m app-heading--white">
              Browse by region
            </h2>

            <ul class="govuk-list app-two-columns">
              {% for region in regions %}
                <li>
                  <a class="govuk-link" href="#">{{ region }}</a>
                </li>
              {% endfor %}
            </ul>

          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}

{% endblock %}
