{% extends "layout.html" %}
{% set title = 'Showing a map in the filters column' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.designHistoryBreadcrumbs() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>When we had a ‘View on map’ link it wasn’t seen by users, we had to prompt them to open it to see the map.</p>
      <p>When we defaulted to the map view users were expecting a list and they didn’t discover the search filters.</p>

      <p>In this design we’ve:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>switched the list view back to being the default</li>
        <li>replaced the ‘view on a map’ link with a mini map you can click</li>
        <li>used the mini map to clarify where a user is searching (and improved the copy – eg Within 20 miles of the pin rather than 20 miles around Manchester)</li>
        <li>highlighted the map feature more clearly</li>
        <li>made the map full screen, hiding all other site furniture except a close button</li>
        <li>taken the location filter out of the filters disclosure on mobile, so the map is visible</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Map in filters', id: 'map-in-filters' },
    { text: 'Full view map when clicked', id: 'full-view-map-when-clicked' },
    { text: 'Full view map zoomed out', id: 'full-view-map-zoomed-out' },
    { text: 'Map in filters on mobile', id: 'map-in-filters-on-mobile' },
    { text: 'Mobile view scrolled', id: 'mobile-view-scrolled' },
    { text: 'Full view map on mobile', id: 'full-view-map-on-mobile' }
  ] %}
  {{ macros.screenshotContents(contents) }}

{{ macros.screenshot('Map in filters', 'map-in-filters', '/public/images/history/map-4/thumbnails/01-map-in-filters.png', '/public/images/history/map-4/01-map-in-filters.png', '') }}

{{ macros.screenshot('Full view map when clicked', 'full-view-map-when-clicked', '/public/images/history/map-4/thumbnails/02-full-view-map-when-clicked.png', '/public/images/history/map-4/02-full-view-map-when-clicked.png', '') }}

{{ macros.screenshot('Full view map zoomed out', 'full-view-map-zoomed-out', '/public/images/history/map-4/thumbnails/03-full-view-map-zoomed-out.png', '/public/images/history/map-4/03-full-view-map-zoomed-out.png', '') }}

{{ macros.screenshot('Map in filters on mobile', 'map-in-filters-on-mobile', '/public/images/history/map-4/thumbnails/04-map-in-filters-on-mobile.png', '/public/images/history/map-4/04-map-in-filters-on-mobile.png', '') }}

{{ macros.screenshot('Mobile view scrolled', 'mobile-view-scrolled', '/public/images/history/map-4/thumbnails/05-mobile-view-scrolled.png', '/public/images/history/map-4/05-mobile-view-scrolled.png', '') }}

{{ macros.screenshot('Full view map on mobile', 'full-view-map-on-mobile', '/public/images/history/map-4/thumbnails/06-full-view-map-on-mobile.png', '/public/images/history/map-4/06-full-view-map-on-mobile.png', '') }}
{% endblock %}
