{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  {{ macros.betaBanner()}}
  <a class="link-back" href="/results">Back to search results</a>
  <h1 class="heading-xlarge">
    {{ (data['subject'] or 'Business studies') }} at {{ course.provider }}
  </h1>
  <div class="grid-row">
    <div class="column-full">
      <div class="courseDetailsMeta">
        <dl>
          <dt>Website:</dt>
          <dd><a href="{{ course.website }}">{{ course.website }}</a></dd>
          <dt>Date you can apply from:</dt>
          <dd>26 October 2018</dd>
          <dt>Date course starts:</dt>
          <dd>15 October 2019</dd>
          <dt>Study options:</dt>
          <dd>
            {% if course.options.length == 1 %}
              {{ course.options }}
            {% else %}
              <ul class="multiple-options">
                {% for option in course.options %}
                  <li>{{ option }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="courseContents">
        <div class="grid-row">
          <div class="column-two-thirds">
            <h2 class="heading-small">Contents</h2>
            <ul class="list">
              <li><a href="#section-about">About the course</a></li>
              <li><a href="#section-entry">Requirements</a></li>
              {% if course.qual %}<li><a href="#section-qualification-options">Qualification options</a></li>{% endif %}
              {% if course.salary %}<li><a href="#section-salary-options">Salary</a></li>{% endif %}
              <li><a href="#section-fees">Fees</a></li>
              <li><a href="#section-financial-support">Financial support</a></li>
              <li><a href="#section-schools">Schools</a></li>
              <li><a href="#section-about-provider">About {{ course.provider }}</a></li>
              <li><a href="#section-contact">Contact details</a></li>
              <li><a href="#section-apply">Apply</a></li>
            </ul>

            <h2 class="heading-medium" id="section-about">About the course</h2>
            {{ macros.part(course['about-this-course']) }}

            <h2 class="heading-medium" id="section-entry">Requirements</h2>

            <h3 class="heading-small">Qualifications</h3>
            {{ macros.part(course['qualifications-required']) }}

            <h3 class="heading-small">Other requirements</h3>
            {{ macros.part(course['other-requirements']) }}

            {% if course.qual %}
              <h2 class="heading-medium" id="section-qualification-options">Qualification options</h2>

              <p>You can apply for either of the following:</p>

              <h3 class="heading-small">PGCE with QTS course</h3>
              <p>A PGCE with QTS allows you to teach in England. Unlike a QTS course, in Scotland, Wales and Northern Ireland. This qualification is also recognised internationally. Our PGCE course includes 60 credits that count towards a Master's qualification.</p>

              <h3 class="heading-small">QTS course</h3>
              You must have QTS in order to teach in a state school in England.
            {% endif %}

            {% if course.salary %}
              <h2 class="heading-medium" id="section-salary-options">Earn a salary while you train</h2>
              <p>You have the option to earn a salary with this course.</p>
              <p>With a salaried course you:</p>
              <ul class="list list-bullet">
                <li>won’t pay any fees</li>
                <li>could have to pay tax and National Insurance</li>
                <li>won’t be eligible for student finance</li>
              </ul>
              <p>You'll be employed directly by the school and will be spending four days a week there, mostly in the classroom. Most people who choose this type of course are employed by the school once they qualify.</p>
            {% endif %}

            <h2 class="heading-medium" id="section-fees">Fees</h3>

            <p>The course fees for 2018/2019 are as follows:</p>

            {% if (course['pgce-fee']) %}
            <h3 class="heading-small">Fees for PGCE with QTS course</h3>
            <div class="body-text">
              <table>
                <tbody>
                  <tr class="visually-hidden">
                    <th>Student type</th>
                    <th>Fees to pay</th>
                  </tr>
                  <tr>
                    <td>UK students</td>
                    <td>£{{ course['pgce-fee'] }}</td>
                  </tr>
                  <tr>
                    <td>EU students</td>
                    <td>£{{ course['pgce-fee'] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endif %}

            {% if (course['qts-fee']) %}
            <h3 class="heading-small">Fees for QTS course</h3>
            <div class="body-text">
              <table>
                <tbody>
                  <tr class="visually-hidden">
                    <th>Student type</th>
                    <th>Fees to pay</th>
                  </tr>
                  <tr>
                    <td>UK students</td>
                    <td>£{{ course['qts-fee'] }}</td>
                  </tr>
                  <tr>
                    <td>EU students</td>
                    <td>£{{ course['qts-fee'] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endif %}

            <h2 class="heading-medium" id="section-financial-support">Financial support</h3>
            <p>You may be eligible for <a href="https://www.gov.uk/student-finance">financial support for students</a>.</p>
            <p><a href="https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates">Financial support if you’re from outside of the UK</a></p>

            <h2 class="heading-medium" id="section-schools">Schools you’ll be placed at</h3>
            {{ macros.part(course['placement-school-policy']) }}

            <h2 class="heading-medium" id="section-about-provider">About {{ course.provider }}</h2>

            <h3 class="heading-small">Training with a disability</h3>
            {{ macros.part(course['training-with-a-disability']) }}

            <h3 class="heading-small">Interview process</h3>
            {{ macros.part(course['interview-process']) }}

            <h2 class="heading-medium" id="section-contact">Contact details</h2>

            <dl class="aligned">
              <dt>Email:</dt>
              <dd><a href="#">admissions@apply-for-itt-at-pro.com</a></dd>
              <dt>Telephone:</dt>
              <dd>0208 123986</dd>
              <dt>Website:</dt>
              <dd><a href="{{ course.website }}">{{ course.website }}</a></dd>
              <dt>Address:</dt>
              <dd>
                {{ course.address }}
              </dd>
            </dl>

            <h2 class="heading-medium" id="section-apply">Apply</h2>

            {% set apply_preamble %}
              <p><a href="#">Apply for this course on the UCAS website</a>.</p>
              <h3 class="heading-small">Codes for the choices section of your application</h3>

              <dl class="aligned" style="margin-bottom: 40px">
                <dt>Provider code:</dt>
                <dd>1A9 ({{ course.provider }})</dd>
                <dt>Programme code:</dt>
            {% endset %}

            {% set apply_more_1 %}
              {{ apply_preamble | safe }}
                <dd>2L79 ({{ data['subject'] }})</dd>
              </dl>

              <p>When asked for the training location or campus code, use:</p>
              <div class="body">
                <table>
                  <thead>
                    <tr>
                      <th>School</th>
                      <th>Training location code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Weatherhead High School</td>
                      <td>- (Main Site)</td>
                    </tr>
                    <tr>
                      <td>Wirral Grammar School for Boys</td>
                      <td>F</td>
                    </tr>
                    <tr>
                      <td>Wirral Grammar School for Girls</td>
                      <td>G</td>
                    </tr>
                    <tr>
                      <td>The Mosslands School</td>
                      <td>T</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endset %}

            {% set apply_more_2 %}
              {{ apply_preamble | safe }}
                <dd>23CV ({{ data['subject'] }})</dd>
              </dl>

              <p>When asked for the training location or campus code, use:</p>
              <div class="body">
                <table>
                  <thead>
                    <tr>
                      <th>School</th>
                      <th>Training location code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tanbridge House School</td>
                      <td>5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {% endset %}

            {% if course.options.length > 1 %}
              <p>Pick a study option to apply to:</p>
              {% set fields = [
                  {
                    name: course.options[0],
                    more: apply_more_1
                  },
                  {
                    name: course.options[1],
                    more: apply_more_2
                  }
                ]
              %}

              <div class="form-group">
                {{ macros.radioGroup('funding-example-one', fields) }}
              </div>
            {% else %}
              {{ apply_preamble | safe }}
                <dd>2L79 ({{ data['subject'] }})</dd>
              </dl>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
