{% set trainWithUs %}
CETA is an inspirational place to work and learn. It provides a high quality school based learning opportunity for trainee teachers in partnership with the Gloucestershire Initial Teacher Education Partnership (GITEP) University of Bristol and Bath Spa University. We have a strong track record of working with trainee teachers for many years and fully embrace the energy, enthusiasm and drive they offer to a school community. Within our alliance there are three secondary schools, with Marling School being the lead school, and thirteen primary schools working collaboratively to provide support, challenge and a diverse and exciting experience for our trainees.

Students across the partnership are well-motivated and are at the heart of everything we do. In CETA we believe that our staff are the most valuable resource and therefore they have access to on-going training and professional development. Our teachers are excellent practitioners and they are eager to share their skills, knowledge and practice with the next generation of teachers.
{% endset %}

<div class="govuk-!-margin-bottom-8">
  <h2 id="about-training-provider" class="govuk-heading-l">About the training provider</h2>
  {{ trainWithUs | markdown | safe }}
</div>
