<div class="govuk-!-margin-bottom-8">
  <h2 id="contact-training-provider" class="govuk-heading-l">Contact this training provider</h2>
  <dl class="app-description-list">
    <dt class="app-list--description__label">Email</dt>
    <dd><a href="mailto:info@ceta.school">info@ceta.school</a></dd>
    <dt class="app-list--description__label">Telephone</dt>
    <dd>01453 762251</dd>
    <dt class="app-list--description__label">Website</dt>
    <dd><a href="http://www.ceta.school">http://www.ceta.school</a></dd>
    <dt class="app-list--description__label">Address</dt>
    <dd>
      Marling School<br>
      Cainscross Road<br>
      Stroud<br>
      Gloucestershire<br>
      GL5 4HE
    </dd>
  </dl>
</div>
