<h2 class="govuk-heading-m">Contents</h2>
<ul class="govuk-list app-list--dash course-contents govuk-!-margin-bottom-8">
  {# <li><a class="govuk-link" href="#course-summary">Course summary</a></li> #}
  {# <li><a class="govuk-link" href="#training-partners">Training partners</a></li> #}
  {# <li><a class="govuk-link" href="#entry-requirements">Entry requirements</a></li> #}
  <li><a class="govuk-link" href="#about-training-provider">About the training provider</a></li>
  <li><a class="govuk-link" href="#school-placements">School placements</a></li>
  {# <li><a class="govuk-link" href="#fees-and-financial-support">Fees and financial support</a></li> #}
  {# <li><a class="govuk-link" href="#interview-process">Interview process</a></li> #}
  {# <li><a class="govuk-link" href="#international-candidates">International candidates</a></li> #}
  <li><a class="govuk-link" href="#training-with-disabilities">Training with disabilities and other needs</a></li>
  <li><a class="govuk-link" href="#contact-training-provider">Contact this training provider</a></li>
  <li><a class="govuk-link" href="#support-and-advice">Support and advice</a></li>
</ul>
