<div class="govuk-!-margin-bottom-8">
  <h2 id="entry-requirements" class="govuk-heading-l">Entry requirements</h2>

  <h3 class="govuk-heading-m">Qualifications needed</h3>

  <p class="govuk-body">An undergraduate degree at class 2:2 or above, or equivalent</p>

  <p class="govuk-body">
    Your degree subject should be in Biology or a similar subject. Otherwise you’ll need to prove
    your subject knowledge in some other way.
  </p>

  <p class="govuk-body">Grade  (C) or above in English and maths, or equivalent qualification.</p>

  <p class="govuk-body">We’ll consider candidates with pending GCSEs.</p>

  <p class="govuk-body">
    We’ll consider candidates who need to take a GCSE equivalency test in English and maths.
  </p>
</div>
