<div class="govuk-!-margin-bottom-8">
  <h2 id="school-placements" class="govuk-heading-l">School placements</h2>
  <p class="govuk-body">
    We work with the following schools to provide placements during your teacher training.
  </p>
  <table
    class="govuk-table app-table--vertical-align-middle"
    data-qa="course__choose_a_training_location">
    <caption class="govuk-visually-hidden">List of locations and vacancies</caption>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
          Location
        </th>
        <th class="govuk-table__header" scope="col">
          Vacancies
        </th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong>Marling School</strong>
          <br/>
          Cainscross Road, Stroud, GL5 4HE
        </td>

        <td class="govuk-table__cell">Yes</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong>Stroud High School</strong>
          <br/>
          123 Main street, Stroud, GL1 2CD
        </td>

        <td class="govuk-table__cell">Yes</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong>Cheltenham Bournside School</strong>
          <br/>
          123 Main street, Cheltenham, CH1 2CD
        </td>

        <td class="govuk-table__cell">Yes</td>
      </tr>
    </tbody>
  </table>
</div>
