<div class="govuk-!-margin-bottom-8">
  <h2 id="school-placements" class="govuk-heading-l">School placements</h2>
  <p class="govuk-body">We are a partnership of 3 secondary schools; Marling School, Stroud, Stroud High School, Stroud and Cheltenham Bournside School. The training year involves two school placements and one day a week training with Gitep in Cheltenham.</p>
</div>
