{% set trainingWithDisabilities %}
Cotswold Edge Teaching Alliance is committed to equality and diversity. All schools that we place trainees in have clearly established policies, processes and systems for monitoring that ensure trainees of all abilities are suitably catered for and supported. Where trainees have had specific needs in the past, we have taken a bespoke approach to ensure there are no barriers to learning experienced.
{% endset %}

<div class="govuk-!-margin-bottom-8">
  <h2 id="training-with-disabilities" class="govuk-heading-l">Training with disabilities and other needs</h2>
  {{ trainingWithDisabilities | markdown | safe }}
</div>
