{% extends "layout.html" %}
{% block pageTitle %}Email: Welcome to Apply for postgraduate teacher training{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">You’ve just received this email</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds fake-email">
      <h1 class="govuk-heading-m">
        Welcome to Apply for postgraduate teacher&nbsp;training
      </h1>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- <p>Dear X,</p> -->
      <p>Thank you for registering on the Department for Education (DfE)’s Apply for postgraduate teacher training service. </p>
      <p>
        <a href="#">Start your application to [Training Provider]</a>
      </p>

      <p>Apply is a new application service for prospective trainee teachers which we think will improve outcomes and user experience for candidates. DfE is running a pilot of the service with a limited number of training providers to test its effectiveness.</p>
      <p>If your application to study for [Course name (X100)] with [Training Provider] is successful, you’ll be enrolled in exactly the same way as any other candidate.</p>
      <p>You can get help from DfE as you complete the application form by emailing <a href="#">becomingateacher@digital.education.gov.uk</a>. We will also support you as you go through the selection process with your provider.</p>
      <p>As you use the service, please get in touch with general comments and concerns. Your feedback is valuable to us and will help us improve.</p>
      <p>For more general teacher training questions, visit <a href="https://getintoteaching.education.gov.uk">Get into Teaching</a>.</p>
    </div>
  </div>



{% endblock %}
