<div class="govuk-!-margin-bottom-8">
  {% if course.provider.train_with_us %}
    <h2 id="about-training-provider" class="govuk-heading-l">About the training provider</h2>
    {{ course.provider.train_with_us | markdown | safe }}
  {% endif %}
  {% if userJourney in ["browse","filter","hackday"] %}
    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.view }}#courses">View all courses from {{ course.provider.name }}</a>
    </p>
  {% endif %}
  {% if course.about_accredited_body %}
    <h3 class="govuk-heading-m">About the accredited provider</h3>
    {{ course.about_accredited_body | markdown | safe }}
  {% endif %}
</div>
