{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    Teaching London SCITT
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">About the course</h3>
        <p>
          The English PGCE introduces students to the broad scope of English as a curriculum subject, including media and drama, across the 11–16 age range. Along with practical knowledge, it offers perspectives on the role of language in learning, the teaching of literacies and literature, the principles of syllabus design and evaluation, and assessment and recording.
        </p>
        <p>
          You will develop an understanding of classroom practice and the theories underpinning teaching and learning in English, media and drama. Tasks set throughout the year will enable you to reflect on your own as well as children’s learning and development. Most of our schools offer opportunities to work with pupils who have English as an additional language or special educational needs.
        </p>
        <p>
          Students undertake two level 7 (Master’s-level) modules of 30 credits each, totaling 60 credits. These can be carried forward onto full Master’s programmes at the IOE.
        </p>
        <p>
          The Secondary PGCE consists of three core modules: two Master’s-level (level 7) modules, which are assessed through written assignments, and the Professional Practice module, which is assessed by the observation of practical teaching in placement schools.
        </p>
        <p>
          Completion of the Professional Practice module and the two level 7 (Master’s level) modules (60 credits) will result in the award of a Postgraduate Certificate of Education (PGCE). Completion of the Professional Practice module and one or two level 6 (undergraduate/Bachelor’s level) modules, will lead to the Professional Graduate Certificate of Education (PgCE).
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <a href="#" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><span>About the course</span></li>
            <li><a href="ucl_modules.html">Modules</a></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
