{% extends "_layouts/default.njk" %}

{% set title = "Find courses that pay a salary" %}

{% block backLink %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>On a salaried course you’ll be paid and taxed as an unqualified teacher. The salary awarded will differ between schools – you should check the salary with the school before you apply.</p>
      <p>Salaried courses are not eligible for bursaries, scholarships or student finance. There are usually no course fees to pay.</p>

      <form action="/results">
        {{ govukRadios({
          name: "salary",
          items: items
        }) }}

        {{ govukButton({
          text: "Find courses"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
