{% extends "_layouts/default.njk" %}

{% set title = "Which Secondary subject do you want to teach?" %}

{% block pageNavigation %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/results">
        {% set items = [] %}
        {% for subject in subjectItems %}

          {% if subject.text == "Secondary" or subject.text == "Secondary: Modern languages" %}
            {% for item in subject.items %}
              {% set items = items | push(item) %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: subject.text,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all subjects you are interested in teaching"
          },
          name: "subjects",
          items: (items | sort(attribute="text") )
        }) }}


        {{ govukButton({
          text: "Find courses"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
