{% extends "_layouts/default.njk" %}

{% set title = "Select the subjects you want to teach" %}

{% block pageNavigation %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/results">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for subject in subjectItems %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                    {{ subject.text }}
                  </span>
                </h2>
              </div>
              <div class="govuk-accordion__section-content">
                {% if subject.text == "Primary" %}
                  <p class="govuk-body">Trainee primary school teachers learn to teach all subjects across the national curriculum.</p>
                  <p class="govuk-body">You can choose to add a specialist subject to your training. This could be a subject you have qualifications or experience in.</p>
                  <p class="govuk-body">Your training will develop your knowledge of your specialist subject. This is so you can support other teachers to teach that subject.</p>
                {% endif %}
                {{ govukCheckboxes({
                  name: "subjects",
                  items: subject.items
                }) }}
              </div>
            </div>
          {% endfor %}
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                  Special educational needs and disability (SEND)
                </span>
              </h2>
            </div>
            <div class="govuk-accordion__section-content">
              {{ govukCheckboxes({
                name: "send",
                items: sendItems
              }) }}
            </div>
          </div>
        </div>
        {{ govukButton({
          text: "Find courses"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
