{% extends "layout.html" %}
{% set title = "Find courses by subject" %}

{% block backLink %}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <form action="/results">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for level in groups %}
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ loop.index }}">
                    {{ level.text }}
                  </span>
                </h2>
              </div>
              <div class="govuk-accordion__section-content">
                {{ govukCheckboxes({
                  name: "subject",
                  items: level.items
                }) }}
              </div>
            </div>
          {% endfor %}
        </div>

        {{ govukButton({
          text: "Find courses"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
