{% extends "_layouts/default.njk" %}

{% set title = provider.name + " (" + provider.code + ")" %}

{% block pageTitle %}
{{ "Error: " if showError }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{% if referrer == "course" %}
  {% set backLinkText = "Back to course" %}
{% else %}
  {% set backLinkText = "Back to search results" %}
{% endif %}
{{ govukBackLink({
  text: backLinkText,
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% if data.cycleClosed %}
    {% include "_includes/cycle-closed-banner.njk" %}
  {% elif data.nearingEndOfCycle %}
    {% include "_includes/nearing-end-of-cycle-banner.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./sections/contents.njk" %}

      {% if provider.train_with_us %}
        {% include "./sections/about-training-provider.njk" %}
      {% endif %}

      {% if provider.train_with_disability %}
        {% include "./sections/training-with-disabilities.njk" %}
      {% endif %}

      {% include "./sections/contact-training-provider.njk" %}

      {% include "./sections/courses.njk" %}

      {% include "./sections/locations.njk" %}

    </div>
  </div>

{% endblock %}
