
{% extends "layout.html" %}
{% block pageTitle %}Alpha version 4{% endblock %}

{% block content %}

  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">Alpha version 4</h1>

  <a href="https://search-and-compare-alpha.herokuapp.com/v04/">Version 4 prototype</a>

  {% set contents = [
  { text: 'Index', id: 'index' },
  { text: 'Choose your search', id: 'choose-your-search' },
  { text: 'Whats your degree', id: 'whats-your-degree' },
  { text: 'What subject', id: 'what-subject' },
  { text: 'Financial support', id: 'financial-support' },
  { text: 'Search results', id: 'search-results' },
  { text: 'Course details', id: 'course-details' },
  { text: 'About the course', id: 'about-the-course' },
  { text: 'Modules', id: 'modules' },
  { text: 'Course comparison', id: 'course-comparison' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Index', 'index', '/public/images/history/alpha-version-4/thumbnails/01-index.png', '/public/images/history/alpha-version-4/01-index.png', '') }}

  {{ macros.screenshot('Choose your search', 'choose-your-search', '/public/images/history/alpha-version-4/thumbnails/02-choose-your-search.png', '/public/images/history/alpha-version-4/02-choose-your-search.png', '') }}

  {{ macros.screenshot('Whats your degree', 'whats-your-degree', '/public/images/history/alpha-version-4/thumbnails/03-whats-your-degree.png', '/public/images/history/alpha-version-4/03-whats-your-degree.png', '') }}

  {{ macros.screenshot('What subject', 'what-subject', '/public/images/history/alpha-version-4/thumbnails/04-what-subject.png', '/public/images/history/alpha-version-4/04-what-subject.png', '') }}

  {{ macros.screenshot('Financial support', 'financial-support', '/public/images/history/alpha-version-4/thumbnails/05-financial-support.png', '/public/images/history/alpha-version-4/05-financial-support.png', '') }}

  {{ macros.screenshot('Search results', 'search-results', '/public/images/history/alpha-version-4/thumbnails/06-search-results.png', '/public/images/history/alpha-version-4/06-search-results.png', '') }}

  {{ macros.screenshot('Course details', 'course-details', '/public/images/history/alpha-version-4/thumbnails/07-course-details.png', '/public/images/history/alpha-version-4/07-course-details.png', '') }}

  {{ macros.screenshot('About the course', 'about-the-course', '/public/images/history/alpha-version-4/thumbnails/08-about-the-course.png', '/public/images/history/alpha-version-4/08-about-the-course.png', '') }}

  {{ macros.screenshot('Modules', 'modules', '/public/images/history/alpha-version-4/thumbnails/09-modules.png', '/public/images/history/alpha-version-4/09-modules.png', '') }}

  {{ macros.screenshot('Course comparison', 'course-comparison', '/public/images/history/alpha-version-4/thumbnails/10-course-comparison.png', '/public/images/history/alpha-version-4/10-course-comparison.png', '') }}


{% endblock %}
