
{% extends "layout.html" %}
{% block page_title %}User research 3 May 2018{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">User research 3 May 2018</h1>

  <p class="lede">In this round we tested the <a href="/history/private-beta-launch">private beta as launched</a>, with one change.</p>

  {{ macros.screenshot('Search by location', 'search-by-location', '/public/images/history/user-research-may-3/thumbnails/01-search-by-location.png', '/public/images/history/user-research-may-3/01-search-by-location.png', '
    <p>Trial a wider default search radius, increasing from 5 to 20 miles.</p>

    <h3 class="heading-medium">Result</h3>

    <p>Users who did not interact with the radius found and compared more results. While users who expressed a desire to see results within a closer area were seen to switch to 5 miles.</p>
  ') }}

</main>
{% endblock %}
