{% extends "layout.html" %}
{% set title %}Apply for this course{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/course/' + course.providerCode + '/' + course.programmeCode, 'Back') }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <form action="/apply-v2/{{ course.providerCode }}/{{ course.programmeCode }}" class="govuk-grid-column-two-thirds" method="post">
      <p class="govuk-!-margin-bottom-6">To give you the best application experience, we need to know a bit more.</p>

      {% set fields = [
          {
            name: 'I want to apply for several courses'
          },
          {
            name: 'I have already started my UCAS application this year'
          },
          {
            name: 'I only want to apply for this course'
          }
        ]
      %}

      {{ macros.radioGroup('who-apply', fields) }}

      {% set more %}
      <p>You can use the new service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create your teacher training profile</li>
        <li>apply to training providers who have opted in to the trial</li>
        <li>get help completing your application form</li>
        <li>get help if you need to apply to non-opted in providers using UCAS</li>
      </ul>
      {% endset %}

      <div class="govuk-form-group">
        <input type="submit" class="govuk-button" value="Continue">
      </div>
    </form>
  </div>
{% endblock %}
