{% extends "layout.html" %}
{% set title %}Apply for this course{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/course/' + course.providerCode + '/' + course.programmeCode, 'Back') }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  {% set moreText %}
    <p>
      When you apply you’ll need these codes for the Choices section of your application form:
    </p>

    <ul class="govuk-list">
      <li style="margin-bottom: 20px">Training provider code:<br /><strong class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ course.providerCode }}</strong></li>
      <li>Training programme code:<br /><strong class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ course.programmeCode }}</strong></li>
      <!-- <li>training location or campus code: leave empty</li> -->
    </ul>

    <p>Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training through UCAS</a>.</p>
  {% endset %}

  <div class="govuk-grid-row">
    <form action="/apply/{{ course.providerCode }}/{{ course.programmeCode }}" class="govuk-grid-column-two-thirds" method="post">
      <p class="govuk-!-margin-bottom-6">You can apply for this course through UCAS, or by using a new GOV.UK service. The GOV.UK service will eventually replace UCAS, but for now, it’s limited to just a few providers.</p>

      <h2 class="govuk-heading-l">Choose how to apply</h2>
      {% set fields = [
          {
            name: 'Apply through UCAS',
            text: '<p>Use UCAS if you’re applying to multiple providers, or have previously applied for teacher training on the UCAS service.</p>',
            more: moreText
          },
          {
            or: true
          },
          {
            name: 'Apply through the GOV.UK service',
            text: '<p>It’s quicker to use but limited to just a few training providers.</p><p>For providers who haven’t opted in to the trial, you will need to apply through UCAS website. Using the new service doesn’t stop you applying on UCAS for these other courses.</p>'
          }
        ]
      %}

      {{ macros.radioGroup('who-apply', fields) }}

      {% set more %}
      <p>You can use the new service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>create your teacher training profile</li>
        <li>apply to training providers who have opted in to the trial</li>
        <li>get help completing your application form</li>
        <li>get help if you need to apply to non-opted in providers using UCAS</li>
      </ul>
      {% endset %}

      <div class="govuk-form-group">
        <input type="submit" class="govuk-button govuk-button--start" value="Continue">
      </div>
    </form>
  </div>
{% endblock %}
