{% extends "layout.html" %}
{% set title %}Apply for this course{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/course/' + course.providerCode + '/' + course.programmeCode, 'Back') }}{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You must apply for this course on UCAS. You’ll need to register with UCAS before you can apply. Visit Get into Teaching for <a href="https://getintoteaching.education.gov.uk/how-to-apply/apply">guidance on applying for teacher training</a>.</p>

      <p>When you apply you’ll need these codes for the Choices section of your application form:</p>
      <div class="govuk-inset-text">
        <ul class="govuk-list">
          <li class="govuk-!-margin-bottom-2">
            Training provider code:
            <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ course.providerCode }}</span>
          </li>
          <li>
            Training programme code:
            <span class="govuk-!-display-block govuk-!-font-size-36 govuk-!-font-weight-bold">{{ course.programmeCode }}</span>
          </li>
        </ul>
      </div>

      <p>
        <a class="govuk-button govuk-button--start" href="https://2019.teachertraining.apply.ucas.com/apply/student/login.do">
          Apply through UCAS
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </p>
    </div>
  </div>
{% endblock %}
