{% extends "_layouts/default.njk" %}

{% set title = "Cookies" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Cookies</h1>
      <p class="govuk-body">Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
      <p class="govuk-body">We use cookies to make ‘Find postgraduate teacher training’ work and collect information about how you use our service.</p>

      <h2 class="govuk-heading-m">Essential cookies</h2>
      <p>Essential cookies keep your information secure while you use ‘Find postgraduate teacher training’. We do not need to ask permission to use them.</p>
      {{ govukTable({
        firstCellIsHeader: false,
        head: [{
          text: "Name",
          classes: "govuk-!-width-one-third"
        }, {
          text: "Purpose",
          classes: "govuk-!-width-one-third"
        }, {
          text: "Expires",
          classes: "govuk-!-width-one-third"
        }],
        rows: [
          [{
            text: "_find_teacher_training_session"
          }, {
            text: "Stores encrypted session data"
          }, {
            text: "When you close your browser"
          }],
          [{
            text: "consented-to-cookies"
          }, {
            text: "Saves your cookie consent settings"
          }, {
            text: "6&nbsp;months"
          }]
        ]
      }) }}

      <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
      <p class="govuk-body">With your permission, we use Google Analytics to collect data about how you use ‘Find postgraduate teacher training’. This information helps us improve our service.</p>
      <p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>
      <p class="govuk-body">Google Analytics stores anonymised information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>how you got to ‘Find postgraduate teacher training’</li>
        <li>the pages you visit on this site and how long you spend on them</li>
        <li>what you click on while you’re visiting the site</li>
      </ul>
      {{ govukTable({
        firstCellIsHeader: false,
        head: [{
          text: "Name",
          classes: "govuk-!-width-one-third"
        }, {
          text: "Purpose",
          classes: "govuk-!-width-one-third"
        }, {
          text: "Expires",
          classes: "govuk-!-width-one-third"
        }],
        rows: [
          [{
            text: "_ga"
          }, {
            text: "Distinguishes anonymous&nbsp;users"
          }, {
            text: "2&nbsp;years"
          }],
          [{
            text: "_gid"
          }, {
            text: "Distinguishes anonymous&nbsp;users"
          }, {
            text: "24&nbsp;hours"
          }],
          [{
            text: "_gat"
          }, {
            text: "Limits requests"
          }, {
            text: "10&nbsp;minutes"
          }],
          [{
            text: "_gat_gtag_UA_112932657_1"
          }, {
            text: "Limits requests"
          }, {
            text: "10&nbsp;minutes"
          }]
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        fieldset: {
          legend: {
            text: "Do you want to accept analytics cookies?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [{
          value: "yes",
          text: "Yes"
        }, {
          value: "no",
          text: "No",
          checked: true
        }]
      }) }}

      {{ govukButton({
        text: "Save cookie settings"
      }) }}
    </div>
  </div>
{% endblock %}
