{% extends "_layouts/default.njk" %}

{% set title %}{{ course.name }} ({{ course.code }}) with {{ course.provider.name }}{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    text: "Back to search results",
    href: "/results"
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/nearing-end-of-cycle-banner.njk" %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-heading-l govuk-!-margin-bottom-1">{{ course.provider.name }}</span>
    {{ course.name }} ({{ course.code }})
  </h1>

  {% include "_includes/course/summary.njk" %}

  {% include "_includes/course/contents.njk" %}

  {% include "_includes/course/about-this-course.njk" %}

  {% include "_includes/course/school-placements.njk" %}

  {% include "_includes/course/entry-requirements.njk" %}

  {% if course.train_with_us or course.accredited_body_code %}
    {% include "_includes/course/about-the-training-provider.njk" %}
  {% endif %}

  {% if course.salaried %}
    {% include "_includes/course/salary.njk" %}
  {% endif %}

  {% include "_includes/course/fees-and-financial-support.njk" %}

  {% if course.interview_process %}
    {% include "_includes/course/interview-process.njk" %}
  {% endif %}

  {% include "_includes/course/international-students.njk" %}

  {% if course.provider.train_with_disability %}
    {% include "_includes/course/training-with-disabilities.njk" %}
  {% endif %}

  {% include "_includes/course/contact-the-training-provider.njk" %}

  {% include "_includes/course/support-and-advice.njk" %}

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l govuk-!-width-two-thirds">

  {% include "_includes/course/apply-for-course.njk" %}

  {{ course | log }}
{% endblock %}
