{% extends "layout.html" %}
{% set title %}{{ course.name }} with {{ course.provider }}{% endset %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}

<main id="content" role="main">
  {{ macros.betaBanner()}}
  <a class="link-back" href="/results">Back to search results</a>
  <h1 class="heading-xlarge">
    {{ course.name }} with {{ course.provider }}
    {% if course.accrediting %}<div class="heading-secondary" style="margin-top: 10px">Accredited provider: {{ course.accrediting }}</div>{% endif %}
  </h1>

  <div class="grid-row">
    <div class="column-full">
      <dl class="aligned">
        <dt>Course offered:</dt>
        <dd>{{ course.options[0] }}</dd>
        <dt>Qualification:</dt>
        <dd>
          <details role="group">
            {% if 'PGCE' in course.options[0] %}
              <summary style="margin-bottom: 0;" role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">PGCE with QTS</span></summary>

              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                  <p>A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) allows you to teach in England, Scotland, Wales and Northern Ireland. It’s also recognised internationally.</p>
                  <p>Many PGCE courses include credits that count toward a Master’s degree.</p>
              </div>
            {% else %}
              <summary style="margin-bottom: 0;" role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">QTS</span></summary>

              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                  <p>Qualified teacher status (QTS) allows you to teach in state schools in England.</p>
                  <p>If you want to teach in the rest of the UK or internationally, consider the qualification PGCE (postgraduate certificate in education) with QTS instead.</p>
              </div>
            {% endif %}
          </details>
        </dd>
        <dt>Course length:</dt>
        <dd>1 year</dd>
        <dt>Date you can apply from:</dt>
        <dd>9 October 2018</dd>
        <dt>Date course starts:</dt>
        <dd>October 2019</dd>
        <dt>Website:</dt>
        <dd><a href="{{ course.providerAddress.url }}">{{ course.providerAddress.url }}</a></dd>
      </dl>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-small">Contents</h2>
      <ul class="list">
        <li><a href="#section-about">About the course</a></li>
        {% if course.enrichment['InterviewProcess'] %}
          <li><a href="#section-interview">Interview process</a></li>
        {% endif %}
        <li><a href="#section-schools">How school placements work</a></li>
        {% if course.enrichment['SalaryDetails'] %}
          <li><a href="#section-salary">Salary</a></li>
        {% else %}
          <li><a href="#section-fees">Fees</a></li>
        {% endif %}
        <li><a href="#section-financial-support">Financial support</a></li>
        <li><a href="#section-entry">Requirements</a></li>
        <li><a href="#section-about-provider">About the training provider</a></li>
        <li><a href="#section-access-needs">Training with disabilities and other needs</a></li>
        <li><a href="#section-contact">Contact details</a></li>
        <li><a href="#section-apply">Apply</a></li>
      </ul>

      {% if course.providerAddress.url %}
        <!-- <h2 class="heading-medium">About this course</h3>
        <div class="panel panel-border-wide add-top-margin">
          <p>
            Find out more about this course at:<br />
            <a href="{{ course.providerAddress.url }}">{{ course.providerAddress.url }}</a>
          </p>
        </div> -->
      {% endif %}

      <h2 class="heading-large" id="section-about">About the course</h2>
      {{ markdown(course.enrichment['AboutCourse']) | safe }}

      {% if course.enrichment['InterviewProcess'] %}
        <h2 class="heading-large" id="section-interview">Interview process</h2>
        {{ markdown(course.enrichment['InterviewProcess']) | safe }}
      {% endif %}

      <h2 class="heading-large" id="section-schools">How school placements work</h2>
      {{ markdown(course.enrichment['HowSchoolPlacementsWork']) | safe }}

      {% if course.enrichment['SalaryDetails'] %}
        <h2 class="heading-large" id="section-salary">Salary</h2>
        {{ markdown(course.enrichment['SalaryDetails']) | safe }}
      {% else %}
        <h2 class="heading-large" id="section-fees">Fees</h2>
        <p>The course fees for 2018/2019 are as follows:</p>
        <div class="body-text">
          <table>
            <tbody>
              <tr class="visually-hidden">
                <th>Student type</th>
                <th>Fees to pay</th>
              </tr>
              <tr>
                <td>UK students</td>
                <td>£{{ course.enrichment['FeeUkEu'] }}</td>
              </tr>
              <tr>
                <td>EU students</td>
                <td>£{{ course.enrichment['FeeUkEu'] }}</td>
              </tr>
              {% if course.enrichment['FeeInternational'] %}
              <tr>
                <td>International students</td>
                <td>£{{ course.enrichment['FeeUkEu'] }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        {{ markdown(course.enrichment['FeeDetails']) | safe }}
      {% endif %}

      <h2 class="heading-large" id="section-financial-support">Financial support</h3>
      {% if course.enrichment['SalaryDetails'] %}
        <p>Financial support isn’t available for this course.</p>
        <p>If you choose a course without a salary, you may be eligible for financial support while you study, including bursaries, scholarships and loans.</p>
      {% else %}
        <p>You may be eligible for <a href="https://www.gov.uk/teacher-training-funding">financial support while you study, including bursaries, scholarships and loans</a>.</p>
        <p><a href="https://getintoteaching.education.gov.uk/explore-my-options/overseas-graduates">Financial support if you’re from outside of the UK</a>.</p>
      {% endif %}

      {% if course.enrichment['FinancialSupport'] %}
        <h3 class="heading-medium">Financial support from the training provider</h3>
        {{ markdown(course.enrichment['FinancialSupport']) | safe }}
      {% endif %}

      <h2 class="heading-large" id="section-entry">Requirements</h2>

      <h3 class="heading-medium">Qualifications needed</h3>
      {{ markdown(course.enrichment['Qualifications']) | safe }}

      {% if course.enrichment['PersonalQualities'] %}
        <h3 class="heading-medium">Personal qualities</h3>
        {{ markdown(course.enrichment['PersonalQualities']) | safe }}
      {% endif %}

      {% if course.enrichment['OtherRequirements'] %}
        <h3 class="heading-medium">Other requirements</h3>
        {{ markdown(course.enrichment['OtherRequirements']) | safe }}
      {% endif %}

      <h2 class="heading-large" id="section-about-provider">About the training provider</h2>
      {{ markdown(course.inst['TrainWithUs']) | safe }}

      <h2 class="heading-large" id="section-access-needs">Training with disabilities and other&nbsp;needs</h2>
      {{ markdown(course.inst['TrainWithDisability']) | safe }}

      <h2 class="heading-large" id="section-contact">Contact details</h2>

      <dl class="aligned">
        <dt>Email:</dt>
        <dd><a href="#">admissions@apply-for-itt-at-pro.com</a></dd>
        <dt>Telephone:</dt>
        <dd>0208 123986</dd>
        <dt>Website:</dt>
        <dd><a href="{{ course.providerAddress.url }}">{{ course.providerAddress.url }}</a></dd>
        <dt>Address:</dt>
        <dd>
          {{ course.provider }}, {{ course.providerAddress.route }}, {{ course.providerAddress.postal_town }}, {{ course.providerAddress.post_code }}
        </dd>
      </dl>

      <h2 class="heading-large" id="section-apply">
        Apply
      </h2>

      <div class="notice add-double-bottom-margin" style="margin-top: 40px">
        <i class="icon icon-important">
          <span class="visually-hidden">Important</span>
        </i>
        <strong class="bold-small">
          You can’t apply for this course until 9 October 2018
        </strong>
      </div>

      <p>Apply on the UCAS website from 9 October. You’ll need to register with UCAS before you can apply.</p>
<!--
      <p>
        <a href="https://2018.teachertraining.apply.ucas.com/apply/student/login.do">Apply on the UCAS website</a>. You’ll need to register with UCAS before you can apply.
      </p> -->

      <p>
        When you apply you’ll need these codes for the Choices section of your application form:
      </p>

      <div class="panel panel-border-wide">
        <ul class="list">
          <li style="margin-bottom: 20px">Training provider code:<br /><strong class="bold-large">{{ course.providerCode }}</strong></li>
          <li>Training programme code:<br /><strong class="bold-large">{{ course.programmeCode }}</strong></li>
          <!-- <li>training location or campus code: leave empty</li> -->
        </ul>
      </div>

      <h3 class="heading-medium">Available training locations</h3>
      <p>You’ll also need to choose a training location and give the relevant training location code.</p>

      <table>
        <thead>
          <tr>
            <th>Code</th>
            <th style="width: 40%">Name</th>
            <th style="width: 50%">Address</th>
          </tr>
        </thead>
        <tbody>
          {% for school in course.schools %}
          <tr>
            <td><strong class="bold-medium">{{ school.code }}</strong></td>
            <td>{{ school.name }}</td>
            <td>{{ school.address }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</main>
{% endblock %}
