{% extends "_layouts/default.njk" %}

{% set title = "Postgraduate teacher training" %}

{% from "govuk/components/button/macro.njk" import govukButton %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">Find teacher training courses</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Primary schools</h2>
      <p>Train to teach children ages 5 to 11.</p>
      <p>To be eligible to train, you’ll need a degree and the following GCSEs at grade 4 (C) or <a href="#" class="govuk-link">equivalent</a>:</p>
      <ul class="govuk-list govuk-list--bullet">
    <li>maths</li>
    <li>English</li>
    <li>science</li>
  </ul>

      {{ govukButton({
        text: "Find primary courses",
        isStartButton: true,
        href: "/primary",
        classes: "app-button--start-larger"
      }) }}
    </div>

    <div class="govuk-grid-column-one-half app-grid-column-one-half--border-left">
      <h2 class="govuk-heading-l">Secondary schools</h2>
      <p>Train to teach pupils aged 11 to 18 your favourite subject or subjects.</p>
      <p>To be eligible to train, you’ll need a degree and the following GCSEs at grade 4 (C) or <a href="#" class="govuk-link">equivalent</a>:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>maths</li>
      <li>English</li>
      </ul>
      {{ govukButton({
        text: "Find secondary courses",
        isStartButton: true,
        href: "/secondary",
        classes: "app-button--start-larger"
      }) }}
    </div>
  </div>


  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-full">
      <div class=" app-grid-column--grey ">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Explore which type of teaching suits you best</h3>
            <p class="govuk-body"><a href="https://adviser-getintoteaching.education.gov.uk" class="govuk-link">Talk to a teacher training adviser</a> to get help deciding whether to teach in primary or secondary schools.</p>
            <p class="govuk-body">You can also <a href="https://schoolexperience.education.gov.uk" class="govuk-link">get school experience</a> to try different types of schools.</p>
            <p class="govuk-body">If primary and secondary is not for you, you could consider teaching in <a href="https://getintoteaching.education.gov.uk/early-years-teaching-training" class="govuk-link">early years</a>, <a href="https://www.teach-in-further-education.campaign.gov.uk" class="govuk-link">further education</a> or <a href="https://nationalcareers.service.gov.uk/job-profiles/higher-education-lecturer" class="govuk-link">higher education</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="govuk-grid-row govuk-!-margin-top-8">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">If you’re already a school teacher</h2>
        <p class="govuk-body">If you have a degree and you’re already teaching in a school as an unqualified teacher, you might be able to skip teacher training and <a href="https://getintoteaching.education.gov.uk/assessment-only-providers" class="govuk-link">get qualified teacher status (QTS) through an assessment only programme</a>.</p>

        <p class="govuk-body">If you qualified as a teacher outside the UK, you may be able to <a href="https://www.gov.uk/government/publications/apply-for-qualified-teacher-status-qts-if-you-teach-outside-the-uk" class="govuk-link">apply for qualified teacher status</a> straight away, rather than training to teach in the UK.</p>

    </div>
  </div>

{% endblock %}
