{% extends "layout.html" %}

{% block pageTitle %}
Find postgraduate teacher training
{% endblock %}

{% block content %}


  
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" role="heading">
        Find postgraduate teacher training
      </h1>
      <p class="lede">
        Use this service to search and compare postgraduate teacher training courses in England.
      </p>

      <a class="govuk-button govuk-button--start" href="/start/location" role="button">Start now</a>

      <h2 class="govuk-heading-m">
        What you’ll need
      </h2>

      <h3 class="govuk-heading-s">GCSEs</h3>

      <p>To apply for a course you’ll need grade 4 (previously grade C) GCSEs in maths and English.</p>

      <p>If you want to teach in a primary school you’ll also need a minimum grade 4 in a science subject.</p>

      <p>If you don’t have these qualifications, you must prove you have the equivalent level of knowledge in these subjects.</p>

      <h3 class="govuk-heading-s">Degree</h3>

      <p>You’ll need a UK degree, or the international equivalent.</p>

      <h3 class="govuk-heading-s">Tests and checks</h3>

      <p>Before you start the course you’ll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>pass literacy and numeracy skills tests</li>
        <li>have a Disclosure and Barring Service (DBS) security check</li>
      </ul>

      <h2 class="govuk-heading-m">
        Other ways into teaching
      </h2>
      <p>
        Find out more about teaching:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          if you <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/university-led-training/university-led-undergraduate-training">don’t have a degree</a>
        </li>
        <li>
          if you <a href="https://getintoteaching.education.gov.uk/explore-my-options/teacher-training-routes/specialist-training-options/assessment-only">have a degree and teaching experience already</a>&nbsp;–&nbsp;you might not need to do any more training
        </li>
        <li>
          <a href="https://www.teachfirst.org.uk/">young people from poorer backgrounds</a>, through Teach First
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
