{% extends "layout.html" %}

{% block page_title %}
Becoming a teacher alpha
{% endblock %}

{% block content %}
<div class="grid-row iterationBody">
  <div class="column-full font-xsmall">
    <h1 class="heading-large">
      Becoming a teacher beta
    </h1>
    <p class="bold-text">
      <a href="/v04/">The latest version of the prototype</a>
    </p>
    <h1 class="heading-medium">
      Experiments
    </h1>
    <p>
      The following are the experiments we have conducted so far.
    </p>
    <table >
      <thead>
        <tr>
          <th >Theme</th>
          <th >Version</th>
          <th >Experiment / Hypotheses</th>
          <th >URL</th>
          <th >Key findings </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Talent pool</span></td>
          <td class="font-xsmall" valign="top">0.1</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Users are open to be contacted by providers that fit their interests (as long as it's not spam)</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top"><a target="_blank" href="https://drive.google.com/drive/u/0/folders/0B6PVQ9q1AmvPY3J6TDZVd1VlNVU">Paper prototypes</a></td>
          <td>
            <ul class="list list-bullet">
              <li>The concept was very well received by candidates</li>
              <li>Providers perceive that though this will allow them to scout for candidates but will increase the workload. Smaller providers might not have the human resources for this activity. That might put larger universities at an unfair advantage.</li>
              <li><a target="_blank" href="https://docs.google.com/presentation/d/1xhVgYYgRkzIToW-fKesxpUgjQlzxjoEef7Pih1qOpo8/edit#slide=id.g201597969f_0_1">Usability test report</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Search and compare</span></td>
          <td class="font-xsmall" valign="top">Design sprint</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li> The concepts of routes is confusing. We believe that it will be easier for candidates to choose a course based on their needs rather than thinking of routes.</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="https://drive.google.com/open?id=0B59aTEWjE9hldG91YWxRbVFOVHc">Screenshots of the prototype</a></li>
            </ul>
          </td>
          <td>
            <ul class="list list-bullet">
              <li>The concept was well received but needs more exploration</li>
              <li>Some questions were misleading. For example, the question if they wanted to earn a salary while they studied was always answered as "YES" but they candidates were not eligible</li>
              <li>Some combination of answers might lead to an empty result set</li>
              <li><a target="_blank" href="https://drive.google.com/open?id=0B6PVQ9q1AmvPbjNEa2xaSVF3cHM">Detailed insights</a></li>
            </ul>
          </td>
        </tr>


        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Search and compare</span></td>
          <td class="font-xsmall" valign="top">0.1</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Most important criterias that users would like to compare providers by, are: length of course that leads to a teacher course / whats next after the course / cost / location / prestige or evaluation</li>
              <li>A visual way to compare all providers under the same critiera will facilitate / help users to identify which providers make more sense</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="https://drive.google.com/drive/folders/0B6PVQ9q1AmvPMU5KWUVWemlWTTA?usp=sharing">Paper prototypes</a></li>
              <li><a target="_blank" href="/search/v01/index2.html">Search and compare v0.1</a></li>
            </ul>
          </td>
          <td>
            <ul class="list list-bullet">
              <li>All the users were able to search and was desirable</li>
              <li>None of the users noticed the "Add to comparison link". Need to improve the affordance of it</li>
              <li>Comparison screen was perceived as very helpful</li>
              <li>Content has to be better since many users stated they did not understand certain terms and subjects were missing that the users were looking for</li>
              <li>Each provider has multiple course and routes to offer. The current prototype shows each provider offers only one route</li>
              <li><a target="_blank" href="https://docs.google.com/presentation/d/1-cnJO-VAYLBjKGbJS_eyiuJWLBjFO-84EPu9tNjw47g/edit">Usability test report</a></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">&nbsp;</span></td>
          <td class="font-xsmall" valign="top">0.2</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Changing content of Add to comparion from link to button will make the functionality more intuitive to the candidates. </li>
              <li>Most important criterias that users would like to compare providers by, are: length of course that leads to a teacher course / whats next after the course / cost / location / prestige or evaluation</li>
              <li>A visual way to compare all providers under the same critiera will facilitate / help users to identify which providers make more sense</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="/v02/index2.html">Search and compare v0.2</a></li>
              <li><a target="_blank" href="/v02/results.html">Results page</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Warning text on the question about salary helped candidates deselect themselves</li>
              <li>Results page was overwhelming, generally percieved as data overload</li>
              <li>Comparison button on the results page continues to be ignored</li>
              <li>Need for searching providers country-wide</li>
              <li><a target="_blank" href="https://docs.google.com/a/digital.education.gov.uk/presentation/d/1x1H1OmqZxpjNLv6Igout_8gqm9putwWNAeUH7cSgwZ0/edit?usp=sharing">Usability test report</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">&nbsp;</span></td>
          <td class="font-xsmall" valign="top">0.3</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Taking the users straight into the comparison screen rather than a generic results page will encourage comparison between courses </li>
              <li>Most important criterias that users would like to compare providers by, are: length of course that leads to a teacher course / whats next after the course / cost / location / prestige or evaluation</li>
              <li>A visual way to compare all providers under the same critiera will facilitate / help users to identify which providers make more sense</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="/v03/index2.html">Search and compare v0.3</a></li>
              <li><a target="_blank" href="/v03/results.html">Results page</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Yet to be tested</li>
            </ul>
          </td>
        </tr>

        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">&nbsp;</span></td>
          <td class="font-xsmall" valign="top">0.4</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>We believe showing relevant bursaries will encourage candidates to choose the in demand subjects if they are eligible.</li>
              <li>Most important criterias that users would like to compare providers by, are: length of course that leads to a teacher course / whats next after the course / cost / location / prestige or evaluation</li>
              <li>A visual way to compare all providers under the same critiera will facilitate / help users to identify which providers make more sense</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="/v04/">Search and compare v0.4</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>All tasks were completed by users with ease</li>
              <li>Content inconsistencies threw users off. We need to make sure all content is consistent. </li>
              <li><a href="https://docs.google.com/a/digital.education.gov.uk/presentation/d/12Gk55_Uh4u0N4taOUaCK-F34j6qNtsD2J2Rvvk4yzXM/edit?usp=sharing">Usability testing report</a></li>
            </ul>
          </td>
        </tr>

        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Account creation</span></td>
          <td class="font-xsmall" valign="top">0.1</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>By letting users store their profile and application in their accounts, users can easily track their applications / profile</li>
              <li>By allowing users to create their profiles under their accounts will avoid duplication of data entry which would remain the same across all applications </li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="https://drive.google.com/open?id=0B59aTEWjE9hlMDkwQ2wxU3dkQTQ">Paper prototypes</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Overall, participants easily went through the process with no major problems only minor UX/content adjustments suggested. This is most likely due to accounts and profiles being part and parcel of everyday digital life. People whistled through. (felt like people were making suggestions because they could and not because of pain-points)</li>
              <li>Expected to see the Forgot password link</li>
              <li>Expected to verify email address before creating the profile</li>
              <li><a href="https://docs.google.com/a/digital.education.gov.uk/presentation/d/1epsQ0Xwiuzb1AozExwC6TIa7X811vBJBYcn748pM_ic/edit?usp=sharing">Usability test report</a></li>
              </ul>
          </td>
        </tr>
        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">&nbsp;</span></td>
          <td class="font-xsmall" valign="top">0.2</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Digitised the Account Creation flow</li>
              <li>By letting users store their profile and application in their accounts, users can easily track their applications / profile</li>
              <li>By allowing users to create their profiles under their accounts will avoid duplication of data entry which would remain the same across all applications </li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="/v04/sign-in.html">Account creation v0.2</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Yet to be tested</li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Profile creation</span></td>
          <td class="font-xsmall" valign="top">0.1</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>By allowing users to create their profiles under their accounts will avoid duplication of data entry which would remain the same across applications </li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="https://drive.google.com/open?id=0B59aTEWjE9hlUjdTZnFWbFQ1QkU">Paper prototypes</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Overall, participants easily went through the process with no major problems only minor UX/content adjustments suggested. This is most likely due to accounts and profiles being part and parcel of everyday digital life. People whistled through. (felt like people were making suggestions because they could and not because of pain-points)</li>
              <li>Chronology of work experience and school experience generally seemed to be a kink in the UX.</li>
              <li>Final submit page seemed to be a salient moment. Different interpretations on what happens next and need to save for various reasons. </li>
              <li>Final home page yielded lots of ideas for improvements. </li>
              <li><a href="https://docs.google.com/a/digital.education.gov.uk/presentation/d/1epsQ0Xwiuzb1AozExwC6TIa7X811vBJBYcn748pM_ic/edit?usp=sharing">Usability test report</a></li>
              </ul>
          </td>
        </tr>
        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">&nbsp;</span></td>
          <td class="font-xsmall" valign="top">0.2</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>Digitised the Profile Creation flow</li>
              <li>By allowing users to create their profiles under their accounts will avoid duplication of data entry which would remain the same across applications </li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="/v04/profileCreation/index.html">Profile creation v0.2</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>Yet to be tested</li>
              </ul>
          </td>
        </tr>
        <tr>
          <td class="font-xsmall" valign="top"><span class="bold-text">Application</span></td>
          <td class="font-xsmall" valign="top">0.1</td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li>A personal statement that can be edited for each provider and in the apply 2 stage would meet the needs of candidates and providers</li>
              <li>Contextual help would help users along the application process, specially for the personal statement stage</li>
              <li>Allowing users to customsize their application per course will help candidates to better present themselves to providers</li>
            </ul>
          </td>
          <td class="font-xsmall" valign="top">
            <ul class="list list-bullet">
              <li><a target="_blank" href="https://drive.google.com/open?id=0B_fVnltHEjCLdVNBSk13WEFPc0U">Paper prototypes</a></li>
            </ul>
          </td>
          <td valign="top">
            <ul class="list list-bullet">
              <li>All tasks were completed by users with ease</li>
              <li>Content inconsistencies threw users off. We need to make sure all content is consistent. </li>
              <li><a href="https://docs.google.com/a/digital.education.gov.uk/presentation/d/12Gk55_Uh4u0N4taOUaCK-F34j6qNtsD2J2Rvvk4yzXM/edit?usp=sharing">Usability testing report</a></li>
              </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
