{% extends "govuk_template.html" %}
{% import 'macros/macros.njk' as macros  %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            Find postgraduate teacher training
          {% endblock %}
        </a>
      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_top %}
<div class="grid-row">
  <div class="column-two-thirds">
    <p>For advice about teaching or teacher training you can call <a href="https://getintoteaching.education.gov.uk/">Get into Teaching</a> on Freephone 0800 389 2500 or chat to an adviser using their <a href="https://ta-chat.education.gov.uk/chat/chatstart.aspx?domain=www.education.gov.uk&amp;department=GetIntoTeaching%27,%27new_win%27,%27width=0,height=0%27);return%20false;%22&SID=1">online chat service</a> between 8am and 8pm, Monday to Friday.</p>
  </div>
</div>
{% endblock %}

{% block footer_support_links %}
  <ul>
    <li>
      <a href="#">Give feedback or report a problem</a>
    </li>
    <li>
      <a href="#">Cookies</a>
    </li>
    <li>
      <a href="#">Privacy policy</a>
    </li>
    <li>
      <a href="#">Terms and conditions</a>
    </li>
  </ul>
{% endblock %}

{% block body_start %}
  <div data-module="edge">
{% endblock %}

{% block body_end %}
  </div>

  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
