{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/inset-text/macro.njk"    import govukInsetText %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tabs/macro.njk"          import govukTabs %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}

{% import 'macros/macros.njk' as macros  %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is a prototype of a new service. Some parts of this prototype do not work yet.'
  }) }}

  {% block breadcrumbs %}{% endblock %}
  {% block backLink %}{% endblock %}
  {% block afterPhaseBanner %}{% endblock %}
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      navigation: [
        {
          title: "Links",
          columns: 1,
          items: [
            {
              text: "Apply page with choice",
              href: "/apply/2BV/2XVC"
            },
            {
              text: "Apply page without choice",
              href: "/apply-ucas/2BV/2XVC"
            },
            {
              text: "Create an account",
              href: "/apply/2BV/2XVC/create-account"
            },
            {
              text: "UCAS Apply screenshots",
              href: "https://bat-design-history.herokuapp.com/apply-teacher-training/ucas-apply-application-form#11-welcome-to-ucas-teacher-training"
            },
            {
              text: "DfE Apply screenshot",
              href: "https://bat-design-history.herokuapp.com/public/images/apply-teacher-training/apply-august-2018/your-application.png"
            },
            {
              text: "Application complete",
              href: "/apply/2BV/2XVC/complete"
            }
          ]
        },
        {
          title: "Emails",
          items: [
            {
              href: "/email/apply-sign-up",
              text: "Sign up email"
            },
            {
              href: "/email/submitted",
              text: "Application submitted"
            },
            {
              href: "/email/rejection",
              text: "Application rejected"
            }
          ]
        }
      ],
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block bodyEnd %}
  </div>

  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
