{% extends "_layouts/default.njk" %}

{% set title = "Postgraduate teacher training" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Find secondary teacher training courses</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Courses with bursaries or scholarships</h2>

      <p class="govuk-body">Teachers for these subjects are in demand. You could be eligible for a bursary (£24,000) or scholarship (£26,000) if you choose one of these courses.</p>

      <p class="govuk-body">If your scholarship or bursary does not cover your living expenses and course fees, you can apply for student loan as well.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body govuk-!-margin-bottom-2">Languages</h3>
          <ul class="govuk-list">
            <li><a href="/secondary/French" class="govuk-link">French</a> (301)</li>
            <li><a href="/secondary/German" class="govuk-link">German</a> (203)</li>
            <li><a href="/secondary/Italian" class="govuk-link">Italian</a> (102)</li>
            <li><a href="/secondary/Japanese" class="govuk-link">Japanese</a> (98)</li>
            <li><a href="/secondary/Mandarin" class="govuk-link">Mandarin</a> (221)</li>
            <li><a href="/secondary/Russian" class="govuk-link">Russian</a> (105)</li>
            <li><a href="/secondary/Spanish" class="govuk-link">Spanish</a> (75)</li>
         </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body govuk-!-margin-bottom-2">Science, maths and technology</h3>
          <ul class="govuk-list">
            <li><a href="/secondary/Biology" class="govuk-link">Biology</a> (201)</li>
            <li><a href="/secondary/Chemistry" class="govuk-link">Chemistry</a> (314)</li>
            <li><a href="/secondary/Physics" class="govuk-link">Physics</a> (212)</li>
            <li><a href="/secondary/Maths" class="govuk-link">Maths</a> (124)</li>
            <li><a href="/secondary/Design and technology" class="govuk-link">Design and technology</a> (103)</li>
            <li><a href="/secondary/Computing" class="govuk-link">Computing</a> (95)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-top-4">Other subjects</h2>

      <p class="govuk-body">You cannot get a bursary or scholarship for these subjects, but you can apply for a student loan.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <ul class="govuk-list app-list--l app-two-columns">
        <li><a href="/secondary/Art and design" class="govuk-link">Art and design</a> (201)</li>
        <li><a href="/secondary/Business studies" class="govuk-link">Business studies</a> (314)</li>
        <li><a href="/secondary/Citizenship" class="govuk-link">Citizenship</a> (212)</li>
        <li><a href="/secondary/Classics" class="govuk-link">Classics</a> (124)</li>
        <li><a href="/secondary/Communication and media studies" class="govuk-link">Communication and media studies</a> (103)</li>
        <li><a href="/secondary/Dance" class="govuk-link">Dance</a> (95)</li>
        <li><a href="/secondary/Economics" class="govuk-link">Economics</a> (201)</li>
        <li><a href="/secondary/English as a second language" class="govuk-link">English as a second language</a> (314)</li>
        <li><a href="/secondary/Health and social care" class="govuk-link">Health and social care</a> (212)</li>
        <li><a href="/secondary/History" class="govuk-link">History</a> (124)</li>
        <li><a href="/secondary/Music" class="govuk-link">Music</a> (103)</li>
        <li><a href="/secondary/Physical education" class="govuk-link">Physical education</a> (95)</li>
        <li><a href="/secondary/Psychology" class="govuk-link">Psychology</a> (95)</li>
        <li><a href="/secondary/Religious Education" class="govuk-link">Religious Education</a> (23)</li>
        <li><a href="/secondary/Social sciences" class="govuk-link">Social sciences</a> (23)</li>
      </ul>

    </div>
  </div>

{% endblock %}
