{% extends "layout.html" %}
{% block page_title %}Set a subject to research with{% endblock %}
{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge" role="heading">
        Set a subject to research with (before research session)
      </h1>
      <form action="/" method="post">
        {{ macros.textbox('subject', 'Subject', 'Capitalise the subject, eg English or History')}}
        <input type="submit" class="button" value="Set subject">
      </form>
    </div>
  </div>
</main>
{% endblock %}
