{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit
{% endblock %} {% block content %}

<main id="content" role="main">
  <a class="link-back" href="../../results.html">Back to results</a>
  <h1 class="heading-xlarge">
    King's College London
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-detail">
        <h3 class="heading-medium">Modules</h3>
        <h4 class="heading-small">Language, Culture and Learning (30 Master's-level credits)</h4>
        <p>
          This module enables students to develop their understanding of the cultures and histories of London school students and to engage with issues of culture, continuity and change in English classrooms. From the beginning of the course we focus on learning. We ask students to consider the diversity of pupils by asking the question "Who are the learners and what do they know?". The individual, social, cultural and linguistic diversity of pupils is a distinctive feature of London classrooms and how this diversity affects teaching and learning is central to the course. Along with a practical knowledge and understanding of English methods, the module offers theoretical perspectives on the role of language in learning, the teaching of literacies and literature, the principles of syllabus design and evaluation, and the assessment and recording of learners progress. The work of this module is underpinned by social, cultural and historical theories of learning.
        </p>
        <p>
          Throughout the module, students are encouraged to reflect critically on their own experiences as learners and teachers, to engage with recent and relevant theories of learning and teaching as they relate to the field of English studies and critically and constructively engage with policy contexts and initiatives.
        </p>
      </div>
      <div class="course-detail">
        <h4 class="heading-small">English, Media and Drama (30 Master's-level credits)</h4>
        <p>
          This module serves as a broad introduction to and foundation for teaching English studies, including Media and Drama, across the secondary sector. Individual sessions focus on specific aspects of the English curriculum, providing knowledge and understanding of the National Curriculum together with an understanding of the framework of statutory and non-statutory requirements. The module draws on the range and variety of the subject knowledge that students bring with them onto the course and enables students to reconfigure this knowledge in the context of their developing experience of teaching and learning in London secondary classrooms.
        </p>
      </div>
    </div>
    <div class="column-one-third">
      <a href="#" class="button">Apply</a>
      <aside class="govuk-related-items" role="complementary">
        <div class="sidebar-section">
        <h2 class="heading-medium">Course details</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="ucl.html">Summary</a></li>
            <li><a href="ucl_course.html">About the course</a></li>
            <li><span>Modules</span></li>
            <li><a href="ucl_entry.html">Entry requirements</a></li>
            <li><a href="ucl_partners.html">Partner schools</a></li>
            <li><a href="ucl_outcome.html">Course outcome</a></li>
            <li><a href="ucl_contacts.html">Contacts</a></li>
          </ul>
        </nav>
      </div>
      </aside>
    </div>
  </div>

</main>
{% endblock %}
