{% extends "_layouts/default.njk" %}

{% set title = "Cotswold Edge Teaching Alliance" %}
{% set caption = "Bath Spa University - Biology (CX11)" %}

{% block pageTitle %}
{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/hackday/course/1"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if caption %}
          <span class="govuk-caption-xl">{{ caption }}</span>
        {% endif %}
        {{ title }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./sections/contents.njk" %}

      {% include "./sections/about-training-provider.njk" %}

      {% include "./sections/school-placements.njk" %}

      {# {% include "./sections/entry-requirements.njk" %} #}

      {# {% include "./sections/salary.njk" %} #}

      {# {% include "./sections/fees-and-financial-support.njk" %} #}

      {# {% include "./sections/interview-process.njk" %} #}

      {# {% include "./sections/international-candidates.njk" %} #}

      {% include "./sections/training-with-disabilities.njk" %}

      {% include "./sections/contact-training-provider.njk" %}

      {% include "./sections/support-and-advice.njk" %}

    </div>
  </div>

{% endblock %}
