{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      {{macros.backLink("q1.html")}}
      {{macros.h1("What subjects would you like to teach?")}}
      {{macros.text("Select all subjects you are interested in teaching:")}}
      {%set subjects = [
        "Art and Design",
        "Biology",
        "Business Studies",
        "Chemistry",
        "Classics",
        "Computing",
        "Design and Technology",
        "Drama",
        "Economics",
        "English",
        "Geography",
        "History",
        "Mathematics",
        "Modern Foreign Languages",
        "Music",
        "Physical Education",
        "Physics",
        "Primary",
        "Psychology",
        "Religious Education",
        "General",
        "Other"]%}
      {{macros.formStart()}}
        {% for subject in subjects %}
          {{macros.checkbox("subject", [subject])}}
        {% endfor %}
        {{ macros.submitLink("Continue","q3.html")}}
      {{macros.formEnd()}}
    </div>
  </div>
</main>

{% endblock %}
